<%# convert class variable to a local variable if the local hasn't been set %>
<% generic_file = @generic_file unless generic_file  %>
<% include_file ||= true %>

<div class="breadcrumbs">
  <%
     crumbs = []
     crumbs << link_to('Home', root_path)

     case request.referer
     when /collections/
       crumbs << link_to(t('sufia.bread_crumb.collections_list'), sufia.dashboard_collections_path)
     when /dashboard/
       crumbs << link_to(t('sufia.bread_crumb.file_list'), sufia.dashboard_files_path)
     when /files/
       crumbs << link_to(t('sufia.bread_crumb.previous'), request.referer)
     when /catalog/
       crumbs << link_to(t('sufia.bread_crumb.search_results'), request.referer)
     end

     crumbs << generic_file.title.first if include_file

     crumbs.each do |crumb| %>
       <% if crumb == crumbs.last %>
       <span class="active"> <%= crumb %>
       <% else %>
       <span> <%= crumb %> <span class="divider">/</span>
       <% end %>
       </span>
  <% end %>
</div><!-- /breadcrumbs -->
