<%# convert class variable to a local variable if the local hasn't been set %>
<% generic_file = @generic_file unless generic_file  %>

<div class="breadcrumbs">
  <%
     include_file = true if include_file.blank?
     crumbs = []
     crumbs << link_to('Home', root_path)

     case request.referer
     when /dashboard/
       crumbs << link_to('Dashboard', sufia.dashboard_index_path)
     when /files/
       crumbs << link_to('Back to previous', request.referer)
     when /catalog/
       crumbs << link_to('Back to search results', request.referer)
     end

     crumbs << generic_file.title.first if include_file

     crumbs.each do |crumb| %>
       <% if crumb == crumbs.last %>
       <span class="active"> <%= crumb %>
       <% else %>
       <span> <%= crumb %> <span class="divider">/</span>
       <% end %>
       </span>
  <% end %>
</div><!-- /breadcrumbs -->
