<div class="breadcrumbs">
  <%
     crumbs = []
     crumbs << link_to('Home', root_path)

     case request.referer
     when /dashboard/
       crumbs << link_to('Dashboard', dashboard_path)
     when /files/
       crumbs << link_to('Back to previous', request.referer)
     when /catalog/
       crumbs << link_to('Back to search results', request.referer)
     end

     crumbs << @generic_file.title.first

     crumbs.each do |crumb| %>
       <% if crumb == crumbs.last %>
       <span class="active"> <%= crumb %>
       <% else %>
       <span> <%= crumb %> <span class="divider">/</span>
       <% end %>
       </span>
  <% end %>
</div><!-- /breadcrumbs -->
