<div class="breadcrumbs">
  <%=
     case request.referer
     when /dashboard/
       link_to 'Dashboard', dashboard_path
     when /files/
       link_to 'Dashboard', dashboard_path
     when /catalog/
       link_to 'Back to Search Results', request.referer
     else
       link_to 'Catalog', root_path
     end
  %>
  &nbsp;&nbsp;/&nbsp;
  <span class="active">
    <%= @generic_file.title.join(' | ') %>
  </span>
</div><!-- /breadcrumbs -->
