<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<%# convert class variable to a local variable if the local hasn't been set %>
<% generic_file = @generic_file unless generic_file  %>

<div id="descriptions_display" class="tab-pane active">
  <%= form_for generic_file, :url => sufia.generic_file_path, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
    <%= hidden_field_tag('redirect_tab', 'descriptions') %>
    <h2 class="non lower">Descriptions <small class="pull-right"><span class="error">*</span> indicates required fields</small> </h2>
      <div class="well">

        <% (generic_file.terms_for_editing).each do |term| %>
          <%= render :partial => "generic_files/field_form", :locals => { generic_file: generic_file, f: f, render_req: true, key: term } %>
        <% end %>
   
      </div><!-- /well -->
    <div class="row">
      <div class="form-actions">
        <%= f.button '<i class="icon-save"></i> Save Descriptions'.html_safe, :type => 'submit', :class => 'btn-primary', :onclick => "confirmation_needed = false;", :id => "upload_submit", :name => "update_descriptions" %>
      </div>
    </div>
  <% end %>
</div>
