<div id="descriptions_display" class="tab-pane active">
  <%= form_for [sufia, @form], html: { multipart: true } do |f| %>
    <%= hidden_field_tag('redirect_tab', 'descriptions') %>
    <h1>Descriptions <span class="pull-right required-field">* indicates required fields</span></h1>
      <div class="well">

        <% f.object.terms.each do |term| %>
          <%= render "records/edit_field", f: f, render_req: true, key: term %>
        <% end %>

      </div><!-- /well -->
    <div>
      <%= f.button type: 'submit', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "upload_submit", name: "update_descriptions" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i> Save Descriptions
      <% end %>
    </div>
  <% end %>
</div>
