<li>
  <h2>
    <%= link_to generic_file.title_or_label, sufia.generic_file_path(generic_file) %>
    <small>[<%= link_to 'Download', sufia.download_path(generic_file), target: '_new' %>]</small>
  </h2>
  <div class="row">
    <div class="col-sm-3">
      <%= render_thumbnail_tag generic_file %>
    </div>
    <div class="col-sm-9">
      <%= render 'shared/attributes', work: generic_file %>
    </table>
  </div>
</li>

