  <div id="permissions_display" class="tab-pane">
    <%= form_for @generic_file, url: sufia.generic_file_path(@generic_file), html: {multipart: true, class: 'form-horizontal', id: 'permission'} do |f| %>
      <%= hidden_field_tag('redirect_tab', 'permissions') %>
      <%= render partial: "generic_files/permission_form", locals: { gf: @generic_file, f: f } %>
      <div class="action-button" id="permissions_submit">
        <%= button_tag '<i class="glyphicon glyphicon-floppy-disk"></i> Save'.html_safe, type: 'submit', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "upload_submit", name: "update_permission" %>
      </div>
  <% end %>
</div><!-- /#permissions_display -->

