  <div id="permissions_display" class="tab-pane">
    <%= form_for generic_file, url: sufia.generic_file_path(generic_file), html: {multipart: true, class: 'form-horizontal', id: 'permission'} do |f| %>
      <%= hidden_field_tag('redirect_tab', 'permissions') %>
      <%= render "generic_files/permission_form", f: f %>
      <div id="permissions_submit">
        <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg', onclick: "confirmation_needed = false;", id: "upload_submit", name: "update_permission" do %>
          <i class="glyphicon glyphicon-floppy-disk"></i> Save
        <% end %>
      </div>
  <% end %>
</div><!-- /#permissions_display -->

