<p>You may grant &quot;View/Download&quot; or &quot;Edit&quot; access for specific users and/or groups to files.
  Enter a valid <%=t('sufia.account_name') %>, one at a time, select the access level for that user and click
  <button class='btn btn-xs btn-inverse' onclick='return false;'><i class='glyphicon glyphicon-plus' ></i>Add</button>.
</p>

<%= render partial: 'generic_files/groups_description' %>

<h5><b>Permission Definitions</b></h5>
<p>
  <strong>View/Download:</strong> this file (both contents and metadata) is accessible from within
  <%=t('sufia.product_name') %>.<br />
  <strong>Edit:</strong> this file (both contents and metadata) can be edited. You may only grant
  this permission to <%=t('sufia.institution_name') %> users and/or groups.
</p>