
<h2 class="non lower">Descriptions</h2>
<table class="table table-striped"><!-- class="verticalheadings"> -->
  <tbody>
  <% @presenter.terms.each do |term| %>
      <tr>
        <th><%= get_label(term) %></th>
        <td><%= render_show_field_partial_with_action("records", term, record: @presenter) %></td>
      </tr>
  <% end %>
  </tbody>
</table> <!-- /verticalheadings -->
