<p>This setting will determine who can view your file, and the associated metadata. Setting
  the visibility to <span class='label label-success'>Open Access</span> will allow your
  content to be discovered in Google and viewed by anyone. The visibility setting
  <span class='label label-info'><%=t('sufia.institution_name') %></span> will only allow
  users who are logged into <%=t('sufia.product_name') %> (via WebAccess) to view the content.
  Files that are marked <span class='label label-danger'>Private</span> are only able to be viewed
  by users and/or groups that have been given specific access in the &quot;Share With&quot; section.
</p>

<p>
  Permissions in <%=t('sufia.product_name') %> are hierarchical. This means that you cannot set
  the visibility of a file to <span class='label label-success'>Open Access</span> or
  <span class='label label-info'><%=t('sufia.institution_name') %></span> and simultaneously
  try to restrict the access of a single user. However, you may mark the visibility of
  a file as <span class='label label-danger'>Private</span> and then grant access to
  particular users and/or groups for that file in the &quot;Share With&quot; section.
</p>