<h4>Citation Formats</h4>

<h4>MLA</h4>
<%= @file_set.export_as_mla_citation %>
<br/><br/>

<h4>APA</h4>
<%= @file_set.export_as_apa_citation %>
<br/><br/>

<h4>Chicago</h4>
<%= @file_set.export_as_chicago_citation %>
<br/><br/>
