<li>
  <h2>
    <%= link_to collection.title_or_label, [collections, collection] %>
  </h2>
  <div class="row">
    <div class="col-sm-3">
      <%= link_to [collections, collection] do %>
        <%= image_tag "site_images/collection-icon.svg", class: "collection-icon" %>
      <% end %>
    </div>
    <div class="col-sm-9">
      <%= render 'shared/attributes', work: collection %>
    </div>
  </div>
</li>
