<%# This mimics the generic_files/descriptions partial & re-uses some of its sub-partials %>
<div id="descriptions_display" class="tab-pane active">
  <%= form_for collection, url: collections.collection_path, html: {multipart: true, class: 'form-horizontal'} do |f| %>
    <%= hidden_field_tag('redirect_tab', 'descriptions') %>
    <h2 class="non lower">Descriptions <small class="pull-right"><span class="error">*</span> indicates required fields</small> </h2>
      <div class="well">

        <% (collection.terms_for_editing).each do |term| %>
          <%= render partial: "generic_files/field_form", locals: { generic_file: collection, f: f, render_req: true, key: term } %>
        <% end %>
   
      </div><!-- /well -->
    <div class="row">
      <div class="form-actions">
        <%= f.button '<i class="icon-save"></i> Save Descriptions'.html_safe, type: 'submit', class: 'btn-primary', 
          onclick: "confirmation_needed = false;", id: "upload_submit", name: "update_descriptions" %>
      </div>
    </div>
  <% end %>
</div>
