<h2 class="non lower">Actions</h2>
<p>
  <span class="label label-default"><%= link_to "Browse", collections.collection_path %></span> &nbsp;&nbsp;
  <span class="label label-default"><%= link_to "Add files",  sufia.dashboard_files_path %></span>
</p>
