<h2 class="sr-only"><%= t('sufia.collection.actions.header') %></h2>
<div class="actions-controls-collections">
  <%= link_to t('sufia.collection.actions.add_works.label'),
              sufia.dashboard_works_path(add_files_to_collection: @form.id),
              title: t('sufia.collection.actions.add_works.desc'),
              class: 'btn btn-default' %>
</div>
