<h2 class="sr-only">Actions</h2>
<div class="actions-controls-collections">
  <span class="label label-default"><%= link_to "Browse", collection_path %></span> &nbsp;&nbsp;
  <span class="label label-default"><%= link_to "Add files",  sufia.dashboard_works_path %></span>
</div>
