<div class="row identifier-and-action">
  <div class="col-md-2 list-number">
    <%= document_counter_with_offset(counter) if defined?(counter) %>
    <%= render partial: 'catalog/_index_partials/type_display', locals: {document: document} %>
  </div>

  <div class="col-md-6 search-result-link">
    <%= link_to_document document, label: document_show_link_field(document), counter: counter %>
  </div>

  <div class="col-md-4 search-result-actions">
    <%= render 'collections/action_menu', document: document %>
  </div>
</div>

