<h2 class="sr-only">Actions</h2>
<div class="actions-controls-collections">
  <% if can? :edit, @collection %>
      <span class="label label-default"><%= link_to "Edit", collections.edit_collection_path, title: "Edit this Collection" %></span> &nbsp;&nbsp;
      <span class="label label-default"><%= link_to "Add files",  sufia.dashboard_files_path, title: "Add files to this Collection" %></span>
  <%end %>
</div>
