<h2 class="non lower">Descriptions</h2>
<table class="table table-striped"><!-- class="verticalheadings"> -->
  <tbody>
    <% (@collection.terms_for_display).each do |term| %>
      <% if @collection.send(term).present? %>
        <tr>
          <th><%= get_label(term) %></th>
          <td><%= render_show_field_partial_with_action("records", term, {record: @collection}) %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table> <!-- /verticalheadings -->