<% if can? :edit, @collection %>
  <h2 class="non lower">Actions</h2>
  <p>
      <%= link_to "Edit", collections.edit_collection_path, class: 'btn btn-primary' %> &nbsp;&nbsp;
      <%= link_to "Add files from your dashboard",  search_path_for_my_works, class: 'btn btn-primary' %>
  </p>
<%end %>

