<h2 class="sr-only">Actions</h2>
<div class="actions-controls-collections">
  <% if can? :edit, @presenter.solr_document %>
    <span class="label label-default"><%= link_to "Edit", collections.edit_collection_path, title: "Edit this Collection" %></span> &nbsp;&nbsp;
    <span class="label label-default"><%= link_to "Add files",  sufia.dashboard_works_path(add_files_to_collection: @presenter.id), title: "Add files to this Collection" %></span>
  <%end %>
</div>
