<div class="btn-group">
  <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">Select an action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <%= link_to raw("<i class='glyphicon glyphicon-pencil'></i> #{t('sufia.collection.generic_work.edit')}"), sufia.edit_generic_work_path(id),
                  class: "itemicon itemedit", title: "#{t('sufia.collection.generic_work.edit')}", id: "edit_work_link_#{id}" %>
    </li>
    <% if current_user %>
      <li>
        <%= display_trophy_link(current_user, id) do |text| %>
          <i class='glyphicon glyphicon-star'></i> <%= text %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
