<!-- START WIDGETS -->
<div class="row">
  <div class="col-md-3">
    <div class="widget widget-default">
      <div class="widget-title">Registered users</div>
      <div class="widget-subtitle">Current</div>
      <div class="widget-int num-count"><%= @presenter.user_count %></div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="widget widget-default">
      <div class="widget-title">Total Visitors</div>
      <div class="widget-subtitle">Past 30 days</div>
      <div class="widget-int">n/a</div>
    </div>
  </div>

    <div class="col-md-3">
      <div class="widget widget-default">
        <div class="widget-title">Returning Visitors</div>
        <div class="widget-subtitle">Past 30 days</div>
        <div class="widget-int">n/a</div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="widget widget-default">
        <div class="widget-title">New Vistors</div>
        <div class="widget-subtitle">Past 30 days</div>
        <div class="widget-int">n/a</div>
      </div>
    </div>
</div>
<!-- END WIDGETS -->
