<div id="select-item-box">
  <a class="add-new-asset" href="#">Add a New Asset</a>
  <ul id="select-item-list">
    <li>
      <%= link_to 'Add a Basic MODS Asset', new_hydra_asset_path(:content_type => 'mods_asset'), :class => 'create_asset' %>
    </li>
    <li>
      <%= link_to 'Add an Image', new_hydra_asset_path(:content_type => 'generic_image'), :class => 'create_asset'  %>
    </li>
    <li>
      <%= link_to 'Add Generic Content', new_hydra_asset_path(:content_type => 'generic_content'), :class => 'create_asset'  %>
    </li>
  </ul>
</div>      
