<h1>System Error</h1>
<p>
  <%= t('sufia.product_name') %> tried to process your request but encountered
  an error.  We apologize for the inconvenience and will resolve
  the error soon.  You might be interested in using
  <a href="/contact/">the contact form</a> to report this
  error, or <a href="/help/">the help page</a> for looking up
  solutions.
</p>
