<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
  <head>
    <title>Single use link Not Found</title>
  </head>
  <body>
    <div class="columns two-a">
      <div class="column second">
        <h1>Single Use Link Expired or Not Found</h1>
        <p>
          <%= t('sufia.product_name') %> could not locate the single use link.
          This link either expired or had been used previously.  We apologize
          for the inconvenience. You might be interested in using
          <a href="/help/">the help page</a> for looking up
          solutions.
        </p>
      </div>
  </body>
</html>
