<% solr_document = featured.generic_file_solr_document %>
<li class="featured-item" data-id="<%= solr_document.id %>">
  <div class="main row">
    <div class="col-sm-3">
      <%= render_thumbnail_tag solr_document, { width: 90 } %>
    </div>
    <div class="col-sm-9">
      <%= render partial: 'homepage/featured_fields', locals: {featured: solr_document} %>
    </div>
  </div>
</li>
