<div id="home_header" class="row">
  <%= render partial: 'home_header' %>
</div>
<div id="home_content" class="row">
  <%= render partial: 'home_content' %>
</div>
<%= tiny_mce_stuff if can? :update, ContentBlock%>
