<a role="button" aria-hidden="true" class="btn btn-default tag-toggle-list">List</a>
<div id="tag-cloud" class="btn-group btn-group-justified tag-sort" aria-label="Sort By">
  <a role="button" class="btn btn-default tag-sort-za">Z-A</a>
  <a role="button" class="btn btn-default tag-sort-az">A-Z</a>
  <a role="button" class="btn btn-default tag-sort-numerical">Rank</a>
</div>
<ul class="tagcloud" data-facet="<%= tag_cloud_field_name %>"></ul>
