<% # main container for facets/limits menu -%>
<div>
  <%= link_to '<i class="icon-upload-alt"></i> Upload File(s)'.html_safe, new_generic_file_path, {:class => "btn btn-primary"}  %><br />
  <div class="row">&nbsp;</div>
  <h2>Browse By</h2>
  <ul class="nav nav-list" id="facets">
    <%= render_facet_partials %>
  </ul>
</div>
