<% # main container for facets/limits menu -%>
<div class="column first"> 
  <%= link_to "Upload File(s)", new_generic_file_path, {:class => "button2"}  %>
  <h3>My Files</h3>
  <%= render_facet_partials %>
</div>
