<% # main container for facets/limits menu -%>
<div>
  <%= link_to "Upload File(s)", new_generic_file_path, {:class => "btn btn-primary"}  %>
  <div class="row">&nbsp;</div>
  <h2>Browse By</h2>
  <%= render_facet_partials %>
</div>
