<div style="float: right;" >
  <%= form_tag sufia.dashboard_index_path, :method => :get, :class => "well form-search" do %>
    <label class="accessible-hidden">Search My Dashboard</label>
    <%= text_field_tag :q, params[:q], :class => "q", :placeholder => "Search My Dashboard", :size => '30', :type => "search", :id => "dashboard_search" %>
    <%= hidden_field_tag :search_field, 'all_fields' %>
    <%= render_hash_as_hidden_fields(params_for_search().except(:q, :search_field, :qt, :page, :utf8)) %>
    <button type="submit" class="btn btn-primary" id="dashboard_submit">
      <i class="icon-search"></i> Go
    </button>
  <% end %>
</div>
