<div class="col-xs-12 col-md-6">
  <%= form_tag search_action_url, method: :get, role: "search" do %>
    <label for="dashboard_search" class="sr-only">Search My Dashboard</label>
    <%= hidden_field_tag :search_field, 'all_fields' %>
    <%= render_hash_as_hidden_fields(params_for_search().except(:q, :search_field, :qt, :page, :utf8)) %>
    <div class="input-group">
      <%= text_field_tag :q, params[:q], class: "q form-control", placeholder: "Search My Dashboard", id: "dashboard_search" %>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" id="dashboard_submit"><i class="glyphicon glyphicon-search"></i> Go</button>
      </span><!-- / .input-group-btn -->
    </div> <!-- /.input-group -->

  <% end %>
</div>
