<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<div style="float: right;" >
    <%= form_tag sufia.dashboard_index_path, :method => :get, :class => "well form-search" do %>
      <label class="accessible-hidden">Search My Dashboard</label>
      <%= text_field_tag :q, params[:q], :class => "q", :placeholder => "Search My Dashboard", :size => '30', :type => "search", :id => "dashboard_search" %>
      <%= hidden_field_tag :search_field, 'all_fields' %>
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>
    <%# submit_tag 'Go', {:class=>'btn btn-primary', :id => "dashboard_submit"} %>
    <button type="submit" class="btn btn-primary" id="dashboard_submit">
      <i class="icon-search"></i> Go
    </button>
  <% end %>
</div>
