<% if presenter.thumbnail_path %>
  <%= image_tag presenter.thumbnail_path,
                class: "representative-media",
                alt: "",
                role: "presentation" %>
<% else %>
  <span class="<%= collection_model_icon %> collection-icon-search" aria-hidden="true"></span>
<% end %>
