<% if presenter.total_parent_collections <= 0 %>
    <div class="alert alert-warning" role="alert"><%= t('hyrax.collections.show.no_visible_parent_collections') %></div>
<% else %>
  <% presenter.parent_collections.documents.each do |document| %>
    <ul>
      <li>
        <strong><%= link_to document, [hyrax, document], id: "src_copy_link_#{document.id}" %></strong>
      </li>
    </ul>
  <% end %>
  <div class="row">
    <%= render 'hyrax/collections/paginate', solr_response: presenter.parent_collections, page_param_name: :parent_collection_page %>
  </div>
<% end %>
