<dl class="hyc-collection-metadata">
  <% @presenter.terms_with_values.each do |field_name| %>
    <div id=<%= "hyc-collection-metadata-#{field_name}" %>>
      <dt><%= collection_metadata_label(@presenter, field_name) %></dt>
      <dd><%= collection_metadata_value(@presenter, field_name) %></dd>
    </div>
  <% end %>
</dl>
