<div class="batch-info">
  <div class="batch-toggle">
    <button id="delete-collections-button" class="btn btn-danger delete-collections-button"><%= t("hyrax.dashboard.my.action.delete_collections") %></button>
  </div>
</div>
