<div class="modal fade" id="collection-admin-set-delete-deny-modal" tabindex="-1" role="dialog" aria-labelledby="delete-admin-set-collection-deny-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p><%= t('hyrax.dashboard.my.action.delete_admin_set_deny') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('helpers.action.close') %></button>
      </div>
    </div>
  </div>
</div>
