<div class="modal fade" id="add-collection-to-collection-deny-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>This type of collection does not support nesting so the collection cannot be added to another collection.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('helpers.action.close') %></button>
      </div>
    </div>
  </div>
</div>
