<div class="modal fade" id="collection-empty-to-delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-empty-collection-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-ajax-alert"></div>
        <p><%= t('hyrax.dashboard.my.action.collections_confirmation_no_items_html') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('helpers.action.cancel') %></button>
        <button type="button"
          class="btn btn-danger modal-delete-button"
          title="<%= t("hyrax.dashboard.my.action.delete_collection") %>">
          <%= t('helpers.action.delete') %>
        </button>
      </div>
    </div>
  </div>
</div>
