<div class="modal fade" id="collections-to-edit-deny-modal" tabindex="-1" role="dialog" aria-labelledby="deny-edit-collection-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="deny-edit-collection-form">
        <div class="modal-body">
          <p><%= t('hyrax.dashboard.my.action.edit_collection_deny') %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('helpers.action.close') %></button>
        </div>
      </form>
    </div>
  </div>
</div>
