<div class="modal fade" id="selected-collections-delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-collection-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="delete-collection-form">
        <div class="modal-body">
          <p><span class="pluralized">Deleting this collection</span> will permanently remove the collection from the repository.  Items in teh collection will remain in the repository.  Are you sure you want to delete this collection?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('helpers.action.cancel') %></button>
          <button type="button" class="btn btn-danger"><%= t('helpers.action.delete') %></button>
        </div>
      </form>
    </div>
  </div>
</div>
