<div class="modal fade" id="selected-collections-delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-collection-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="delete-collection-form">
        <div class="modal-body">
          <p><%= t('hyrax.dashboard.my.action.collections_confirmation_html') %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('helpers.action.cancel') %></button>
          <button type="button" class="btn btn-danger"><%= t('helpers.action.delete') %></button>
        </div>
      </form>
    </div>
  </div>
</div>
