<div class="modal fade" id="add-to-collection-deny-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p><%= t('hyrax.dashboard.my.action.nesting_not_allowed') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('helpers.action.close') %></button>
      </div>
    </div>
  </div>
</div>
