<% record.based_near.each do |bn| %>
  <span itemprop="contentLocation" itemscope itemtype="http://schema.org/Place">
    <span itemprop="name"><%= link_to_facet(bn, ActiveFedora.index_field_mapper.solr_name("based_near", :facetable)) %></span>
  </span>
  <br />
<% end %>
