<% record.contributor.each do |contributor| %>
  <span itemprop="contributor" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name"><%= link_to_field('contributor', contributor) %></span>
  </span>
  <br />
<% end %>
