<% record.creator.each do |creator| %>
<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
  <span itemprop="name"><%= link_to_facet(creator, "creator_sim") %></span>
</span>
<br />
<% end %>
