<% record.publisher.each do |pub| %>
  <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name"><%= link_to_facet(pub, "publisher_sim") %></span>
        </span>
  <br />
<% end %>
