<% record.subject.each do |sub| %>
  <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
    <span itemprop="name"><%= link_to_facet(sub, ActiveFedora.index_field_mapper.solr_name("subject", :facetable)) %></span>
  </span>
  <br />
<% end %>
