<% record.subject.each do |sub| %>
  <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
    <span itemprop="name"><%= link_to_facet(sub, "subject_sim") %></span>
  </span>
  <br />
<% end %>
