<% if trophies.any? %>
  <div class="form-group">
    <span>
      <i class="glyphicon glyphicon-star trophy-on"></i> Remove Highlight Designation
      <a href="#" id="remove_trophy_help" data-toggle="popover" data-content="If you would like to remove a highlight designation, check the box and save your profile." data-original-title="Remove Highlight Designation"><i class="glyphicon glyphicon-question-sign"></i></a>
    </span>
    <% trophies.each do |t| %>
      <div class="checkbox">
        <label>
          <%= check_box_tag "remove_trophy_#{t.id}" %>
          <%= link_to t, [main_app, t] %>
        </label>
      </div>
    <% end %>
  </div>
<% end %>
