<% provide :page_header do %>
  <h1><span class="fa fa-id-card" aria-hidden="true"></span> Edit Profile</h1>
<% end %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-6 profile">
      <%= render 'edit_primary' %>
    </div>

    <div class="col-sm-6 profile">
      <%= render 'edit_secondary' %>
    </div>
  </div>
</div>
