<% if display_content_block? @announcement_text %>
  <div id="announcement_text">
    <%= displayable_content_block @announcement_text, id: 'announcement', role: 'complementary', 'aria-label': 'announcement-text' %>
  </div>
<% end %>
