<% if display_content_block? @announcement_text %>
  <div id="announcement_text" class="row">
    <%= displayable_content_block @announcement_text, class: 'row', id: 'announcement', role: 'complementary', 'aria-label': 'announcement-text' %>
  </div>
<% end %>
