<h3>
  <span class="sr-only">Title</span>
  <%= link_to truncate(featured.title.first, length: 28, separator: ' '), [main_app, featured] %>
</h3>
<div>
  <span class="sr-only">Depositor</span>
  <%= link_to_profile featured.depositor("no depositor value") %>
</div>
<div>
  <span class="sr-only">File type</span>
  <%= link_to_facet_list(featured.resource_type, 'resource_type', 'no resource specified') %>
</div>
<div>
  <span class="sr-only">Keywords</span>
  <%= link_to_facet_list(featured.keyword, 'keyword', 'no keywords specified') %>
</div>
