<% if display_content_block? @marketing_text %>
  <div class="home_marketing_text">
    <%= displayable_content_block @marketing_text, class: 'offset-sm-2 col-sm-9 offset-md-1 home_marketing_text', role: 'complementary' %>
  </div>
<% end %>
