<div class="single-use-link">
<h1>Single Use Link</h1>
<p>Anyone can use the following link once to download the file</p>
<%= link_to @asset, @link, class: 'download-link' %> <%= link_to raw('<i class="glyphicon glyphicon-link large-icon"></i>'), '#', class: 'copypaste itemicon itemcode', title: 'Copy File URL', id: "copy_link_#{@asset.id}" %>
</div>
