[submodule "hydra-plugin_test_host"]
	path = hydra-plugin_test_host
	url = git://github.com/projecthydra/hydra-plugin_test_host.git 
[submodule "jetty"]
	path = jetty
	url = git://github.com/projecthydra/hydra-jetty.git
