/Gemfile.lock

## PROJECT::GENERAL
coverage
rdoc
pkg
tmp/
console

*.sqlite3
*.log

.project
.buildpath
.rvmrc

/.bundle
/.yardoc
/doc
.ruby-*
## PROJECT::SPECIFIC
/fcrepo4-test-data
.byebug_history
.internal_test_app
