/Gemfile.lock

## PROJECT::GENERAL
coverage
rdoc
pkg
/.bundle
db/*.sqlite3
log/*.log
tmp/
console

*.sqlite3
*.log

log/*

public/plugin_assets
public/plugin_assets/

tmp/**/*
tmp/performance

db/schema.rb

.project
.buildpath
.rvmrc

/.bundle
/.yardoc
/doc
.ruby-*
## PROJECT::SPECIFIC
/fcrepo4-test-data
