Mark Bussey <mark@curationexperts.com> mark-dce <mark@curationexperts.com>
Andrew Myers <andrew_myers@wgbh.org> afred <afredmyers@gmail.com>
Richard Johnson <rick.johnson@nd.edu> rjohns14@github.com <rjohns14@LIB-1224.library.nd.edu>
Richard Johnson <rick.johnson@nd.edu> rjohns14 <rjohns14@LIB-1224.library.nd.edu>
Richard Johnson <rick.johnson@nd.edu> rickjohnson <rick.johnson@nd.edu>
Justin Coyne <justin@curationexperts.com> jcoyne <digger250@gmail.com>
Chris Colvard <cjcolvar@indiana.edu> cjcolvar <cjcolvar@indiana.edu>
David Chandek-Stark <dchandekstark@gmail.com> dchandekstark <dchandekstark@gmail.com>
Matt Zumwalt <matt.zumwalt@yourmediashelf.com> flyingzumwalt <matt.zumwalt@gmail.com>
Carolyn Cole <cam156@psu.edu> cam156 <cam156@psu.edu>
