<div class="no-preview">
  <%= t('sufia.works.show.no_preview') %>
  <% if Sufia.config.display_media_download_link %>
    <p/><%= link_to t('sufia.file_set.show.download'), sufia.download_path(file_set), target: "_new" %>
  <% end %>
</div>
