<% if Flipflop.analytics_redesign? %>
  <div class="admin-repo-charts">
    <ul id="objects-graph" class="list-unstyled list-inline analytics-options">
      <li><%= link_to t('.repository_objects.subtitle_visible'), repository_object_counts_analytics_path(object_type: 'visibility'), id: "total-visibility", remote: true %></li>
      <li><%= link_to t('.repository_objects.subtitle_work'), repository_object_counts_analytics_path(object_type: 'works'), id: "total-works", class: "stats-selected", remote: true %></li>
    </ul>
  </div>
<% else %>
  <div><%= t('.repository_objects.subtitle') %></div>
<% end %>