<% @collection_rows.each do |row| %>
  <tr>
    <td><%= row.collection_name %></td>
    <td><%= row.updated %></td>
    <td><%= row.work_count %></td>
    <td><%= row.file_count %></td>
  </tr>
<% end %>