<!-- Start Pinned -->
<div class="row">
  <div class="col-md-12">
    <div id="accordion">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2 class="panel-title">Pinned Collections</h2>
        </div>

        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Collection Title</th>
                <th>Last Updated</th>
                <th>Works</th>
                <th>Files</th>
                <th>Pinned</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Butterfly images from the Stanford Digital Repository</td>
                  <td>2017-09-14</td>
                  <td>63</td>
                  <td>63</td>
                  <td>
                    <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Pinned -->