<div class="row">
  <div class="col-md-12">
    <div id="accordion">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2 class="panel-title">Collections</h2>
          <div>Recent activity</div>
        </div>

        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Collection title</th>
                <th>Last updated</th>
                <th>Works</th>
                <th>Files</th>
              </tr>
            </thead>
            <tbody>
         
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>