<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#admin_sets" aria-selected="true" role="tab" data-toggle="tab"><%= t('.admin_sets') %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="admin_sets">
    <%= render 'admin_sets' %>
  </div>
</div>