<%- search_fields_for_advanced_search.each do |key, field_def| -%>
  <div class="control-group">
      <%= label_tag key, "#{field_def.label }:", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag key, label_tag_default_for(key), :class => 'input-large' %>
    </div>
  </div>
<%- end -%>
