<% @page_title = "More Search Options - #{application_name}" %>
<div class="col-md-6">
  <h1>More Search Options</h1>
  <%= render 'advanced_search_form' %>
</div>

<div class="col-md-6">
 <h2><i class=glyphicon glyphicon-pushpin"></i> Search tips</h2>
  <div class="well">
<ul id="advanced_search_tips">
    <li><i class="glyphicon glyphicon-chevron-right"></i> Select "match all" to require all fields.</li>
    <li><i class="glyphicon glyphicon-chevron-right"></i> Select "match any" to find at least one field.</li>
    <li><i class="glyphicon glyphicon-chevron-right"></i> Combine keywords and attributes to find specific items.</li>
    <li><i class="glyphicon glyphicon-chevron-right"></i> Use quotation marks to search as a phrase.  </li>
    <li><i class="glyphicon glyphicon-chevron-right"></i> Use "+" before a term to make it required. (Otherwise results matching only some of your terms may be included).</li>
    <li><i class="glyphicon glyphicon-chevron-right"></i> Use "-" before a word or phrase to exclude. </li>
    <li><i class="glyphicon glyphicon-chevron-right"></i> Use "OR", "AND", and "NOT" to create complex Boolean logic. You can use parentheses in your complex expressions.</li>
    <li><i class="glyphicon glyphicon-chevron-right"></i> Truncation and wildcards are not supported - word-stemming is done automatically. </li>
    <li><i class="glyphicon glyphicon-chevron-right"></i> Truncation and wildcards are not supported - word-stemming is done automatically. </li>
</ul>
  </div>
</div>
