<% # main container for facets/limits menu -%>
<% if has_facet_values? %>
  <div class="list-filters" role="group">
    <span class="list-filters-label"><%= t("hyrax.dashboard.my.facet_label.works") %></span>
    <%= render_facet_partials %>
  </div>
<% end %>
