<% presenter.title.each_with_index do |title, index| %>
    <% if index == 0 %>
        <h1 class="ensure-wrapped">
            <%= title %> <%= presenter.permission_badge %>
        </h1>
    <% else %>
        <h1 class="ensure-wrapped"><%= title %></h1>
    <% end %>
<% end %>
