<% if render_transcript_ids_field?(curation_concern) %>
  <div class="row">
    <div class="col-md-12 mt-2">
      <fieldset id="file-set-transcripts">
        <legend>
          <%= t("simple_form.labels.file_set.transcript_ids") %>
        </legend>
        <div class="form-group">
          <span class="form-text"><%= sanitize(t("simple_form.hints.file_set.transcript_ids")) %></span>
          <%= f.select :transcript_ids,
                       transcript_ids_select_options,
                       { include_blank: true },
                       { class: 'form-control', multiple: true } %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>