<div id="more_descriptions">
  <button id="hide_addl_descriptions" class="btn btn-default" aria-label="hide additional metadata description fields">Hide Additional Fields</button>
  <% (@generic_file.terms_for_editing - [:title, :creator, :rights, :tag, :resource_type]).each do |term| %>
    <%= render "generic_files/field_form", generic_file: @generic_file, f: f, render_req: false, key: term %>
  <% end %>
</div> <!-- /more_descriptions -->
