 <!-- not sure what this style sheet is for but it is not available -->
 <!--link href="/stylesheets/jquery/ui-lightness/jquery-ui-1.8.1.custom.css?1327597589" media="all" rel="stylesheet" type="text/css" /--> 
 <h1>Add Descriptions</h1>
 The information you provide will be applied to all the entire batch of files you just uploaded.  You may edit the information on individual files
 a from <%= link_to 'my dashboard', dashboard_path %>.
<%= render :partial => 'metadata', :formats => [:html] %>
