 <link href="/stylesheets/jquery/ui-lightness/jquery-ui-1.8.1.custom.css?1327597589" media="all" rel="stylesheet" type="text/css" /> 
 <h1>Add Descriptions</h1>
 The information you provide will be applied to all the entire batch of files you just uploaded.  You may edit the information on individual files
 a from <%= link_to 'my dashboard', dashboard_path %>.
 <!--
<h3>Batch</h3>
Title<br />
Description <br />

<h3>Individual</h3>
Title <br />
Tag <br />
Contributor <br />
Creator <br />
Description <br />
-->
<%= render :partial => 'metadata', :formats => [:html] %>
