<% javascript 'bootstrap-tooltip.js' %>
<% javascript 'bootstrap-popover.js' %>
<% stylesheet 'jquery-ui-1.8.1.custom' %>
<% stylesheet 'bootstrap.min.css' %>

<% content_for :local_js do %>
$('#permissions_display').show();
$('#permissions_submit').hide();

// initialize popover helpers
$("a[rel=popover]").popover();

<% end %>

<% content_for :local_css do %>
form {
  margin: 0;
}
<% end %>
<h1>Add Descriptions</h1>
The information you provide will be applied <em>to the entire batch of
files</em> you have just deposited into ScholarSphere.  You may edit individual files
from <%= link_to 'my dashboard', dashboard_path %>.
<%= form_for([@batch, @generic_file], :url => batch_generic_files_path, :html => {:multipart => true, :class => 'form-horizontal'}) do |f| %>
<%= render :partial => 'generic_files/permission_new', :formats => [:html], :locals => { :gf => @generic_file, :batch => @batch } %>
<%= render :partial => 'metadata', :formats => [:html], :locals => {:f => f, :gf => @generic_file} %>

<% end %>
