 <link href="/stylesheets/jquery/ui-lightness/jquery-ui-1.8.1.custom.css?1327597589" media="all" rel="stylesheet" type="text/css" /> 
<h1>Edit <%= @batch.pid %></h1>

<%= render :partial => '/generic_files/metadata', :formats => [:html] %>
