      <div <%  if index == 0 %> id="additional_<%= key.to_s %>_clone" <% end %> class="input-group">
        <% required = render_req && (index == 0) && record.required?(key) %>
        <%= f.text_field :title, name: "#{ActiveModel::Naming.singular(f.object)}[#{key.to_s}][]", id: "#{ActiveModel::Naming.singular(f.object)}_#{key.to_s}", value: v, class: "form-control", required: required  %>
        <%= render "records/edit_fields/suffix", key: key, index: index, single: f.object.class.unique?(key) %>
      </div>
      <div id="additional_<%= key %>_elements"></div>
