<div>
  <% required = render_req && record.required?(key) %>
  <% lbl = get_label(key) %>
  <% single = f.object.class.unique?(key) %>

  <% opts = { label: lbl, required: required } %>
  <% opts = opts.merge(as: :multi_value) unless single %>

  <%= f.input key, opts %>

  <%= render partial: "records/edit_fields/suffix", locals: { key: key, index: index, single: f.object.class.unique?(key) } %>
</div>
