<%# convert class variable to a local variable if the local hasn't been set %>
<div>
  <%= f.select :resource_type, Sufia.config.resource_types.keys, {}, { multiple: true, size: 7, class: 'form-control' } %>
  <p class="help-block">You may select multiple types to apply <%= help_icon(:resource_type) %><p>
</div>
