<div class='multi_value'>
  <div class='listing'>
    <%= f.input :resource_type, required: required, collection: Sufia.config.resource_types, input_html: { multiple: 'multiple', size: '7', class: 'form-control' } %>
    <p class="help-block">You may select multiple types to apply <%= help_icon(:resource_type) %><p>
  </div>
</div>
