<%# convert class variable to a local variable if the local hasn't been set %>
<% generic_file = @generic_file unless generic_file  %>

        <div class="controls">
          <p class="help-block">You may select multiple types to apply<p>
          <%= f.select "resource_type", options_for_select(Sufia.config.resource_types.keys, generic_file.resource_type), {}, {:multiple=>true, :size=>7} %>
          <%= help_icon(:resource_type) %>
        </div>

