      <div <% if index == 0%> id="additional_<%= key.to_s %>_clone" <% end %> class="input-group">
        <%= f.select :rights, Sufia.config.cc_licenses, { include_blank: true }, class: 'form-control' %>
        <%= render "records/edit_fields/suffix", key: key, index: index %>
      </div>
      <div id="additional_<%= key %>_elements"></div>
