<div class="single-use-link">
<h1>Single Use Link</h1>
<p>Anyone can use the following link once to download the file</p>
<%= link_to @asset, @link, class: 'download-link', data: { 'no-turbolink' => ''}, target: '_blank' %>
</div>
