<%# default partial to delete display solr document fields in catalog show view -%>

<%- stylesheet_links << "../plugin_assets/hydra-head/javascripts/date-picker/css/datepicker" %>
<%- stylesheet_links << "../plugin_assets/hydra-head/javascripts/fancybox/jquery.fancybox-1.3.1.css" %>
<%- stylesheet_links << ["../plugin_assets/hydra-head/javascripts/select_to_ui_slider/css/ui.slider.extras.css"] %>
<%- stylesheet_links << ["slider", {:plugin=>"hydra-head"}] %>



<div class="document_viewer" id="cover_container">
	<div id="delete_dialog">
		<div id="delete_dialog_container">
			
				
				<div>
	        <span>Permanently delete <%= @document_fedora.pid %> and its assets from the repository?</span><br/>
	        <div id="deletable_assets"></div>
	      </div>
				
					<div>
					<%= button_to("Delete", {:action => :destroy, :controller => :assets, :id => @document_fedora.pid}, :confirm => 'Are you sure?', :method => :delete )%>
					 <%= button_to("Withdraw", :action=>"withdraw", :controller => :assets, :id => @document_fedora.pid) %>
					 <%= button_to("Cancel", :action=>:edit, :controller => :catalog, :id => @document_fedora.pid) %>
					
	      </div>
	      		 
		 </div>
	</div>
</div>
