- stylesheet_links << "../javascripts/date-picker/css/datepicker" 
- javascript_includes << infusion_javascripts(:inline_edit, :extras=>[:inline_editor_integrations], :debug=>true, :render_html=>false) 
- javascript_includes << "http://ckeditor-fluid.appspot.com/ckeditor.js" 
- javascript_includes << "jquery.jeditable.mini" 
- javascript_includes << "date-picker/js/datepicker" 
- javascript_includes << 'custom'
- javascript_includes << "catalog/edit"


- extra_head_content << capture do 
  :javascript
    $(document).ready(function() {
      $(document).catalogEdit();
    });

.document_viewer#cover_container

  #multipleEdit
    #loading{:style=>"display:none;"}
      %img{:src=>"/images/ajax-loader.gif", :width=>"32", :height=>"32", :alt=>"Saving"} 
        Saving...

    %div.accordion-section
      %h2.section-title Describe the Article
      = render :partial => 'hydrangea_articles/edit_description'

    %div.accordion-section
      %h2.section-title Upload files
      %div#uploads{'data-pid' => params[:id]}

    %div.accordion-section
      %h2.section-title Set permissions
      = render :partial => "hydrangea_articles/edit_permissions", :locals => {:document => document}


- sidebar_items << capture do 
  =# render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} 
  =# render :partial=>'facets' 

= async_load_tag(asset_file_assets_path(params[:id]), 'uploads')
