<tr class="document">
  <td>
    <%= link_to_document(document, :label => blacklight_config.show.heading.to_sym) %>
  </td>
  <td>

  </td>
  <td>
    <%= l DateTime.parse(document.fetch(:system_create_dt,nil)).to_time %>
  </td>
  <td>
    <%= document.document_type(blacklight_config.show.display_type) %>
  </td>
  <td>
    <%= document.get_file_asset_count()%>
  </td>
  <td>
    Created
  </td>
</tr>
