.help-icon {
  @extend .glyphicon;
  @extend .glyphicon-question-sign;
  @extend .large-icon;
  top: 5px;
}

#hide_addl_descriptions {
  margin-bottom: 10px;
}

#additional_title_clone {
  padding-top: 5px;
}

.glyphicon-chevron-right-helper.collapsed .chevron {
  @extend .glyphicon-chevron-right;
}
.glyphicon-chevron-right-helper .chevron {
  @extend .glyphicon;
  @extend .glyphicon-chevron-down;
}

