.action-button {
  padding-top: 1em;
  padding-bottom: 1em;
}

.multi_value .listing .input-group {
  margin-bottom: .35em;
}

.input-group-btn:last-child > .btn {
  margin-left: 0;
}

ul.listing .add, ul.listing .remove {
  width: 7em;
  text-align: center;
}

.add {
  @extend .btn-primary;
}

#search-form-header {
  .btn-primary:hover, .btn-primary:focus {
    background-color: $gray-light !important;
    color: $basic-black;
  }
}

span.appliedFilter .remove {
  @extend .btn-danger;
}
