.action-button {
  padding-top: 1em;
  padding-bottom: 1em;
}

.multi_value .listing .input-group {
  margin-bottom: .35em;
}

.input-group-btn:last-child > .btn {
  margin-left: 0;
}

ul.listing .add, ul.listing .remove {
  width: 7em;
  text-align: center;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: $add-background-hover;
  border-color: $add-border-color;
  color: $add-text-hover;
}

.add {
  @extend .btn-primary;
}

#search-form-header {
  .btn-primary:hover, .btn-primary:focus {
    background-color: $gray-light !important;
    color: $basic-black;
  }
}

.btn-danger:hover, .btn-danger:focus {
  background-color: $remove-background-hover;
  border-color: $remove-border-color;
  color: $remove-text-hover;
}

span.appliedFilter .remove {
  @extend .btn-danger;
}

.btn-warning:hover, .btn-warning:focus {
  background-color: $neutral-background-hover;
  border-color: $neutral-border-color;
  color: $neutral-text-hover;
}

