.collection_description, .fileset_description {
  color: #333;
  font-family: 'Lato', Verdana, Arail, Helvetica, sans-serif;
  font-size: 1.15em;
  font-weight: 300;
  line-height: 1.25em;
  letter-spacing: .10em;
}

.metadata-collections  {
  dt {
    color: $file-show-term-color;
  }
  dd {
    word-wrap: break-word;
  }
}

.metadata-collections dt::after {
  content: ':';
}

.metadata-collections {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-width: 20em;
  -webkit-column-width: 20em;
  column-width: 20em;
}

.collection-icon, .collection-icon-search {
  display: block;
  width: 100%;
}

.collection-icon {
  padding: 15px 0 0 0;
}

.collection-icon-search {
  padding: 0;
}

.collection-icon-small {
  padding: 10px 0 0 0;
  width: 1.5em;
}

.thumbnail {
  text-align: center;
}

.actions-controls-collections {
  display: block;
  margin: 1em 0 0 1em;
}

.label-default a:link,
.label-default a:visited,
.label-default a:hover {
  color: #FFF;
  text-align: center;
}