.dashboard {
  background-color: $content-wrapper-background-color;
  padding-bottom: 2em;
  #content-header {
    padding-top: 0;
  }
  #content {
    padding-top: 1em;
  }
  h1 {
    font-size: 1.65em;
  }
  h2 {
    font-size: 1.35em;
    padding-top: .15em;
  }
  .badge {
    background-color: $badge-background-color;
    color: $badge-font-color;
  }
  .badge-optional {
    background-color: $badge-optional-background-color;
    border-radius: 2px;
    color: $badge-optional-font-color;
    padding: 0 .25em;
  }
  .views-downloads-dashboard {
    list-style-type: none;
    padding-left: 0;
  }
  .panel-default > .panel-heading {
    background-color: $panel-background-color;
  }
  .panel-default > .dashboard-panel {
    background-color: $panel-dashboard-background-color;
    color: $panel-dashboard-font-color;
  }
  .user-info {
    padding-left: 0;
    word-break: break-word;
  }
  .sort-toggle, #documents, .batch-toggle {
    border-left: 1px solid $dashboard-border-color;
    border-right: 1px solid $dashboard-border-color;
  }
}

.heading-tile {
  border: none;
}
.heading-row {
  border: none;
}

#content-header .heading-row:nth-child(2) {
  padding-top: .5em;
  a:link, a:visited {
    color: $icon-link-color;
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: .35s;
    transition-timing-function: ease-out;
  }
  a:hover, a:focus {
    color: $icon-link-hover-color;
    transition-property: background-color, color;
    transition-duration: .35s;
    transition-timing-function: ease-out;
  }
}

div.heading-tile .glyphicon {
  background: $icon-background-color;
  color: $icon-font-color;
  display: block;
  width: 2em;
  height: 2em;
  line-height: 1.75em;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid $icon-border-color;
  overflow: hidden;
  transition-property: background-color, color;
  transition-duration: .35s;
  transition-timing-function: ease-out;
}

div.heading-tile:hover .glyphicon {
  background-color: $icon-background-color-hover;
  border-color: $icon-border-color-hover;
  color: $icon-font-color-hover;
  transition-property: background-color, color;
  transition-duration: .35s;
  transition-timing-function: ease-out;
}

.proxy-search h3 {
  margin-bottom: 20px;
}

.batch-info, #documents {
  background-color: $dashboard-background-color;
}

#my_nav {
  margin-bottom: 0;
}

.sort-toggle, .batch-toggle {
  padding: 1.5em 0 1.5em 1em;
}

.transfer_link {
  margin-top: 8px;
}

// making sure the tables that still exist in the system do not overflow thier bounds
#notifications_table {
  table-layout:fixed;
  column-width: auto;
  word-wrap:break-word
}
#notifications_table th:nth-child(1){
  width: 10%
}
#notifications_table th:nth-child(2){
  width: 20%
}
#notifications_table th:nth-child(3){
  width: 60%
}

#activity .panel-body{
  overflow: scroll;
  max-height: 20em;
}
