ol#featured_works {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* don't nest .featured-item in the ol, because it's detached from the list when being dragged */
.featured-item {
  h3 {
    margin-top: 0;
  }
  .main {
    padding: 5px;
  }
}

.featured-researcher {
  padding: 1em 0;
  border-bottom: 1px dotted $gray-lighter;
}
