div.facets h3 {
  font-size: 1.4em;
}
h4 .small {
  color: $navbar-default-toggle-icon-bar-bg;
}

@media screen and (max-width: 961px) {
  #documents.table-responsive {
    overflow-x: auto;
  }
  .table-responsive .open > .dropdown-menu  {
    position: relative;
    left: -8em;
  }
  .file-listing-title {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .file-listing-title {
    display: inline-block;
    padding-top: .65em;
  }
}

.table-responsive {
  overflow-x: visible;
}

.table thead th {
  text-align: center;
}

.table {
  > tbody {
    > tr[id*='detail_'] {
      > td {
        padding: 0px;

        .expanded-details {
          display: none;
          padding: 0.8em;
          font-size: 0.9em;

          dt {
            text-align: right;
          }
          dd {
            margin-left: -15px;
            min-height: 1.5em;
          }
        }
      }
    }

    .document-title {
      word-break: break-all;
    }
  }
}

.table-zebra-striped tbody > tr.zebra:nth-child(odd) > td,
.table-zebra-striped tbody > tr.zebra:nth-child(odd) + tr > td,
.table-zebra-striped tbody > tr.zebra:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.file_listing_thumbnail {
  width: 64px;
}

.file-listing-links a:link, .file-listing-links a:visited,
.part_of_collection a:link, .part_of_collection a:visited {
  color: $blue-default;
}

.file-listing-links a:hover, .part_of_collection a:hover {
  color: $gray-dark;
  text-decoration: underline;
}

.nav > li > a.accordion-toggle {
  padding-left: 5px;
  padding-right: 5px;
}

.slide-list {
  list-style: none;
  padding: 0px 0px 0px 15px;

  li {
    @extend .clearfix;
    margin-bottom: 0.4em;
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 0.4em;

    &:first-child {
      border-top: 1px solid $gray-lighter;
      padding-top: 0.4em;
    }
  }

  .facet-count {
    padding-left: 0.2em;
    padding-right: 0.2em;
    background: $gray-lighter;
    float: right;
    display: block;
  }

}

.sorts-dash, .sorts, .expandable_new {
  cursor: pointer;
}

.batch-info .sort-toggle {
  height: 5.1em;
}

.caret.up {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}

.tr-detail {
  display: none;
}

.visibility-link .label {
  font-size: .85em;
  font-weight: normal;
}

.visibility-link:hover {
  text-decoration: none;
}

.portal {
  border: 1px solid $gray-lightish;
  margin: 5px;
  padding: 5px;
  h3 {
    margin-top: 10px;
  }
}

.heading-tile {
  border-right: 1px solid $gray-lightish;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: x-large;
  font-weight: normal;
  span {
    display: block;
  }
}

.heading-row {
  border-bottom: 1px solid $gray-lightish;
}

input.batch_document_selector {
  margin: 10px 10px 2px 10px;
  padding: 0px;
}

input#check_all {
  padding: 0;
  margin: 3px 3px 3px 10px;
}

.constraints-container {
  margin-bottom: 10px;
}

#appliedParams.constraints-container {
  margin-bottom: 0;
}

#collection-list-container {
  .collection-list {
    li {
      list-style: none;
    }
  }
  .modal-footer {
    div, form {
      display: inline;
    }
  }
}

#documents {
  td {
    vertical-align: middle;
  }
  .table-responsive {
  display: inline-block;
  width: 100%;
  }
  .table {
  margin-bottom: 0;
  }
}

#my_nav {
  margin-bottom: 20px;
}

#check_all:disabled:hover:before {
  content: "Too many items, can not select all.";
  border: 1px;
  font-size: .75em;
  display: block;
  width: 30em;
}
