@import '../fileupload/jquery.fileupload-ui';

button.close {
    display: block;
}

.related-files {
height: 100px;
overflow-x: auto;
}

label.error { float: left; color: red; padding-left: .5em; vertical-align: top; }

.fileHeight {
  max-height: 8em;
}

.scrollx {
  overflow-x: auto;
}

.scrolly {
  overflow-y: visible;
}

h2 small {
   color: red;
}

.status {
   color: green;
   padding:5px 5px 5px;
}

.loading {
   background: white image_url('loading.gif') center bottom no-repeat;
}

h1.visibility span.label {
  font-size: 30%;
  vertical-align: middle;
}

table.files td.preview img {
    height: 50px;
}

.edit_file_set_previous_version {
  margin-top: 3em;
}
