.fixedsticky {
  top: 0; /* Required to get consistent results in Safari and Chrome */
}

.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
  left: $save-viz-widget-left;
  /* Required so that the widget doesn't pop back to top when public desc long */
  bottom: $save-viz-widget-bottom;
}

aside.form-progress {
  ul.requirements {
    list-style-type: none;
    padding-left: 8px;
  }

  .incomplete::before {
    content: "\e101";
    color: $brand-danger;
    font-family: 'Glyphicons Halflings';
    padding-right: 5px;
  }

  .complete::before {
    content: "\e013";
    color: $brand-success;
    font-family: 'Glyphicons Halflings';
    padding-right: 5px;
  }

  .visibility {
    padding-left: 20px;
  }

  h3 {
    margin: 0;
    padding: 5px;
    font-size: 12pt;
  }

  label { font-weight: normal; }
  & > .form-group { padding: 0 1.75em; }

  .form-inline {
    .control-label, label {
      padding-left: 0;
      display: inline;
      &:after {
        content: ' ';
      }
    }
    .help-block {
      display: inline;
      &:before {
        content: ' ';
      }
    }
  }
}
