#masthead {
  background: $blue-dark;
  min-height: 4em;

  #logo span.glyphicon {
    color: #FFF;
    font-size: 4em;
    margin: .25em 0 0 .25em;
  }

  .institution_name {
    font-family: 'Lato', Verdana, Arial, Helvetica;
    font-size: 4em;
    font-weight: 300;
    margin: 0 0 0 .25em;
  }

  .institution_name, .institution_name a:link, .institution_name a:visited {
    color: #FFF;
    text-decoration: none;
  }

  .navbar {
    min-height: 0px;
    margin-bottom: 0.8em;
  }

  #user_utility_links {
    margin-top: 1.75em;

    &.open {
      > a {
        border-color: #ccc;

        &.dropdown-toggle {
          background-color: $gray-lighter;
          border-color: #428bca;
        }
      }
    }
  }

  #profile_link {
    margin-left: -1px;
  }
}

#masthead_controls .navbar-default .navbar-nav > .active > a,
#masthead_controls .navbar-default .navbar-nav > .active > a:hover,
#masthead_controls .navbar-default .navbar-nav > .active > a:focus {
  background-color: $blue-medium-bright;
  color: $classic-white;
}

#masthead_controls {
  border-top: 1px solid $blue-medium;
  border-bottom: 1px solid $blue-medium;
  background-color: $blue-medium-bright;
  #search-submit-header {
    background-color: $gray-dark;
    border-top: 1px solid $gray-medium;
    border-bottom: 1px solid $gray-medium;
  }
  .navbar {
    background-color: $blue-medium-bright;
    margin-bottom: 0;
    li {
      border-right: 2px solid $blue-medium;
    }
    li:first-child {
      border-left: 2px solid $blue-medium;
    }
    a:link, a:visited {
      background-color: $blue-medium-bright;
      color: $classic-white;
    }
    a:hover {
      background-color: $basic-black;
    }
  }
  .navbar-default {
    border: none;
  }
}

.login_button {
  margin: 1.75em 3em 0 0;
}

#search-form-header {
  margin-top: 7px;
}
#search-submit-header {
  border: none;
}