#search-form-header {
  margin-top: $search-bar-margin-top;
  margin-right: $search-bar-margin-right;
}

#masthead {
  z-index: $zindex-navbar + 1;
  margin-bottom: 0;
  margin-top: 0;
}

.navbar + .navbar {
  margin-top: 0;
}