.single_value {
  @extend .multi_value;
}

#collection_title.listing {
  max-width:37em;
}

.collection_description .listing {
  max-width:35.5em;
}

#descriptions_display {
  .form-group, .batch-group {
    margin-left: 0;
    margin-bottom: 0.5em;
  }
}
