// Settings
//
// Variables, colors, etc. that are used in Sufia.
// Some are unique or override other variables from Bootstrap.

$basic-black: #000;
$blue-dark: #036;
$blue-medium: #1C5798;
$blue-medium-bright: #2674CA;
$brown-dark: #7D5D55;
$brown-medium-dark: #A78352;
$brown-medium: #B89972;
$brown-light: #D2B48C;
$classic-white: #FFF;
$cream-light: #FCFBF7;
$gray-dark: #333;
$gray-med-dark: #888;
$gray-medium: #CECDCD;
$gray-light: #DDD;
$gray-lighter: #E1E1E1;
$gray-lightish: #bbb;
$highlight-yellow: #F0CA00;
$teal: #2CAEB7;
$vermilion: #F30;

$badge-background-color: $highlight-yellow;
$badge-optional-background-color: $gray-medium;
$badge-font-color: $classic-white;
$content-wrapper-background-color: $cream-light;
$dashboard-background-color: $classic-white;
$dashboard-border-color: $gray-light;
$icon-background-color: $vermilion;
$icon-border-color: $classic-white;
$icon-font-color: $classic-white;
$icon-link-color: $basic-black;
$icon-link-hover-color: $blue-medium-bright;
$panel-background-color: $classic-white;
$panel-dashboard-background-color: $teal;
$panel-dashboard-font-color: $classic-white;
