// Settings
//
// Variables, colors, etc. that are used in Sufia.
// Some are unique or override other variables from Bootstrap.

$classic-white: #FFF !default;
$vermilion: #F30 !default;

// Dashboard
$dashboard-border-color: $gray-lighter !default;

$icon-background-color: $vermilion !default;
$icon-border-color: $classic-white !default;
$icon-font-color: $classic-white !default;
$icon-link-color: $gray-light !default;
$icon-link-hover-color: $gray-base !default;
$icon-background-color-hover: $classic-white !default;
$icon-border-color-hover: $gray-base !default;
$icon-font-color-hover: $gray-base !default;

// File Show Page
$file-show-term-color: $gray-dark !default;
$file-listing-link-color: $brand-primary !default;
$heading-border-color: $gray-light !default;