body {
  margin: 0;
  padding: 0 !important;
}

#wrapper {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #E1E1E1),
      color-stop(1, #FFFFFF)
  );
  background-image: -o-linear-gradient(bottom, #E1E1E1 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, #E1E1E1 0%, #FFFFFF 100%);
  background-image: -webkit-linear-gradient(bottom, #E1E1E1 0%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(bottom, #E1E1E1 0%, #FFFFFF 100%);
  background-image: linear-gradient(to bottom, #E1E1E1 0%, #FFFFFF 100%);
}

#page-positioner {
  h1, h2, h3, h4, h5, h6, .attribute-label {
    font-family: 'Lato', Verdana, Arail, Helvetica, sans-serif;
  }
}

#page-positioner {
  background-color: #FFF;
}

#page-positioner h1, #page-positioner h2 {
  font-weight: 300;
}

#page-positioner {
  h3, h4, .attribute-label {
    font-weight: 400;
  }
}

.input-group {
  margin-bottom: 10px;
}

button {
  background-color: $gray-lighter;
}

.breadcrumbs {
  padding: 1em 0;
}

.alert {
  margin: 20px;
}

#footer {
  background: $blue-dark;
  clear: both;
  color: $classic-white;
  margin-top: 2em;
  padding: 1em;
  min-height: 4em;
}

label.required, span.required {
  abbr{
    color: red;
    font-size: small;
  }
}

label.disabled {
  color: $gray-med-dark;
}

@media only screen and (min-width: 768px) {
  #masthead {
    min-height: 8em;
  }
  #home_header,
  #home_header div.home_call_action,
  #home_header div.home_call_action ~ div {
    min-height: 18em;
  }
  .home_share_work {
    margin: 1.5em 0;
  }
  .home_marketing_text {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

@media only screen and (min-width: 992px) {
  #home_header,
  #home_header div.home_call_action,
  #home_header div.home_call_action ~ div {
    min-height: 20em;
  }
}

.large-icon {
  font-size: 1.5em;
}

.btn.collection-remove {
  background:none;
  border:none;
  /*     padding:0!important;
    padding: 6px 12px;*/

  cursor:pointer;
  clear: both;
  color: #333333;
  display: block;
  width: 100%;
  font-weight: normal;
  line-height: 18px;
  padding: 3px 15px;
  white-space: nowrap;
  border-radius:0px
}
.btn.collection-remove:hover{
  text-decoration:underline;
  background-color:#0088CC;
}
