body {
  margin: 0;
  padding: 0 !important;
}

h1, h2 {
  font-weight: 300;
}

.input-group {
  margin-bottom: 10px;
}

button {
  background-color: $gray-lighter;
}

.breadcrumbs {
  padding: 1em 0;
}

.alert {
  margin: 20px;
}

.modal-title {
  @extend h2
}

#footer {
  padding-bottom: 0;
  margin-bottom: 0;
}

label.required, span.required {
  abbr{
    color: red;
    font-size: small;
  }
}

label.disabled {
  color: $gray-med-dark;
}

@media only screen and (min-width: 768px) {
  #masthead {
    min-height: 8em;
  }
  #home_header,
  #home_header div.home_call_action,
  #home_header div.home_call_action ~ div {
    min-height: 18em;
  }
  .home_share_work {
    margin: 1.5em 0;
  }
  .home_marketing_text {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

@media only screen and (min-width: 992px) {
  #home_header,
  #home_header div.home_call_action,
  #home_header div.home_call_action ~ div {
    min-height: 20em;
  }
}

.large-icon {
  font-size: 1.5em;
}

.btn.collection-remove {
  background:none;
  border:none;
  /*     padding:0!important;
    padding: 6px 12px;*/

  cursor:pointer;
  clear: both;
  color: #333333;
  display: block;
  width: 100%;
  font-weight: normal;
  line-height: 18px;
  padding: 3px 15px;
  white-space: nowrap;
  border-radius:0px
}
.btn.collection-remove:hover{
  text-decoration:underline;
  background-color:#0088CC;
}
