.tagcloud {
    padding-left: 0px;
    text-align: center;
}
.tagcloud li{
    display: inline;
    margin-right:0.25em;
}
.tag-toggle-list {
    margin-top: 1.25em;
    margin-left: 0.5em;
    margin-bottom: 1em;
}
.tagcloud.list li {
    display: block;
}
.tagcloud li a {
    color: inherit;
}

.tagcloud li .badge {
    display:none;
}

.weight-15 {
    font-size: 0.90em;
}

.weight-14 {
    font-size: 1.00em;
}

.weight-13 {
    font-size: 1.10em;
}

.weight-12 {
    font-size: 1.20em;
}

.weight-11 {
    font-size: 1.30em;
}

.weight-10 {
    font-size: 1.40em;
}

.weight-9 {
    font-size: 1.50em;
}

.weight-8 {
    font-size: 1.60em;
}

.weight-7 {
    font-size: 1.70em;
}

.weight-6 {
    font-size: 1.80em;
}

.weight-5 {
    font-size: 1.90em;
}

.weight-4 {
    font-size: 1.95em;
    font-weight: bold;
}

.weight-3 {
    font-size: 2.05em;
    font-weight: bold;
}

.weight-2 {
    font-size: 2.15em;
    font-weight: bold;
}

.weight-1 {
    font-size: 2.25em;
    font-weight: bold;
}
