/* WIDGETS */
.widget {
  width: 100%;
  float: left;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 20px;
  min-height: 120px;
  position: relative;
}
.widget.widget-padding-sm,
.widget.widget-item-icon {
  padding: 10px 0px 5px;
}
.widget.widget-np {
  padding: 0px;
}
.widget.widget-no-subtitle {
  padding-top: 25px;
}
.widget.widget-carousel {
  padding-bottom: 0px;
  padding-top: 10px;
}
.widget.widget-default {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f5f5f5, GradientType=0);
}
.widget.widget-primary {
  background: #565249;
  background: -moz-linear-gradient(top, #565249 0%, #48453d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565249), color-stop(100%, #48453d));
  background: -webkit-linear-gradient(top, #565249 0%, #48453d 100%);
  background: -o-linear-gradient(top, #565249 0%, #48453d 100%);
  background: -ms-linear-gradient(top, #565249 0%, #48453d 100%);
  background: linear-gradient(to bottom, #565249 0%, #48453d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#565249, endColorstr=#48453d, GradientType=0);
}
.widget.widget-success {
  background: #95b75d;
  background: -moz-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #95b75d), color-stop(100%, #89ad4d));
  background: -webkit-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
  background: -o-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
  background: -ms-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
  background: linear-gradient(to bottom, #95b75d 0%, #89ad4d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#95b75d, endColorstr=#89ad4d, GradientType=0);
}
.widget.widget-info {
  background: #3fbae4;
  background: -moz-linear-gradient(top, #3fbae4 0%, #29b2e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fbae4), color-stop(100%, #29b2e1));
  background: -webkit-linear-gradient(top, #3fbae4 0%, #29b2e1 100%);
  background: -o-linear-gradient(top, #3fbae4 0%, #29b2e1 100%);
  background: -ms-linear-gradient(top, #3fbae4 0%, #29b2e1 100%);
  background: linear-gradient(to bottom, #3fbae4 0%, #29b2e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3fbae4, endColorstr=#29b2e1, GradientType=0);
}
.widget.widget-warning {
  background: #fea223;
  background: -moz-linear-gradient(top, #fea223 0%, #fe970a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fea223), color-stop(100%, #fe970a));
  background: -webkit-linear-gradient(top, #fea223 0%, #fe970a 100%);
  background: -o-linear-gradient(top, #fea223 0%, #fe970a 100%);
  background: -ms-linear-gradient(top, #fea223 0%, #fe970a 100%);
  background: linear-gradient(to bottom, #fea223 0%, #fe970a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fea223, endColorstr=#fe970a, GradientType=0);
}
.widget.widget-danger {
  background: #b64645;
  background: -moz-linear-gradient(top, #b64645 0%, #a43f3e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b64645), color-stop(100%, #a43f3e));
  background: -webkit-linear-gradient(top, #b64645 0%, #a43f3e 100%);
  background: -o-linear-gradient(top, #b64645 0%, #a43f3e 100%);
  background: -ms-linear-gradient(top, #b64645 0%, #a43f3e 100%);
  background: linear-gradient(to bottom, #b64645 0%, #a43f3e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b64645, endColorstr=#a43f3e, GradientType=0);
}
.widget .widget-title,
.widget .widget-subtitle,
.widget .widget-int,
.widget .widget-big-int {
  width: 100%;
  float: left;
  text-align: center;
}
.widget .widget-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 20px;
  text-transform: uppercase;
}
.widget .widget-subtitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 15px;
  color: #EEE;
}
.widget .widget-int {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  font-family: arial;
}
.widget .widget-big-int {
  font-size: 42px;
  line-height: 45px;
  font-weight: 300;
}
.widget .widget-item-left {
  margin-left: 10px;
  float: left;
  width: 100px;
}
.widget .widget-item-right {
  margin-right: 10px;
  float: right;
  width: 100px;
}
.widget.widget-item-icon .widget-item-left,
.widget.widget-item-icon .widget-item-right {
  width: 70px;
  padding: 20px 0px;
  text-align: center;
}
.widget.widget-item-icon .widget-item-left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  padding-right: 10px;
}
.widget.widget-item-icon .widget-item-right {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  padding-left: 10px;
}
.widget .widget-item-left .fa,
.widget .widget-item-right .fa,
.widget .widget-item-left .glyphicon,
.widget .widget-item-right .glyphicon {
  font-size: 60px;
}
.widget .widget-data {
  padding-left: 120px;
}
.widget .widget-data-left {
  padding-right: 120px;
}
.widget.widget-item-icon .widget-data {
  padding-left: 90px;
}
.widget.widget-item-icon .widget-data-left {
  padding-right: 90px;
  padding-left: 10px;
}
.widget .widget-data .widget-title,
.widget .widget-data-left .widget-title,
.widget .widget-data .widget-subtitle,
.widget .widget-data-left .widget-subtitle,
.widget .widget-data .widget-int,
.widget .widget-data-left .widget-int,
.widget .widget-data .widget-big-int,
.widget .widget-data-left .widget-big-int {
  text-align: left;
}
.widget .widget-controls a {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 27px;
  color: #FFF;
  border: 1px solid #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  opacity: 0.4;
  filter: alpha(opacity = 40);
}
.widget .widget-controls a.widget-control-left {
  left: 10px;
  top: 10px;
}
.widget .widget-controls a.widget-control-right {
  right: 10px;
  top: 10px;
}
.widget .widget-controls a:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}
.widget .widget-buttons {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 3px;
  margin-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.widget .widget-buttons a {
  position: relative;
  display: inline-block;
  line-height: 30px;
  font-size: 21px;
}
.widget .widget-buttons .col {
  width: 100%;
  float: left;
}
.widget .widget-buttons.widget-c2 .col {
  width: 50%;
}
.widget .widget-buttons.widget-c3 .col {
  width: 33.333333%;
}
.widget .widget-buttons.widget-c4 .col {
  width: 25%;
}
.widget .widget-buttons.widget-c5 .col {
  width: 20%;
}
.widget.widget-primary .widget-buttons a {
  color: #11100e;
  border-color: #11100e;
}
.widget.widget-primary .widget-buttons a:hover {
  color: #000000;
}
.widget.widget-success .widget-buttons a {
  color: #51672e;
  border-color: #51672e;
}
.widge.widget-success .widget-buttons a:hover {
  color: #435526;
}
.widget.widget-info .widget-buttons a {
  color: #14708f;
  border-color: #14708f;
}
.widget.widget-info .widget-buttons a:hover {
  color: #115f79;
}
.widget.widget-warning .widget-buttons a {
  color: #a15e01;
  border-color: #a15e01;
}
.widget.widget-warning .widget-buttons a:hover {
  color: #874f01;
}
.widget.widget-danger .widget-buttons a {
  color: #5a2222;
  border-color: #5a2222;
}
.widget.widget-danger .widget-buttons a:hover {
  color: #471b1b;
}

.widget.widget-default {
  color: #4e4a42;
}
.widget.widget-default .widget-subtitle {
  color: #4e4a42;
}
.widget.widget-default .widget-controls a {
  color: #4e4a42;
  border-color: #4e4a42;
}
