- access_entry = permissions_select
- access_entry_text = access_entry.text
- field_name = "#{access_entry_text}_access"
- access_entry_counter = permissions_select_counter

%label{:for=>field_name}
  = access_entry_text
%select{:id=>field_name, :name=>field_name}
  - choices.each do |choice|
    - choice_label = choice.keys.first
    - choice_name = choice.keys.first

    %option{:value=>choice_label, :selected=>!access_entry.ancestors("access[@type=\"#{choice_name}\"]").empty? } 
      = choice_name