<div class="modal fade" id="change-tab-content-block" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="delete-collection-form">
        <div class="modal-body">
          <%= t(:'hyrax.content_blocks.change_tab_message') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('helpers.action.cancel') %></button>
          <%= link_to 'OK', hyrax.edit_content_blocks_path, class: 'btn btn-default', id: "change-tab-btn"%>
        </div>
      </div>
    </div>
  </div>
</div>
