<% content_for :page_header do %>
  <h1><span class="fa fa-square-o" aria-hidden="true"></span> <%= t(:'hyrax.admin.sidebar.content_blocks') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
