version: 2.1
orbs:
  samvera: samvera/circleci-orb@1
  browser-tools: circleci/browser-tools@1.3
  ruby: circleci/ruby@2
  node: circleci/node@5

jobs:
  kaniko-dassie:
    parameters:
      ruby_version:
        type: string
        default: 3.2.2
    environment:
      RUBY_VERSION: << parameters.ruby_version >>
    docker:
      - image: gcr.io/kaniko-project/executor:v1.14.0-debug
        entrypoint: ""
    steps:
      - checkout
      - run:
          name: Configure GHCR credentials
          command: |
             cat > /kaniko/.docker/config.json \<<- JSON
             {
               "auths": {
                 "ghcr.io": {
                   "auth": "$(echo -n $GHCR_USER:$GHCR_TOKEN | base64)"
                 }
               }
             }
             JSON
      - run:
          name: Build and Push image
          command: |
            /kaniko/executor \
                --context "dir://$(pwd)" \
                --target "hyrax-engine-dev" \
                --build-arg RUBY_VERSION=$RUBY_VERSION \
                --destination "ghcr.io/samvera/hyrax/dassie:${CIRCLE_SHA1}-ruby${RUBY_VERSION}"

  bundle:
    parameters:
      ruby_version:
        type: string
        default: 2.7.8
      bundler_version:
        type: string
        default: 2.4.15
      rails_version:
        type: string
        default: 6.1.7.4
    executor:
      name: 'samvera/ruby'
      ruby_version: << parameters.ruby_version >>
    resource_class: medium
    environment:
      RAILS_VERSION: << parameters.rails_version >>
      NOKOGIRI_USE_SYSTEM_LIBRARIES: true
    steps:
      - samvera/cached_checkout

      - run:
          name: Check for a branch named 'master'
          command: |
            git fetch --all --quiet --prune --prune-tags
            if [[ -n "$(git branch --all --list master */master)" ]]; then
              echo "A branch named 'master' was found. Please remove it."
              echo "$(git branch --all --list master */master)"
            fi
            [[ -z "$(git branch --all --list master */master)" ]]

      - samvera/bundle:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>

      # Run rubocop in parallel with caching
      # This should get added to the orb once proven here

      - restore_cache:
          name: Restore rubocop cache
          keys:
            - v1-rubocop-ruby<< parameters.ruby_version >>-bundle{{ checksum "Gemfile.lock" }}
            - v1-rubocop-ruby<< parameters.ruby_version >>
            - v1

      - run:
          name: Run rubocop in parallel
          command: bundle exec rubocop --parallel

      - save_cache:
          name: Save rubocop cache
          key: v1-rubocop-ruby<< parameters.ruby_version >>-bundle{{ checksum "Gemfile.lock" }}
          paths:
            - ~/.cache/rubocop_cache

      - persist_to_workspace:
          root: ~/
          paths:
          - project/*
          - project/**/*

  build:
    parameters:
      ruby_version:
        type: string
        default: 2.7.8
      bundler_version:
        type: string
        default: 2.4.15
      rails_version:
        type: string
        default: 6.1.7.4
    executor:
      name: 'samvera/ruby_fcrepo_solr_redis_postgres'
      ruby_version: << parameters.ruby_version >>
      solr_version: 8.11-slim
    resource_class: medium
    environment:
      RAILS_VERSION: << parameters.rails_version >>
      NOKOGIRI_USE_SYSTEM_LIBRARIES: true
      ENGINE_CART_RAILS_OPTIONS: --database=postgresql --skip-git --skip-bundle --skip-listen --skip-spring --skip-keeps --skip-test --skip-bootsnap --skip-javascript
      DATABASE_URL: postgresql://postgres@127.0.0.1/circle_test # Hard-coded with data from CircleCI orb, related to https://github.com/samvera-labs/samvera-circleci-orb/issues/42
    steps:
      - attach_workspace:
          at: ~/
      - samvera/engine_cart_generate:
          cache_key: v1-internal-test-app-{{ checksum "hyrax.gemspec" }}-{{ checksum ".regen" }}-{{ checksum ".circleci/config.yml" }}-<< parameters.rails_version >>-<< parameters.ruby_version >>
      - samvera/bundle:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
      - run:
          name: Generate .internal_test_app/Gemfile.lock
          command: bundle lock
          working_directory: .internal_test_app
      - ruby/install-deps:
          app-dir: .internal_test_app
      - node/install-packages:
          pkg-manager: yarn
          app-dir: .internal_test_app
      - persist_to_workspace:
          root: ~/
          paths:
          - project/*
          - project/**/*

  test:
    parameters:
      ruby_version:
        type: string
        default: 2.7.8
      bundler_version:
        type: string
        default: 2.4.15
      hyrax_valkyrie:
        type: string
        default: "false"
    executor:
      name: 'samvera/ruby_fcrepo_solr_redis_postgres'
      ruby_version: << parameters.ruby_version >>
      solr_version: 8.11-slim
    resource_class: medium+
    parallelism: 10
    environment:
      HYRAX_VALKYRIE: << parameters.hyrax_valkyrie >>
      VALKYRIE_SOLR_PORT: 8985
      DATABASE_URL: postgresql://postgres@127.0.0.1/circle_test # Hard-coded with data from CircleCI orb, related to https://github.com/samvera-labs/samvera-circleci-orb/issues/42
      KARMA_BROWSER: ChromeHeadlessCustom
      RAILS_ROOT: .internal_test_app
      SPEC_OPTS: "" # Clear output conflicts between samvera orb executor and ruby orb rspec command
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Install system dependencies
          command: |
            sudo apt-get update
            sudo apt-get install imagemagick librsvg2-bin lsof
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Check Chrome install
          command: |
            google-chrome --version
            chromedriver --version
      - restore_cache:
          keys:
            - engine-node-v1-{{ checksum "package.json" }}
      # Call yarn directly for hyrax engine; node orb demands a lockfile to use caching
      - run:
          name: Yarn Install (engine)
          command: yarn install
      - save_cache:
          key: engine-node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules
      - samvera/install_solr_core:
          solr_config_path: .internal_test_app/solr/conf
      - samvera/install_solr_core:
          solr_config_path: .internal_test_app/solr/conf
          core_name: hyrax-valkyrie-test
      # Rerun bundler in case this is a different ruby version than bundle and build steps
      - samvera/bundle:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
      # Ensure gems needed by the test app are installed
      - ruby/install-deps:
          app-dir: .internal_test_app
      - node/install-packages:
          pkg-manager: yarn
          app-dir: .internal_test_app
      - run:
          command: bundle exec rake db:migrate
          working_directory: .internal_test_app
      - ruby/rspec-test
      - store_artifacts:
          path: Gemfile.lock
          destination: engine-gemfile-lock
      - store_artifacts:
          path: .internal_test_app/Gemfile.lock
          destination: webapp-gemfile-lock

workflows:
  version: 2
  dassie:
    jobs:
      - kaniko-dassie:
          ruby_version: "3.2.2"

  ruby3-2:
    jobs:
      - bundle:
          ruby_version: "3.2.2"
          rails_version: "6.1.7.4"
          bundler_version: "2.4.15"
      - build:
          ruby_version: "3.2.2"
          rails_version: "6.1.7.4"
          bundler_version: "2.4.15"
          requires:
            - bundle
      - test:
          name: "ruby3-2"
          ruby_version: "3.2.2"
          bundler_version: "2.4.15"
          requires:
            - build
      - test:
          name: "ruby3-2-valkyrie"
          ruby_version: "3.2.2"
          bundler_version: "2.4.15"
          hyrax_valkyrie: "true"
          requires:
            - build
  ruby2-7:
    jobs:
      - bundle:
          ruby_version: "2.7.8"
          rails_version: "6.1.7.4"
          bundler_version: "2.4.15"
      - build:
          ruby_version: "2.7.8"
          rails_version: "6.1.7.4"
          bundler_version: "2.4.15"
          requires:
            - bundle
      - test:
          name: "ruby2-7"
          ruby_version: "2.7.8"
          bundler_version: "2.4.15"
          requires:
            - build
      - test:
          name: "ruby2-7-valkyrie"
          ruby_version: "2.7.8"
          bundler_version: "2.4.15"
          hyrax_valkyrie: "true"
          requires:
            - build
