<h3>Deposits By Users (<%= @presenter.date_filter_string %>)</h3>
<ul>
  <% @presenter.depositors.each do |usr| %>
    <li>
      <a href="<%= sufia.profile_path(usr[:key]) %>" title="View user's profile"><%= usr[:user].name %></a>
      <% num_files = usr[:deposits]%>
      deposited <%= pluralize(num_files, "file") %>
    </li>
  <% end %>
</ul>

