<h4>Advisor Comments:</h4>

<p><b>Advisor Name</b>: I think student X should do Y.</p>


<div class="form-group">
  <b>New Comment:</b>
  <textarea class="form-control"></textarea>
</div>

<input class="btn btn-primary" type="submit" value="Submit">