<h4>Actions</h4>

  <div class="radio">
    <label for="advisor_approve"><input type="radio" name="optRadios" id="advisor_approve">Approve</label>
  </div>
  <div class="radio">
    <label for="advisor_reject"><input type="radio" name="optRadios" id="advisor_reject">Reject</label>
  </div>
  <div class="radio">
    <label for="advisor_flag"><input type="radio" name="optRadios" id="advisor_flag">Flag</label>
  </div>
  <div class="radio">
    <label for="advisor_takedown"><input type="radio" name="optRadios" id="advisor_takedown">Take Down</label>
  </div>
  <div class="radio">
    <label for="advisor_restore"><input type="radio" name="optRadios" id="advisor_restore">Restore</label>
  </div>