  <div class="actions form-horizontal panel panel-default">
    <%= button_tag "Save", class: "btn btn-primary disabled", data: { action: "save-actions" }%>
    <%= button_tag "Sort alphabetically", class: "btn btn-primary", data: { action: "alpha-sort-action" }%>
  </div>
  <%= render "file_manager_resource_form" %>
