  <fieldset id="content-editor">
    <legend>
      <%=t('curation_concerns.work.editor.legend') %>
      <small><%=t('curation_concerns.work.editor.caption') %></small>
    </legend>
    <div class="col-md-6" id="required-information">
      <%#= render "linked_editors", curation_concern: curation_concern, f: f %>
    </div>

    <div class="col-md-6" id="additional-information">
      <%#= render "linked_groups", curation_concern: curation_concern, f: f %>
    </div>
  </fieldset>


