<div class="row with-headroom">
  <div class="col-md-12">
    <fieldset id="set-license">
      <legend>Choose a License for your Content</legend>
      <p>
        What do you want others to be able to do with your work?
      </p>
      <p>
        <a href="http://creativecommons.org/licenses/" target="_blank">Here's some help</a> if you don't know which license to choose.
      </p>

      <% license_service = CurationConcerns.config.license_service_class.new %>
      <%= f.input :rights, as: :multi_value_select,
        collection: license_service.select_active_options,
        include_blank: true,
        item_helper: license_service.method(:include_current_value),
        input_html: { class: 'form-control' } %>
    </fieldset>
  </div>
</div>
