<h3><%= t("sufia.works.#{action_name}.in_collections") %></h3>
<div id="collection-widget">
  <%= f.input :collection_ids, as: :select,
      collection: available_collections(nil),
      input_html: { class: 'form-control', multiple: true } %>
</div>
