    <% if defined?(presenter.member_of_collection_presenters) && presenter.member_of_collection_presenters.size > 0 %>
      <tr>
        <td>Member of Collections</td>
        <td>
          <ul class="member_of_collections">
            <% presenter.member_of_collection_presenters.each do |p| %>
              <li><%= link_to p.title.first, main_app.collection_path(p.id), class: 'collection-link' %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
