    <h2><%= t('.header') %></h2>
    <% collection_presenters = presenter.collection_presenters %>
    <% if collection_presenters.blank? %>
        <p><%= t('.empty', type: presenter.human_readable_type) %></p>
    <% else %>
      <table class="table table-striped relationships">
        <tbody>
        <tr>
          <th><%= t('.collections', type: presenter.human_readable_type) %></th>
          <td>
            <% collection_presenters.each do |collection| %>
              <ul class="tabular">
                <li class='attribute title'>
                  <%= link_to collection.to_s, main_app.collection_path(collection) %>
                </li>
              </ul>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    <% end %>
