
<div id="advisor_controls"class="panel panel-default advisor_affix">
  <div class="panel-heading">
    <a data-toggle="collapse" href="#advisor_controls_collapse"><h2>Advisor Control</h2></a>
  </div>
  <div id="advisor_controls_collapse" class="row panel-collapse collapse">
    <form>
      <div class="col-sm-3 advisor_actions">
        <%= render 'advisor_actions.html.erb' %>
      </div>
      <div class="col-sm-9 advisor_comments">
        <%= render 'advisor_comments.html.erb' %>
      </div>
    </form>
  </div>

</div>
