<div class="form-group">
  <label for="workflow_action_comment">Review summary:</label>
  <textarea class="form-control" name="workflow_action[comment]" id="workflow_action_comment"></textarea>
</div>

<input class="btn btn-primary" type="submit" value="Submit">
