<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h2><%= t("sufia.#{controller_name}.#{action_name}.header") %></h2>
<% end %>

<%= render 'form' %>
