<table class="table table-border table-striped">
  <caption class="hide">list all the assets owned by logged in user</caption> 
  <% unless params[:display_type] == 'list' %>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th class="title">Name</th>
      <th class="creator">ID</th>
      <th class="journal">Date Created</th>
      <th class="deposited">Owner</th>
      <th class="files">Action</th>
    </tr>
  </thead>
  <tbody>
  <% end %>
  <% docs.each_with_index do |document,counter| %>
   <%= render_document_partial document, 'index', :counter => counter %>
 <% end %>
  <tbody>
</table>
