<% page_info = paginate_params(@response) %>
<div id="search-results">
  <ol class="catalog" start="<%=1+((page_info.current_page-1)*page_info.limit_value)%>">
    <% docs.each_with_index do |document,counter| %>
    <%= render :partial => 'catalog/_index_partials/list_files', :locals => {:document => document, :counter => counter} %>
  <% end %>
  </ol>
</div>
