<div class="row">
  <div class="col-xs-12 main-header">
    <h1><span class="fa fa-bar-chart"></span><%= t('hyrax.admin.reports.works.status.title') %></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'status_summary' %>
      </div>
      <div class="panel-body">
        <%= render 'status_form' %>
      </div>
    </div>
  </div>
</div>
