  <div class="row">
    <div class="col-md-12">
      <fieldset id="representative-image">
        <legend>
           Thumbnail
        </legend>
        <p>Select the file to be used as the thumbnail for this <%= f.object.human_readable_type %>.</p>
        <%= f.select :thumbnail_id, @form.select_files, {}, { class: 'form-control' } %>
      </fieldset>
    </div>
  </div>

