<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<div class="modal-div">

<!-- Text to trigger modal -->
<h4><i class="icon-hand-left"></i><a data-toggle="modal" href="#followers">Follower(s):</a>  <%= @followers.count %></h4>
<!-- Modal -->
<div class="modal hide in" id="followers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <% if @followers.count > 0 %>
      <h3>Follower(s)</h3>
      <ul>
      <% @followers.each do |f| %>
        <li> <a href="<%= sufia.profile_path(f.login) %>" title="View user's profile"><%= f.name %></a></li>
      <% end %>
      </ul>
    <%else%>
      <h3>No Followers</h3>
    <%end %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
</div>
