<script type = "text/javascript"> 
 

$(document).ready(function() { 

   // periodically update the recent documents
   setInterval( function() { $('#notify_update_link').click();}, 30*1000 ); 
 
}); 
 
</script>
  <div class='hide'>
    <%= link_to "notify", user_notify_path, :remote => true, :id => 'notify_update_link' %>
  </div>
 

<a id="notify_link"  href="<%= mailbox_path %>" class="icon-btn btn btn-small" title="click for User Notifications">
 <%= render :partial => 'users/notify_number' %>
</a>  
