<span class="notify_number label label-default" data-update-poll-url="<%= sufia.user_notify_path %>" data-update-poll-interval="30">
  <span class="count">0</span> <span class="sr-only">unread notifications</span>
</span>
