<span id="notify_number" class="label label-<%= (@notify_number || 0) > 0 ? 'danger' : 'default' %>" data-update-poll-url="<%= sufia.user_notify_path %>" data-update-poll-interval="30">
  <%= @notify_number %> <span class="sr-only">unread notifications</span>
</span>