      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#contributions"><i class="icon-trophy"></i> Contributions</a></li>
        <li><a href="#profile"><i class="icon-info-sign"></i> Profile</a></li>
        <li><a href="#activity_log" ><i class="icon-rss"></i> Activity</a></li>
      </ul>
       
      <div class="tab-content">
        <%= render 'contributions' %>
        <%= render 'profile' %>
        <%= render 'activity' %>
      </div> <!-- /tab-content -->
