        <div class="tab-pane" id="profile">
          <h2>User Info</h2>
             <dl id="user_info">
                <%= render partial: 'user_info', locals: {user: @user} %>
             </dl>
        </div>
