<div class="control-label">
  <i class="icon-trophy trophy-on" ></i> Remove Highlight Designation
  <a href="#" id="remove_trophy_help" rel="popover" data-content="If you would like to remove a highlight designation, check the box and save your profile." data-original-title="Remove Highlight Designation"><i class="icon-question-sign icon-large"></i></a>
</div>
<div class="control-group">
  <dl>
    <% trophies.each do |t| %>
      <dd>
        <div class="controls">
          <%= link_to display_title(t), sufia.generic_file_path(t) %>
          <label class="checkbox fleft">
            <%= check_box_tag "remove_trophy_#{t.id}" %> Yes &nbsp;
          </label>
        </div>
      </dd>
      <br/>
    <% end %>
 </dl>
</div>


