<% content_for :local_js do %>

$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})

<% end %>
  <div class="accessible-hidden" id="current_user"><%=@user.user_key%></div>
  <div class="span110"> 
    <div class="pull-right">
      <%= render 'profile_actions' %>
    </div>
    <span class="span20">
      <%= render 'left_sidebar' %>
    </span> <!-- /close span20 -->

<!-- right col -->
    <span class="span78 offset2"> 

      <%= render 'profile_tabs' %>
    </span> <!-- /close span50 -->
  </div><!-- /close span110 -->



