        <tr>
          <th>Creator</th>
          <td>
            <% @collection.creator.each do |creator| %>
            <span itemprop="creator" itemscope itemtype="http://schema.org/Thing">
              <span itemprop="name"><%= link_to_facet(creator, Solrizer.solr_name("properties__creator", :facetable)) %></span>
            </span>
            <br />
            <% end %>
          </td>
        </tr>
