        <tr>
          <th>Abstract or Summary</th>
          <td>
            <span itemprop="description">
              <%= iconify_auto_link(@collection.description) %>
            </span>
          </td>
        </tr>
