<div class="card permissions-confirm">
  <div class="card-header">
    <h4>Apply changes to contents?<h4>
  </div>
  <div class="card-body">
      <%= I18n.t("hyrax.upload.change_permissions_message_html",
        curation_concern_human_readable_type: curation_concern.human_readable_type,
        curation_concern: curation_concern,
        visibility_badge: visibility_badge(curation_concern.visibility)).html_safe %>
  </div>
  <div class="form-actions card-footer">
    <%= button_to I18n.t("hyrax.permissions.confirm.confirm", :default => "Yes please.", main_app.copy_hyrax_permission_path(curation_concern), class: 'btn btn-primary' %>
    <%= link_to I18n.t("hyrax.permissions.confirm.deny", :default => "No. I'll update it manually.", [main_app, curation_concern], class: 'btn' %>
  </div>
</div>
