<% include_works_link ||= can_ever_create_works? %>
<% include_collections_link ||= can?(:create, Collection) %>
<% if include_works_link || include_collections_link %>
  <div class="btn-group add-content">
    <%= link_to curation_concerns.new_classify_concern_path, id: "add-content", class: "btn btn-primary dropdown-toggle", data: { toggle: "dropdown"} do %>
      <span class="icon icon-white glyphicon-plus"></span><span class="visuallyhidden">Add</span>
    <% end %>
    <ul class="dropdown-menu quick-create">
      <% if include_works_link %>
        <li>
          <strong class="menu-heading item-with-options">Add a Work</strong>
          <ul class="item-options quick-classify">
            <% CurationConcerns::QuickClassificationQuery.each_for_context(current_user) do |concern| %>
              <li><%= link_to(
                    "New #{concern.human_readable_type}",
                    main_app.new_polymorphic_path([:curation_concerns, concern]),
                    class: "item-option contextual-quick-classify #{dom_class(concern, 'new').gsub('_', '-')}",
                    role: 'menuitem'
                  ) %>
              </li>
            <% end %>
            <li><%= link_to 'More Options', curation_concerns.new_classify_concern_path, class: 'item-option link-to-full-list', role: 'menuitem' %></li>
          </ul>
        </li>
        <li class="divider"></li>
      <% end %>
      <% if include_collections_link %>
        <li><%= link_to 'Add a Collection', collections.new_collection_path, class: 'menu-heading new-collection', role: 'menuitem' %></li>
      <% end %>
    </ul>
  </div>
<% end %>