          <strong class="menu-heading item-with-options">Add a Work</strong>
          <ul class="item-options quick-classify">
            <% CurationConcerns::QuickClassificationQuery.each_for_context(current_user) do |concern| %>
              <li><%= link_to(
                    "New #{concern.human_readable_type}",
                    new_polymorphic_path([main_app, concern]),
                    class: "item-option contextual-quick-classify #{dom_class(concern, 'new').gsub('_', '-')}",
                    role: 'menuitem'
                  ) %>
              </li>
            <% end %>
            <li><%= link_to 'More Options', curation_concerns.new_classify_concern_path, class: 'item-option link-to-full-list', role: 'menuitem' %></li>
          </ul>

