        <div class="container">
          <div id="brand-bar" class="row">
            <div class="university span6">
              <h3><a href="<%= t('sufia.institution_homepage_url') %>" tabindex="-1"><%= t('sufia.institution_name') %></a></h3>
            </div>
            <div class="division span6">
              <h2><a href="<%= t('sufia.division_homepage_url') %>" tabindex="-1"><%= t('sufia.division_name') %></a></h2>
            </div>
          </div>
        </div>
