        <div class="container">
          <div id="brand-bar" class="row">
            <div class="university col-md-6">
              <h3><a href="<%= t('curation_concerns.institution.homepage_url') %>" tabindex="-1"><%= t('curation_concerns.institution.name') %></a></h3>
            </div>
            <div class="division col-md-6">
              <h2><a href="<%= t('curation_concerns.division.homepage_url') %>" tabindex="-1"><%= t('curation_concerns.division.name') %></a></h2>
            </div>
          </div>
        </div>
