  <header id="banner" role="banner">
    <hgroup>
      <div id="brand-bar-wrapper">
        <%= render 'shared/brand_bar' %>
      </div>
      <div id="title-bar-wrapper">
        <%= render 'shared/title_bar' %>
      </div>
    </hgroup>
  </header>


