<div class="btn-group my-actions">
  <a class="btn btn-primary dropdown-toggle user-display-name" data-toggle="dropdown" href="#">
    <%= current_user.name.blank? ? 'Me' : current_user.name %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'My Works', main_app.catalog_index_path(:'f[generic_type_sim][]' => 'Work', works: 'mine'), class: 'my-works',       role: 'menuitem' %></li>
    <li class="divider"></li>
    <li><%= link_to 'Log Out', main_app.destroy_user_session_path, class: 'log-out', role: 'menuitem' %></li>
  </ul>
</div>

