<% schema_version = SolrDocument.find(f.object.id).schema_version if action_name == 'edit' %>
<% schema_version = Hyrax::FlexibleSchema.current_schema_id if action_name == 'new' %>
<% updating = (schema_version.to_f < @latest_schema_version.to_f) ? 'updating' : '' %>

<div class='pull-right'>
  <% if schema_version.present? %>
    <div class='schema-version text-center'>
      <span>Created On Version</span>
      <h4><%= schema_version.to_f %></h4>
    </div>
  <% end %>
  <div class='schema-version text-center <%= updating %>'>
    <span>Version After Save</span>
    <h4><%= @latest_schema_version %></h4>
  </div>
</div>

<style>
  .schema-version{
    background:#FFF;
    border-radius:8px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    padding:20px 5px;
    margin-bottom: 5px;
    min-width: 10em;
  }

  .schema-version.updating {
    background-color: lightgreen;
  }

  .schema_version h4 {
    font-size: 14px;
  }
  .schema_version span {
    font-size: 10px;
  }
</style>
