<nav id="title-bar" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-right">
      <%= render 'shared/site_search' if show_site_search? %>
    </div>
  </div>
</nav>
