<h2><%= t('.share_batch_with') %></h2>

<table class="table table-bordered">
  <tr id="file_permissions">
    <th  width="65%"><%= t('.table_title_user') %></th>
    <th><div class="col-sm-10"><%= t('.table_title_access') %></div></th>
  </tr>
</table>
