<%# this should imitate the stuff in catalog/_show_partials/_default_details -%>
<%= form_tag hydra_update_url_for(action: "update", controller: "hydra/assets"), id: "document_metadata"  "accept-charset" => "utf-8" do %>

  <div id="multipleEdit">
      <dl class="defList fl-theme-mist">
      <%= editable_metadata_field(@document_fedora, "descMetadata", :title, label: "Title:") %>
      </dl>
    </div>
  </div>
<% end %>
<%# -- end of code replicating catalog/_show_partials/_default_details -%>
