

<%# this should imitate the stuff in catalog/_show_partials/_default_details -%>
<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets") %>" method="post" accept-charset="utf-8">

  <div id="multipleEdit">
    <div id="loading" style="display:none;"><img src="/plugin_assets/hydra-head/images/ajax-loader.gif" width="32" height="32" alt="Saving"/> Saving...</div>
    <div>
      <dl class="defList fl-theme-mist">
      <%= editable_metadata_field(@document_fedora, "descMetadata", :title, :label => "Title:") %>
      </dl>
    </div>
  </div>
</form>
<%# -- end of code replicating catalog/_show_partials/_default_details -%>
