#brand-bar-wrapper {
  background-color: $blue-dark;
  background-image: linear-gradient(#0d407b,#07366c 85%,#001834);
  border-bottom:1px solid #001834;

  h2 a, h3 a {
    color:#FFF;
  }

  .division {
    float:right;
  }
}

#title-bar-wrapper {
  background-color:$yellow;
  background-image: linear-gradient(#f5e59e,#dcb439 98%,#9c7012);
  border-top:1px solid #FFF;
  margin-bottom:.3em;
}

#site-title {
  h1 {
    text-shadow: #fff 0 0 1px;
  }

  a,
  a:hover,
  a:visited {
    color:$blue;
  }
}

#main {
  h1,h2,h3,h4,h5,h6 {
    color:$blue;
  }
}

#footer {
  color: $gray-light;

  .footer-text {
    border-top:1px solid $gray-lighter;
  }
}
