<div class="no-preview">
  <%= t('hyrax.works.show.no_preview') %>
  <% if Hyrax.config.display_media_download_link? %>
    <p /><%= link_to t('hyrax.file_set.show.download'),
      hyrax.download_path(file_set),
      id: "file_download",
      data: { label: file_set.id },
      target: "_new" %>
  <% end %>
</div>
