<% if Hyrax.config.display_media_download_link? %>
    <div>
      <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
      <%= link_to t('hyrax.file_set.show.downloadable_content.office_link'),
                  hyrax.download_path(file_set),
                  target: :_blank,
                  id: "file_download",
                  data: { label: file_set.id } %>
    </div>
<% else %>
    <div>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
    </div>
<% end %>
