  <div class="btn-group batch-tools hidden" data-behavior="batch-tools">
    <button class="btn"><i class="icon-cog"></i> Tools</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li data-behavior="batch-edit-activate" data-state="<%= batch_edit_state %>"><a href="#"><i class=""></i> Batch edit</a></li>
    </ul>
  </div>

