<h1>User Notifications</h1>
<%= link_to raw('<i class="glyphicon glyphicon-trash">&nbsp;</i>Delete All'),
    sufia.delete_all_notifications_path, method: :delete, class: 'btn',
    title: 'Delete all user notifications' %>
<div id="Data">
  <%= render partial: "mailbox/notifications", locals: { messages: @messages } %>   
</div>
