<% stylesheet_links << "../plugin_assets/hydra-head/javascripts/fancybox/jquery.fancybox-1.3.1.css" %>

<style type="text/css" media="screen">
  input.editable-edit, input.textile-edit {display:none}
</style>

<div class="document_viewer" id="cover_container">

  <div id="accordion">
		<h2 class="section-title"><a href="#">Description</a></h2>
			<%= render :partial => "generic_content_objects/show_description", :locals => {:content_type => "generic_content"} %>

    <h2 class="section-title"><a href="#">Content</a></h2>
			<%= render :partial => "generic_contents/show_content" %>

  </div>

</div>
