<% render_req ||= true # render_req is true for single file edit, false for batch edit %>

<div class="form-group">
  <% required = render_req && record.required?(key) %>
  <% lbl = get_label(key) %>
  <% single = f.object.class.unique?(key) %>

  <% if partial_exists?("records/edit_fields/_#{key}") %>
    <%= render_edit_field_partial(key, f: f, record: record, required: required, label_for_field: lbl, single: single) %>
  <% else %>
    <% opts = { label: lbl, required: required } %>

    <% if single %>
      <% opts = opts.merge(input_html: { class: 'listing' }) %>
      <div class='single_value'>
        <%= f.input key, opts %>
      </div>
    <% else %>
      <% opts = opts.merge(as: :multi_value) %>
      <%= f.input key, opts %>
    <% end %>

  <% end %>
</div>
