<%# Overriding hydra-editor so that we can replace the call to 'render_edit_field_partial'
  # With render_edit_field_partial_with_action because there is also a 
  # 'render_edit_field_partial' in sufia that uses 'generic_file' as the action. %>
<% render_req ||= true # render_req is true for single file edit, false for batch edit%>
<div class="form-group">
  <% vals = record[key] %>
  <% if render_req && record.required?(key) %>
    <% tmp = '<span class="required-field">*</span>' + get_label(key) %>
    <%= f.label key, tmp.html_safe, class: "col-sm-3 control-label"  %>
  <% else %>
    <%= f.label key, get_label(key), class: "col-sm-3 control-label" %>
  <% end %>

  <% if key == :resource_type %>
    <%# resource_type is a multiselect box, so don't render one row for each %>
    <%= render_edit_field_partial(key, record: record, f: f, render_req: render_req) %>
  <% else %>
    <% vals.to_ary.each_with_index do |v, index| %>
      <%= render_edit_field_partial(key, record: record, f: f,  v: v, index: index, render_req: render_req) %>
    <% end %>
  <% end %>
</div><!-- /.form-group -->
