@import 'widgets';
@import 'bootstrap';

$sidebar-background-color: #5f5f5f !default;
$sidebar-separator-color: #555 !default;
$sidebar-link-color: #ffffff !default;
$sidebar-icon-color: #ffffff !default;
$sidebar-hover-background-color: #7f7f7f !default;
$sidebar-selected-background-color: #7f7f7f !default;
$sidebar-hover-icon-color: #eee !default;

$header-background-color: black !default;
$header-text-color: #f7f7f7 !default;
$header-logo-color: #ffffff !default;
$header-height: 35px !default;
$title-text-color: #4e4a42 !default;
$content-background-color: #5f5f5f !default;


html, body {
  height: 100%;
}

#banner {
  @include make-xs-column(12);
}

.page-container {
  @include make-row;
  min-height: 100%;
  background: $sidebar-background-color;
}

.page-container .page-sidebar {
  @include make-xs-column(3);
  color: #ddd;
  z-index: 3;
}

.page-container .page-content {
  min-height: 100%;
  background: $content-background-color;
  @include make-xs-column(9);
}

.x-navigation {
  width: 100%;
  padding: 0px;
  margin: 0px;
  float: left;
  list-style: none;
  display: block;
  background: $sidebar-background-color;
}

.x-navigation li {
  float: left;
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.x-navigation li > a {
  display: block;
  width: 100%;
  line-height: 19px;
  color: $sidebar-link-color;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  padding: 15px 10px 15px 15px;
  border-bottom: 1px solid $sidebar-separator-color;
}

.x-navigation li > a .fa {
  color: $sidebar-icon-color;
  margin-right: 10px;
  transition: color 200ms ease;
}

.x-navigation li > a.selected {
  background: $sidebar-selected-background-color;
}

.x-navigation li > a:hover {
  background: $sidebar-hover-background-color;
  transition: all 200ms ease;
}

.x-navigation li > a:hover .fa {
  color: $sidebar-hover-icon-color;
}

.x-navigation.x-navigation-horizontal {
  height: $header-height;
  background: $header-background-color;
  border-color: $header-background-color;
}

.x-navigation.x-navigation-horizontal li {
  position: relative;
}

.x-navigation.x-navigation-horizontal > li {
  width: auto;
}

.x-navigation.x-navigation-horizontal > li > a {
  padding: 10px;
  border-bottom: 0px;
  line-height: 20px;
  color: $header-text-color;
}

.dashboard-index {
  @include container-fixed;
  > .wrapper {
    @include make-row;
  }
}

@mixin widget-partial($col: 12) {
  @include make-sm-column(12);
  @include make-md-column($col);
  .partial-wrapper {
    @extend .widget;
    @extend .widget-default;
  }
}

.partial-total_objects {
  @include widget-partial;
}
.partial-total_objects_charts {
  @include widget-partial(6);
}
.partial-total_embargo_visibility {
  @include widget-partial(6);
}
