<div class="modal fade" id="proxy-deny-modal" tabindex="-1" role="dialog" aria-labelledby="proxy-deny-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="proxy-deny-modal-form">
        <div class="modal-body">
          <p id="errorMsg"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('helpers.action.close') %></button>
        </div>
      </form>
    </div>
  </div>
</div>
