 <dt>
	Screen Sized Image:
 </dt>
 <dd class="screen-image">
	<% source_url = datastream_disseminator_url(params[:id], "screen") %>
	<a class="fbImage" id="single_image" href="<%= source_url %>"><img width="500" src="<%= source_url %>"></a>
 <dd>