<table class="table table-striped">
  <caption class="sr-only">List of items in this administrative set</caption>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Title</th>
    <th>Date Uploaded</th>
    <th>Visibility</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'show_document_list_row', collection: documents %>
  </tbody>
</table>
