<% provide :page_header do %>
  <h1><span class="fa fa-edit" aria-hidden="true"></span> <%= t('.header', title: @form.title) %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
