<%# Needed for bootstrap tabs use on this page (https://github.com/projecthydra-labs/hyrax/issues/254) %>
<% provide :body_attributes, 'data-turbolinks="false"'.html_safe  %>

<% provide :page_header do %>
  <h1><span class="fa fa-edit"></span> <%= t('.header') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
