<% content_for :layout_name, 'dashboard, ' %>
<% content_for :main do %>

  <div class="row">

  <% if content_for?(:sidebar) %>
    <div class="span3">
      <%= yield(:sidebar) %>
    </div>

    <div class="span9">
  <% else %>
    <div class="span12">
  <% end %>
      <%= yield %>
    </div>

  </div>

<% end %>

<%= render template: "layouts/#{theme}" %>
