        <tr>
          <th>Date Created</th>
          <td>
            <% @generic_file.date_created.each do |dc| %>
              <%= dc %><br />
            <% end %>
          </td>
        </tr>

