        <tr>
          <th>Language</th>
          <td>
            <% @generic_file.language.each do |lang| %>
              <span itemprop="inLanguage"><%= link_to_facet(lang,'desc_metadata__language_facet') %></span><br />
            <% end %>
          </td>
        </tr>

