        <tr>
          <th>Related URL</th>
          <td>
            <% @generic_file.related_url.each do |url| %>
              <div style="word-break:break-all;">              
                <%= iconify_auto_link(url) %>
              </div>
            <% end %>
          </td>
        </tr>

