        <tr>
          <th>Keyword</th>
          <td>
            <% @generic_file.tag.each do |t| %>
              <span itemprop="keywords"><%= link_to_facet(t, 'desc_metadata__tag_facet') %></span><br />
            <% end %>
          </td>
        </tr>

