        <tr>
          <th>Title</th>
          <td>
            <% @generic_file.title.each do |title| %>
              <span itemprop="name">
              <%= title %>
              </span>
              <br />
            <% end %>
          </td>
        </tr>

