.accordion {
  .accordion-toggle {
    color:$blue
  }

  .accordion-toggle:hover {
    text-decoration:none;
  }
}

.js .accordion {
  .accordion-toggle:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    margin:0 .4em .25em -.2em;
    border-style:solid;
    border-color:$blue transparent transparent transparent;
    border-width:.3em .3em 0 .3em;
  }

  .accordion-toggle.collapsed:before {
    margin:0 .5em .2em 0;
    border-color:transparent transparent transparent $blue;
    border-width:.3em 0 .3em .3em;
  }
}

/* If form elements are present in an accordion they won't be wrapped in a row */
.accordion-inner .form-group {
  margin-bottom:1.5em;
}
