.attribute-list {
  clear:both;
  float:left;
  list-style-type:none;
  margin-top:0;
  width:100%;

  dt,
  .label {
    float:left;
    clear:both;
  }

  dd,
  .value {
    float:left;
  }
}

.table .tabular {
  margin: 0;
  padding: 0;
  .attribute {
    list-style-type: none;
  }
}
