.collection-listing {
  list-style-type:none;
  margin:0 0 1em;

  .with-controls {
    line-height:2;
  }
}

.collection-member {
  padding-bottom:.5em;
  position:relative;
}

.collection-member-actions {
  float:right;
  min-width:12em;
  position:absolute;
  right:0;
  top:0;

  .btn {
    margin-right:.3em;
  }

  .btn,
  .remove-member {
    float:right;
    margin-bottom:0;
  }
}

.collection-section-heading {
}

.collection-section-description {
  margin-bottom:10px;
}

.collection-section-heading + .collection-section-description {
  margin-top:-10px;
}
