.embargoes {
  .current-visibility, .embargo-release-date {
    text-align: center;
  }
  th, td {
    padding-right: 8px;
    padding-left: 8px;
  }

  .extra-embargo-info {
    td {
      border-top: none;
    }
  }
}
