.emphatic-action-area {
  padding-top:2em;
  text-align:center;

  a {
    font-family:$font-family-serif;
    font-size:2em;
    padding:.5em;
  }
}

.home .emphatic-action-area {
  padding-bottom:8em;
}
