legend small {
  margin-left:.5em;
  color: #999999;
  font-size: 15px;
}

.label-large {
  font-size: 110%;
  line-height: 1.2;
  padding: .3em .6em;
  white-space: normal;
  position: relative;


  input[type="checkbox"]{
    margin:-2px 0 0;
    position: absolute;
    left:.5em;
    top:38%;
  }
}

.label-checkbox .label-text {
  display:block;
  padding-left:1.2em;
}

.form-group.has-error input,
.form-group.has-error option,
.form-group.has-error textarea {
  color:$gray-dark;
}

.form-actions .btn-link {
  color: $blue;
}

.form-actions {
  margin-top: 1em;
}

form label.optional { font-weight: normal; }
form label.required { font-weight: bold; }

#set-access-controls {
  label { font-weight: normal; }
  & > .form-group { padding: 0 1.75em; }

  .form-inline {
    .control-label, label {
      padding-left: 0;
      display: inline;
      &:after {
        content: ' ';
      }
    }
    .help-block {
      display: inline;
      &:before {
        content: ' ';
      }
    }
  }
}

.control-label.required {
  abbr {
    font-size: 1.25em;
    font-weight: bold;
  }
}


.field-choice {
  padding-bottom:1em;
  padding-top:1em;
  text-align:center;
  font-size:1.3em;
  line-height:1;
  z-index: -1000;  // Prevent padding from obscuring file upload button when window is narrow
}

.accept-contributor-agreement {
  padding: 1em 2.5em;
  input, label {
    font-size:1.3em;
    font-weight: normal;
  }
}

#edit_related_works {
  ul.token-input-list-facebook {
    float:left;
  }
  .btn {
    margin-left:1em;
  }
}

form.button-to {
  margin:0 .3em;
}

form.pull-right {
  margin-right:0;
}

.inline-checkbox {
  display: inline-block;
  padding-right:1em;
}

.help-inline {
  color: $gray;
  padding-left: 1em;
}
