.search-results-list {
}

#documents .document {
  border-top: 1px solid $gray-lighter;
  margin-top: 1em;
  padding-top:.5em;

  &:before {
    //Overwrite blacklight
    content: none;
  }
  &:first-child {
    border-top:none;
    margin-top:0;
    padding-top:0;
  }
  .search-result-actions {
    @include make-xs-column(8);
    @include make-xs-column-offset(4);
    @include make-sm-column(2);
    @include make-sm-column-offset(0);
  }

  .document-thumbnail {
    @include make-xs-column(4);
    @include make-sm-column(2);
  }

  .document-metadata {
    @include make-xs-column(8);
  }

  .canonical-image {
    width: 100%; // no bigger than the parent
  }

  .resource-type {
    margin-bottom:0;
    position:absolute;
    right:0;
    text-align:center;
    top:0;
    width:80%;
  }

  .modal {
    text-align:left;
  }
}


.search-result-details {
}

