.search-form {
  position:relative;

  .search-query,
  .search-submit {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
  }

  .search-query {
    width:100%;
    padding-left:.6em;
    padding-right:12%;
    height: 2.1em;
    border-radius: $input-border-radius;
  }

  .search-submit {
    padding:2px;
    position:absolute;
    right:2px;
    text-align:center;
    top:2px;
    white-space:nowrap;
    width:9%;
  }
}

.search-query-form {
  margin-bottom:.3em;
  padding-left:1em;

  .search-scope {
    display:block;
    line-height:1.5em;
    margin-bottom:.3em;

    input {
      margin-top:0;
    }
  }

  .label-text {
    padding-left:.3em;
  }
}
