      <div class="controls" <% if index == 0%> id="additional_<%= key.to_s %>_clone" <% end %>>
              <% choices = Sufia.config.cc_licenses %>
              <% choices = {""=>""}.merge(choices) %>
              <%= f.select "rights", options_for_select(choices, v) %>
        <%= render :partial=>"generic_files/edit_fields/suffix", :locals=>{key: key, index: index} %>
      </div><!-- /controls -->              
      <div id="additional_<%= key %>_elements"></div>

