      <div class="col-sm-9" <% if index == 0%> id="additional_<%= key.to_s %>_clone" <% end %>>
              <% choices = {"" => ""}.merge(Sufia.config.cc_licenses) %>
              <%= f.select "rights", options_for_select(choices, v) %>
        <%= render partial: "generic_files/edit_fields/suffix", locals: { key: key, index: index } %>
      </div>
      <div id="additional_<%= key %>_elements"></div>
