      <div class="control-group">
        <%= f.label :resource_type, "Resource Types", :class=>"control-label", :for=>"resource_type" %>
        <div class="controls">
          <p class="help-block">You may select multiple types to apply<p>
          <%= f.select "resource_type", options_for_select(Sufia::Engine.config.resource_types.keys, @generic_file.resource_type), {}, {:multiple=>true, :size=>7} %>
          <%= help_icon(:resource_type) %>
        </div>
      </div><!-- /control-group -->

