<p>The list of groups in the drop-down marked &quot;Select a group&quot; is a list of User Managed Groups that
  you are a member of, and are managed by <%=t('sufia.institution_name') %>'s ITS department.  You may select
  a specific group and assign an access level for a file within <%=t('sufia.product_name') %>, similarly to
  adding user access levels.  However, management of these groups and their membership is handled centrally
  at <a href='http://umg.its.psu.edu' target='_blank'>umg.its.psu.edu</a>.</p>

