<% provide :page_header do %>
  <h1><span class="fa fa-bell"></span>  <%= t("hyrax.admin.sidebar.notifications") %></h1>
  <%= link_to hyrax.delete_all_notifications_path,
              method: :delete,
              class: 'btn btn-danger float-right',
              title: 'Delete all user notifications' do %>
    <i class="fa fa-trash"></i> <%= t('hyrax.admin.sidebar.delete_all') %>
  <% end %>
<% end %>

<div class="card">
  <div class="card-body">
    <%= render "notifications", messages: @messages %>
  </div>
</div>
