- javascript_includes << "jquery.form.js"
- unless defined?(asset_id)
  - asset_id = params[:asset_id]
%fieldset#individual_permissions.slider
  %h2 Add Individual Permissions
  %form#new_permissions{:action=>url_for(:action=>"create", :controller=>"permissions", :asset_id=>asset_id), :method=>"post"}
    / %input#content_type{:type=>"hidden", :name=>"content_type", :value=>"hydrangea_article"}
    / %input#permission_type{:type=>"hidden", :name=>"permission[\"person\"]", :value=>"person"} 
    %input#permission_actor_type{:type=>"hidden", :name=>"permission[actor_type]", :value=>"person"}
  
    %label{:for=>"permission_actor_id"} User ID
    %input#permission_actor_id{:name=>"permission[actor_id]"} 
  
    %label{:for=>"permission_level"} Permission Level
    %select#permission_level{:name=>"permission[access_level]"}
      %option{:value=>"discover"} Discover
      %option{:value=>"read"} Read & Download
      %option{:value=>"edit"} Edit & Upload
    
    %input{:type=>"submit", :value=>"Add Permissions"}