<%# unless defined?(asset_id) %>
  <%# asset_id = params[:asset_id] %>
<%# end %>

<!-- <form id="new_permissions" action="<%= url_for(:action=>"create", :controller=>"permissions", :asset_id=>params[:id]) %>" method="post"> -->
  <fieldset id="permissions_fields">
    <legend>Add Individual Permissions</legend>
    <input id="permission_actor_type" type="hidden" name="permission[actor_type]" value="person" />
    <p class="permission-field"><label for="permission_actor_id">User ID</label>
    <input id="permission_actor_id" name="permission[actor_id]" type="text" /></p>
    <p class="permission-field">
      <label for="permission_level">Permission Level</label>
      <select id="permission_level" name="permission[access_level]">
        <option value="discover">Discover</option>
        <option value="read">Read &amp; Download</option>
        <option value="edit">Edit &amp; Upload</option>
      </select>
    </p>
    <!--<p class="permission-field permission-submit"><input type="submit" value="Add Permissions" /></p> -->
  </fieldset>      
<!-- </form> -->
