apiVersion: v2
name: hyrax
description: An open-source, Samvera-powered digital repository system
type: application
version: 3.7.0
appVersion: 5.0.0
dependencies:
  - name: fcrepo
    version: 2.0.0
    repository: oci://ghcr.io/samvera
    condition: fcrepo.enabled
  - name: memcached
    version: 6.6.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: memcached.enabled
  - name: minio
    version: 12.8.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: minio.enabled
  - name: postgresql
    version: 12.9.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: redis
    version: 17.16.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: solr
    version: 8.0.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: solr.enabled
  - name: nginx
    version: 15.2.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: nginx.enabled
  - name: fits
    version: 0.2.0
    repository: https://samvera-labs.github.io/fits-charts
    condition: fits.enabled
