# This is a sample config file that does not have multiple solr instances. You will also need to be sure to
# edit the fedora.yml file to match the solr URL for active-fedora. 
development:
  url: http://localhost:8983/solr/development
test: &TEST
  url: http://127.0.0.1:8983/solr/test
cucumber:
  <<: *TEST
integration:
  url: http:/_HOST_:_PORT_/_solar_integration_instance_
production:
  url: http:/_HOST_:_PORT_/_solar_production_instance_
