<% unless curation_concern.persisted? %>
  <fieldset class="row contributor_agreement with-headroom" id="contributor-agreement">
    <div class="span12">
      <legend>
        <%= t('sufia.product_name') %> Content Submission Terms
      </legend>
    </div>

    <div class="span12">
      <article class="lawyer_readable contributor_agreement wide-text">
        <%= render partial: 'legally_binding_text' %>
      </article>
    </div>

    <div class="span12 accept-contributor-agreement">
      <%= label_tag contributor_agreement.param_key, class: 'checkbox', for:  'accept_contributor_agreement' do %>
        <%= check_box_tag(
            contributor_agreement.param_key,
            contributor_agreement.acceptance_value,
            contributor_agreement.param_value,
            required: :required,
            id: 'accept_contributor_agreement'
          )
        %>
        I have read and accept the contributor license agreement
      <% end %>
    </div>
  </fieldset>
<%- end -%>
