<%= render "form_files_and_links", curation_concern: curation_concern, f: f %>

<%= render "form_representative_image", curation_concern: curation_concern, f: f %>

<div class="row with-headroom">
  <div class="col-md-12">
    <%= render "form_permission", curation_concern: curation_concern, f: f %>
  </div>
</div>

<div class="row with-headroom">
  <div class="col-md-12">
    <%= render "form_content_license", curation_concern: curation_concern, f: f %>
  </div>
</div>
