<h1>About</h1>
<h2>What is ScholarSphere?</h2>
<p>
Penn State ScholarSphere is a new research repository service offered by the University Libraries and Information Technology Services, 
enabling Penn State faculty, staff, and students to share their scholarly works such as research datasets, working papers, research 
reports, and image collections, to name a few examples. ScholarSphere will make these works more discoverable, accessible, usable, and 
thus broadly recognized and known.
</p>
