<span class="label label-warning" style="float:right;">Page is in draft form</span>
<h1>About</h1> 
<h2>What is ScholarSphere?</h2>
</h2>
<p>
Penn State's ScholarSphere is a new research repository service offered by the 
University Libraries and Information Technology Services, enabling Penn State 
faculty, staff, and students to share their scholarly works such as research 
datasets, working papers, research reports, and image collections, to name a 
few examples. ScholarSphere will make these works more discoverable, 
accessible, usable, and thus broadly recognized and known. 
</p>

<p>
The ScholarSphere service will help researchers actively manage stored versions 
of their research and preserve it, ensuring its longevity over time for future 
generations of scholars to find, use, and build on. The preservation functions 
include scheduled and on-demand verifications of deposited works, 
characterization of files to mitigate future format obsolescence, regular file 
backups, and replication to disaster recovery sites.
</p>

<p>
A trusted institutional service, ScholarSphere has safeguards in place for 
keeping research secure and unchanged over time.
</p>

<h1>Guidelines and Policies</h1>
<h2>Content Policy</h2>

<p>
The content in ScholarSphere represents the research, scholarship, or intellectual output of the Penn State community. Through ScholarSphere, the work of Penn State researchers attains broad visibility and distribution. ScholarSphere captures content primarily of scholarly import, including curricular materials and creative works produced in support of Penn State's teaching, learning, and research mission. Such content may include but is not limited to journal preprints and postprints, data sets, working papers, technical reports, conference papers, student work (e.g., master's theses, capstone projects), audio and visual materials, annual reports, and newsletters. ScholarSphere places no restrictions on the state of the research submitted, as long the depositing author deems the item in a complete enough state to share and thus ready for distribution.  
</p>

<p>
Sensitive data may not be included in ScholarSphere. Examples of sensitive data include, but are not limited to: personally indentifiable information (PII), as covered by FERPA and HIPAA, specific locations of endangered plants and animals, or protected archeological sites. In addition, ScholarSphere will not accept content if its submission violates copyright law or existing licenses or agreements you have with others. In the event that such violations are found, ScholarSphere reserves the right to withdraw the submitted content. See our Terms of Use statement for clarification. [LINK TO TERMS OF USE HERE.]
</p>

<p>
ScholarSphere welcomes deposits from the Penn State community- faculty, students (undergraduates and graduates), postdoctoral researchers, administrators, and staff. Penn State co-authored submissions are also encouraged, provided the co-author has secured any requisite copyright permissions for deposit in ScholarSphere.
</p>

<h2>Deposit Policy</h2>
<p>
Depositing your work in ScholarSphere means the following:
<ul>
<li>The deposit represents your own work (and that of your co-authors, if this is a jointly created work.)</li>
<li>Your work does not contain any confidential or proprietary information, or personally identifiable information that would compromise someone's privacy.</li>
<li>You (and any co-authors) retain copyright to the work and the right to use all or part in future works. </li>
</ul>

Deposit of content to ScholarSphere grants Penn State University non-exclusive rights for preserving and disseminating that content. To increase the reach, impact, sharing, and preservation of the research, content that has been deposited in other repository services may be deposited as well in ScholarSphere. This is assuming the depositor has not signed away the right to do so as part of an exclusive licensing agreement with another entity. Materials placed in ScholarSphere may be freely deposited elsewhere, such as disciplinary data repositories, electronic journals, pre-print archives, conference proceedings, or course/learning management systems. Please consult our Terms of Use statement for clarification. [LINK TO TERMS OF USE HERE.]
</p>

<h2>Guidelines for Access Levels and Sharing</h2>
<p>
The default access level for content added to ScholarSphere is "none", which restricts access to the depositor only. ScholarSphere depositors are encouraged to choose a less restrictive public access level.  These access levels include:
<ul>
<!--<li><strong>Discover</strong>, which allows others to find the content and examine the description of the content, and prohibits anyone but the depositor from accessing the actual content</li>-->
<li><strong>View</strong>, which makes the content and its descriptions accessible to the world</li>
</ul>
In addition to public access levels, ScholarSphere depositors will have the ability to share content stored in ScholarSphere with individuals and groups at Penn State.  Each instance of sharing can be made at both of the above access levels, plus the following:
<ul>
<li><strong>Edit</strong>, which makes the content and its descriptions modifiable by the specified individual or group</li>
Only the depositor will be able to change the access levels and sharing of the deposited content.
</ul>
</p>

<h2>Preservation Support Policy</h2>
<p>
Penn State Libraries and Information Technology Services are committed to providing long-term access to all material submitted to ScholarSphere. Initial preservation services have been informed by international standards and best practices. In addition to providing basic services like secure storage and redundancy, ScholarSphere has been designed to preserve all content in the form it is deposited.
</p>

<p>
All work submitted to ScholarSphere will be preserved at a basic bit-level. File characteristics (such as format, mime type, date created) will be captured and stored as metadata during the deposit process to mitigate potential format obsolescence. All files deposited will receive a SHA-1 (Secure Hash Algorithm) checksum, which is used to document file integrity over time. Regular file integrity checks will be run to check for changes (such as file corruption), and can even be scheduled on-demand.</p>

<p>
Beyond this initial level of preservation, the ScholarSphere team is planning for additional preservation services, including file migration and normalization. Details of new services will be announced as they are released.
</p>

<p>
Certain file formats (such as openly-documented, non-proprietary, lossless) are more easily preserved than others. To better assist contributors, ScholarSphere will in the future provide guidance related to file formats and documentary types.
</p>
