<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<h1>About</h1> 
<h2>What is ScholarSphere?</h2>
<p>
ScholarSphere is a secure repository service enabling the Penn State community to share its research and scholarly work with a worldwide audience. Faculty, staff, and students can use ScholarSphere to collect their work in one location and create a durable and citeable record of their papers, presentations, publications, data sets, or other scholarly creations. Through this service, Penn State researchers can also comply with grant-funding-agency requirements for sharing and managing research data. <%= link_to 'Contact us', contact_form_index_path %> to find out more!
</p>


<h1>Guidelines and Policies</h1>
<h2>Content Policy</h2>

<p>
The content in ScholarSphere represents the research, scholarship, or intellectual output of the Penn State community. Through ScholarSphere, the work of Penn State researchers attains broad visibility and distribution. ScholarSphere captures content primarily of scholarly import, including curricular materials and creative works produced in support of Penn State's teaching, learning, and research mission. Such content may include but is not limited to journal pre-prints and post-prints, data sets, working papers, technical reports, conference papers, student work (e.g., master's theses, capstone projects), audio and visual materials, annual reports, and newsletters. ScholarSphere makes no restrictions on the state of the research submitted, as long the depositing author deems the item in a complete enough state to share and distribute.  
</p><p>
Sensitive data may not be included in ScholarSphere. Examples of sensitive data include: personally identifiable information (PII), as covered by the Family Educational Rights and Privacy Act (FERPA) and the Health Insurance Portability and Accountability Act (HIPAA), and specific locations of endangered plants and animals. In addition, ScholarSphere will not accept content if it is in violation of copyright agreements. In the event that such violations are found, ScholarSphere reserves the right to withdraw the submitted content. See our <a href="/agreement/">Deposit Agreement</a> for clarification.
</p><p>
ScholarSphere welcomes deposits from the Penn State community - faculty, students (undergraduates and graduates), postdoctoral researchers, administrators, and staff. Deposit of Penn State co-authored materials is also encouraged, provided the co-author has secured any requisite copyright permissions for deposit in ScholarSphere.
</p>


<h2>Deposit Policy</h2>

<p>
Depositing your work in ScholarSphere means the following:

<ul>
<li>The deposit represents your own work (and that of your co-authors, if this is a jointly created work.) </li>
<li>Your work does not contain any confidential or proprietary information, or personally identifiable information that would compromise someone's privacy.</li> 
<li>You (and any co-authors) retain copyright to the work and the right to use all or part in future works.</li>  
</ul>
Deposit of content to ScholarSphere grants Penn State University non-exclusive rights for preserving that content and, if you choose, disseminating that content. (See our "Preservation Policy" below.) To increase the reach, impact, sharing, and preservation of the research, Penn State and ScholarSphere allow content that has been deposited in other repository services to be deposited as well in ScholarSphere, assuming the depositor has not signed an exclusive licensing agreement with another entity. The deposited materials may be freely deposited and distributed elsewhere, in venues such as disciplinary data repositories, electronic journals, pre-print archives, conference proceedings, or course/learning management systems. Please consult our <a href="/agreement/">Deposit Agreement</a> for clarification.
</p><p>
As part of the deposit process, the depositor will be prompted to describe the file (content) that has been uploaded. This process includes selecting a Creative Commons license that describes what the depositor permits others to do with the uploaded content. The default license level (i.e., the license level that automatically appears in the "Rights" field) is Attribution-Non-Commercial-No-Derivs 3.0, or CC-BY-NC-ND. With this license you share your work with others and allow them to download it, provided they attribute you as the creator; they must also refrain from changing the content in any way and from using it for commercial means. HOWEVER, you may select a different license in the drop-down menu. For further guidance, please consult the <a href="/help#collapseIP1">Help page</a> (scroll down to the section on "Creative Commons").
</p>

<h2>Guidelines for Visibility (Access Levels) and Sharing</h2>
<p>
The depositor sets permissions during the upload process. Access permissions give the depositor of content the ability to control who can find, see, edit and download their content.  You have the option of setting both "Visibility" (who can see an item) and "Share With" (who can edit.)
</p><p>
<b>Visibility</b>
This setting will determine who can view your file, and the associated metadata in ScholarSphere. The default setting for visibility of your content is Open Access. The Open Access setting will allow your content to be discovered in Google and accessed by anyone. The visibility setting, Penn State, will allow only users who are logged into ScholarSphere (via WebAccess) to view the content. The third visibility setting is Private. Files that are marked Private are able to be viewed only by users and/or groups that have been given specific access in the "Share With" section.
<br>
Permissions in ScholarSphere are hierarchical. This means that you cannot set the visibility of a file to Open Access or Penn State and simultaneously try to restrict access to a single user. However, you may mark the visibility of a file as Private and then grant access to particular users and/or groups for that file in the "Share With" section.
</p><p>

<b>Share With</b>
You may grant "View/Download" or "Edit" access for specific users and/or groups to files. Enter a valid Penn State Access Account Id, one at a time, select the access level for that user and click Add.

The list of groups in the drop-down marked "Select a group" is a list of User Managed Groups managed by Penn State's ITS department. You may select a specific group and assign an access level for a file within ScholarSphere - similar to adding user access levels. However, management of these groups and their membership is handled centrally at umg.its.psu.edu.
</p><p>

<b>Permission Definitions</b>
<ul>
<li><b>View/Download:</b> This file (both contents and metadata) is accessible from within ScholarSphere.</li>
<li><b>Edit:</b> This file (both contents and metadata) can be edited. You may only grant this permission to Penn State users and/or groups.</li>
</ul>
</p>

<h2>Preservation Support Policy</h2>
<p>
Penn State Libraries and Information Technology Services are committed to providing long-term access to all material submitted to ScholarSphere. Initial preservation services have been informed by international standards and best practices. In addition to providing basic services like secure storage and redundancy, ScholarSphere has been designed to preserve all content in the form it is deposited.
</p><p>
All work submitted to ScholarSphere will be preserved at a basic bit-level. File characteristics (such as format, mime type, date created) will be captured and stored as metadata during the deposit process to mitigate potential format obsolescence. All files deposited will receive a SHA-1 (Secure Hash Algorithm) checksum, which is used to document file integrity over time. Regular file integrity checks will be run to check for changes (such as file corruption), and can even be scheduled on-demand.
</p><p>
Beyond this initial level of preservation, the ScholarSphere team is planning for additional preservation services, including file migration and normalization. Details of new services will be announced as they are released.
</p><p>
Certain file formats (such as openly-documented, non-proprietary, lossless) are more easily preserved than others. To better assist contributors, ScholarSphere will in the future provide guidance related to file formats and documentary types.
</p>

