<h1>Help</h1>

<h2>What is ScholarSphere?</h2>
<p>
Penn State's ScholarSphere is a research repository service beginning to collect scholarly work from faculty, staff and students in September 2012.  It is being developed and supported in a partnership of the University Libraries and Digital Library Technologies, a division of Information Technology Services.  It enables members of the Penn State community including faculty, staff, and students to increase the visibility of their research and to share their scholarly work more widely.
</p>

<p>
Researchers can actively manage stored versions of their research and preserve it, ensuring its longevity over time for future generations of scholars to find, use, and build on. A trusted institutional service, ScholarSphere has safeguards in place for keeping private research secure and unchanged over time . The service allows the depositor to set the level of access possible by others. 
</p>

<p>
Questions about ScholarSphere? Contact the project team: DLT-GAMMA-PROJECT@lists.psu.edu ﻿ [this will change as we get helps in place]
</p>

<h2>How would I use it?</h2>
<p>
As a contributor, since anyone in the Penn State community involved in the research process will be able to deposit scholarly materials there. These might include project results, numeric data, videos, student theses and capstone projects, and other types of digital formats.
</p>

<p>
As a source of scholarly information, since it will have access to the work (text data, media, etc.) that other Penn State researchers contribute.
</p>

<h2>Why should I deposit my work in ScholarSphere?</h2>
<p>
 Visibility for your research contributions.  Researchers can make digitized materials available easily for others to locate, setting a range of retrieval options from full access to just an indication that particular data exists.
 </p>

 <p>
 Authoritative way to manage materials you submit.  Each item will be assigned an individual persistent identifier (“address”) so that it can be cited and retrieved, prior versions are accessible for editing, many formats are accepted, access level is set by the contributor.
 Long term storage and preservation.   You will participate in a program that supports preservation and access over time. Meet the data management plan requirements mandated by grant funding agencies. 
 </p>

 <h1>FOR CONTRIBUTORS TO SCHOLARSPHERE</h1>
 <h2>What can I do with ScholarSphere?</h2>
 <ul>
<li> Store your files</li>
<li> Assign access rights - publicly viewable, publicly discoverable, or restricted to yourself</li>
<li> Search, browse and view your files as well as other researchers’ public and shared files</li>
<li> Identify and cite files using persistent, short URLs</li>
<li> Add new versions of your files, see previous versions, and revert to a past version</li>
<li> Tag files with metadata for increased discovery</li>
<li> Export metadata to citation managers, e.g. Zotero or RefWorks</li>
<li> Share your files with Penn State users or groups</li>
<li> Verify that your files have not changed over time </li>
<li> How do I submit my research to ScholarSphere? [link to “how to” pages when available]</li>
<li> How much space do I have to store my data? TBD</li>
</ul>

<h2> What types of materials should not be submitted to ScholarSphere?</h2>

<p>
 Sensitive data, e.g. FERPA, HIPAA, locations of endangered plants & animals, personally identifiable information [to be continued). 
 Any content for which you do not own the intellectual property rights or do not have permission from the copyright holder. 
 What if I don’t own the copyright to something I want to deposit?  Can I still upload it? 
 </p>

 <p>
 If you do not own the copyright yourself, you must receive permission from the rights holder before depositing that material.   ScholarSphere is not responsible for obtaining copyright permissions for contributors.
 </p>

 <h1>FOR SEARCHERS OF SCHOLARSPHERE</h1>
 <h2> What types of materials can I find in ScholarSphere?</h2>
 <p>

 Whatever a submitter wants to contribute - scholarly papers, presentations, student work, articles, raw data, media, etc.    
 <br />

 How do I search xxxx?  (authors, formats, keywords, etc. etc.)
 <br />


  [link to future search summary guide for July next-phase testing] 
 <br />



 <h1> WHAT DO I NEED TO KNOW ABOUT METADATA?</h1>
   [abridged from Kevin’s – will want to link to full info in next phase]

   <h2>   What is metadata?</h2>

   <p>
   Metadata is information describing a resource or collection of resources contained within ScholarSphere. This includes descriptive information (about the actual content of the object and the persons or entities responsible for it); technical metadata (about the file format, preservation actions taken on the resources), and administrative metadata (use restrictions or other copyright and licensing information, etc.). 
  </p>

  <h2>Why should I pay attention to creating metadata?</h2>

  <p>
   Metadata allows users to discover your content through searching on a number of different aspects of it -- subject search, author/creator search, format search, etc. It also allows content contributors to track the content they or others have submitted, i.e. files related to a grant-funded project, or about a particular topic of interest.
   </p>

   <h2>How is metadata created in ScholarSphere at the point of submission and ingest?</h2>

   <p>
   Two ways: auto-generation by the system (dates uploaded or modified, file size, etc.) , and contribution of metadata content by users( subject or keywords, creator names, notes.)  Metadata can be added to materials already in ScholarSphere.
    </p>
  
    <p>
   Link to the full metadata specification:     https://wikispaces.psu.edu/display/ScholarSphere/Metadata+guidelines+for+contributors
  </p>

  <h1> FOR TECHNICAL AND INFRASTRUCTURE INFORMATION</h1>
  <h2>How can I suggest a new feature?</h2>
  <p>
   [Link to contact information] 
   </p>

   <h2>How can I request an enhancement?</h2>
  <p>
   [Link to contact information] 
  </p>

  <h2>What is being used at Penn State to develop ScholarSphere? </h2>
  <p>
  [Brief background on Hydra community and PS infrastructure] 
  </p>

  <h2>Is any of the API code going to be available to other Penn State programmers?</h2>

  <h1>HOW DO I GET ADDITIONAL ASSISTANCE?</h1>
  <p>
   [link to eventual contact page]
   </p>

  <ul>
    <li>Quick Guide [probably downloadable pdf]</li>
    <li>File Format Guidelines</li>
    <li>Metadata Fields</li>
    <li>How To (will be created later)</li>
  </ul>

</p>

