<span class="notice" style="float:right;">Page is in draft form</span>
<h1>Help</h1>

<h2>FAQ</h2>
<h3>What is ScholarSphere?</h3>
<p>
Penn State's ScholarSphere is a research repository service collecting scholarly work from faculty, staff and students beginning in September 2012.  It is being developed and supported in a partnership of the University Libraries and Digital Library Technologies, a division of Information Technology Services.  It enables members of the Penn State community including faculty, staff, and students to increase the visibility of their research and to share their scholarly work more widely.
</p>
<p>
Researchers can actively manage stored versions of their research and preserve it, ensuring its longevity over time for future generations of scholars to find, use, and build on. A trusted institutional service, ScholarSphere has safeguards in place for keeping private research secure and unchanged over time . The service allows the depositor to set the level of access possible by others.
</p>
<p>
Questions about ScholarSphere? Contact the project team: DLT-GAMMA-PROJECT@lists.psu.edu [this will change as we get helps in place]
</p>

<h3>How would I use it?</h3>
<p>
<strong>As a contributor</strong>, since anyone in the Penn State community involved in the research process will be able to deposit scholarly materials there. These might include project results, numeric data, videos, student theses and capstone projects, and other types of digital formats.
</p>
<p>
<strong>As a source of scholarly information</strong>, since it will have access to the work (text data, media, etc.) that other Penn State researchers contribute.
</p>

<h3>Why should I use ScholarSphere?</h3>
<ul>
  <li><strong>Visibility for your research contributions.</strong>  Researchers can make digitized materials available easily for others to locate, setting a range of retrieval options from full access to just an indication that particular data exists.</li>
  <li><strong>Authoritative way to manage materials you submit.</strong>  Each item will be assigned an individual persistent identifier (“address”) so that it can be cited and retrieved, prior versions are accessible for editing, many formats are accepted, access level is set by the contributor.</li>
  <li><strong>Long term storage and preservation.</strong>   You will participate in a program that supports preservation and access over time. Meet the data management plan requirements mandated by grant funding agencies. </li>
</ul>

<h2>For Contributors To ScholarSphere</h2>
<h3>What can I do with ScholarSphere?</h3>

<ul>
  <li>Store your files</li>
  <li>Assign access rights - publicly downloadable, editable or
  downloadable by specified users or groups, or restricted to yourself</li>
  <li>Search, browse and view your files as well as other researchers’ public and shared files</li>
  <li>Identify and cite files using persistent, short URLs</li>
  <li>Add new versions of your files, see previous versions, and revert to a past version</li>
  <li>Tag files with metadata for increased discovery</li>
  <li>Export metadata to citation managers, e.g. Zotero or RefWorks</li>
  <li>Share your files with Penn State users or groups </li>
  <li>Verify that your files have not changed over time </li>
</ul>

<h3>How do I submit my research to ScholarSphere?</h3> 
[link to “how to” pages when available]

<h3>How much space do I have to store my data?</h3>
<p>
TBD
</p>

<h3>What types of materials should <em>not</em> be submitted to ScholarSphere?</h3>
<ul>
  <li>Sensitive data, including but not limited to personally indentifiable information (PII), as covered by FERPA and HIPAA, specific locations of endangered plants and animals, or protected archeological sites.  If you are unsure, we can help you determine if the data are appropriate for deposit.</li>
  <li>Any content for which you do not own the intellectual property rights or do not have permission from the copyright holder. </li>
</ul>

<h3>What if I don’t own the copyright to something I want to deposit?  Can I still upload it? </h3>
<p>
If you do not own the copyright yourself, you must receive permission from the rights holder before depositing that material. ScholarSphere is not responsible for obtaining copyright permissions for contributors.
</p>

<h2>Searching Content in ScholarSphere</h2>
<h3>What types of materials can I find in ScholarSphere?</h3>
<p>
Whatever a submitter wants to contribute - scholarly papers, presentations, student work, articles, raw data, media, etc.    
</p>

 <h2>What Do I Need to Know About Metadata</h2>

 <h3>What is metadata?</h3>
 <p>
  Metadata is information describing a resource or collection of resources contained within ScholarSphere. This includes descriptive information (about the actual content of the object and the persons or entities responsible for it); technical metadata (about the file format, preservation actions taken on the resources), and administrative metadata (use restrictions or other copyright and licensing information, etc.). 
  </p>

  <h3>Why should I pay attention to creating metadata?</h3>
  <p>
  Metadata allows users to discover your content through searching on a number of different aspects of it -- subject search, author/creator search, format search, etc. It also allows content contributors to track the content they or others have submitted, i.e. files related to a grant-funded project, or about a particular topic of interest. It also helps other researchers understand how they may use the digital materials. 
  </p>

  <h3>How is metadata created in ScholarSphere at the point of submission and ingest?</h3>
  <p>
  Two ways: auto-generation by the system (dates uploaded or modified, file size, etc.) , and contribution of metadata content by users( subject or keywords, creator names, notes.)  Metadata can be added to materials already in ScholarSphere.
  </p>

  <h2>For Technical and Infrastructure Information</h2>

  <h3>How can I suggest a new feature?</h3>
  <p>
  <%= link_to 'Contact ScholarSphere Team', contact_form_index_path %>
  </p>

  <h3>How can I request an enhancement?</h3>
  <p>
  <%= link_to 'Contact ScholarSphere Team', contact_form_index_path %>
  </p>

  <h3>What is being used at Penn State to develop ScholarSphere?</h3>
  <p>
  [Brief background on Hydra community and PS infrastructure]
  </p>

  <h3>Is any of the API code going to be available to other Penn State programmers?</h3>

  <h3>How do I get additional assistance?</h3>
  <p>
  <%= link_to 'Contact ScholarSphere Team', contact_form_index_path %>
  </p>

  <h2>Quick Guide [probably downloadable pdf]</h2>
  <ul>
    <li>Metadata Fields</li>
    <li>How To (will be created later)</li>
  </ul>


