<h1>Export to Mendeley</h1>
<p>
Exporting to Mendeley is supported via embedded metadata.  If Mendeley
does not automatically pick up metadata for files deposited in
ScholarSphere, please report the issue via the  <%= link_to 'Contact Form', contact_form_index_path %>.
</p>
