<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<h1>Versions</h1> 
<h3>Version <%= Sufia::Engine::config.scholarsphere_version %> (<%= Sufia::Engine::config.scholarsphere_release_date %>)</h3>
<p>
  <ul>
    <li>Added batch edit and delete</li>
    <li>Notifications are pushed automatically, and no longer require page refresh</li>
   </ul>
</p>

<h3>Version v1.1.0 (Sept 24, 2012)</h3>
<p>
  <ul>
    <li>Moved batch processing for metadata to background processing to speed uploads</li>
  </ul>
</p>

<h3>Version v1.0.0 (Sept 11, 2012) </h3>
<p>
  <ul>
    <li>Initial release of ScholarSphere</li>
  </ul>
</p>
