<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<table class="table table-striped dashboard">
  <caption class="accessible-hidden">Listing of files you have deposited in <%= t('sufia.product_name') %></caption>
<% unless params[:display_type] == 'list' %>
  <thead> 
  <tr>
    <th class="sm"><%= render :partial => 'batch_edits/check_all' %></th>
    <th>&nbsp;</th>
    <th class="center">Title</th>
    <th class="sorts-dash"><i id="desc_metadata__date_uploaded_dt" class="<%=params[:sort]== "desc_metadata__date_uploaded_dt desc" ? 'icon-caret-down' : params[:sort]== "desc_metadata__date_uploaded_dt asc" ? 'icon-caret-up' : ''%>"></i>Date Uploaded</th>
    <th>Visibility</th>
    <th class="center">Action</th>
  </tr>
  </thead> 
  <% end %>
  <tbody> 
  <% docs.each_with_index do |document,counter| %>
    <%= render :partial => 'dashboard/_index_partials/list_files', :locals => {:document => document, :counter => counter} %>
  <% end %>
  </tbody> 
</table>
