<table class="table table-border table-striped">
<% unless params[:display_type] == 'list' %>
  <tr>
    <th class="title">Title</th>
    <th class="creator">Id</th>
    <th class="journal">Date</th>
    <th class="deposited">Owner</th>
    <th class="files">Action</th>
  </tr>
  <% end %>
  <% docs.each_with_index do |document,counter| %>
    <%= render :partial => 'dashboard/_index_partials/list_files', :locals => {:document => document, :counter => counter} %>
  <% end %>
</table>
