<table class="table table-striped"> 
<% unless params[:display_type] == 'list' %>
  <tr>
    <th>&nbsp;</th>
    <th>File Name</th>
    <th>Date Uploaded</th>
    <th>Edit Access</th>
    <th>Visibility</th>
    <th class="center">Action</th>
  </tr>
  <% end %>
  <% docs.each_with_index do |document,counter| %>
    <%= render :partial => 'dashboard/_index_partials/list_files', :locals => {:document => document, :counter => counter} %>
  <% end %>
</table>
