<% if @user.events.present? %>
<table class="table table-striped">
  <tr>
    <th>&nbsp;</th>
    <th>Activity</th>
    <th>Date</th>
  </tr>
  <% @user.events.each do |event| %>
  <tr>
    <td>&nbsp;</td>
    <td><%= event[0].html_safe %></td>
    <td><%= time_ago_in_words(Time.at(event[1])) %> ago</td>
  </tr>
  <% end %>
</table>
<% end %>
<table class="table table-striped">
<% unless params[:display_type] == 'list' %>
  <tr>
    <th>&nbsp;</th>
    <th>File Name</th>
    <th>Date Uploaded</th>
    <th>Visibility</th>
    <th class="center">Action</th>
  </tr>
  <% end %>
  <% docs.each_with_index do |document,counter| %>
    <%= render :partial => 'dashboard/_index_partials/list_files', :locals => {:document => document, :counter => counter} %>
  <% end %>
</table>
