<div class="col-xs-12 heading-row">
  <div class="col-xs-3 heading-tile hidden-xs">
    <h1><%= t("sufia.dashboard.title") %></h1>
  </div>
  <div class="col-xs-9 heading-tile">
    <h1><%= t("sufia.dashboard.greeting") + current_user.name %></h1>
  </div>
</div>
