<div class="col-xs-12 heading-row">
  <div class="col-xs-6 col-sm-3 heading-tile">
    <span class="glyphicon glyphicon-upload"></span>
    <%= link_to t("sufia.dashboard.upload"), sufia.new_generic_file_path %>
  </div>
  <div class="col-xs-6 col-sm-3 heading-tile">
    <span class="glyphicon glyphicon-plus"></span>
    <%= link_to t("sufia.dashboard.create_collection"), collections.new_collection_path, id: "hydra-collection-add" %>
  </div>
  <div class="col-xs-6 col-sm-3 heading-tile">
    <span class="glyphicon glyphicon-th"></span>
    <%= link_to t("sufia.dashboard.view_collections"), sufia.dashboard_collections_path, id: "hydra-collection-view" %>
  </div>
  <div class="col-xs-6 col-sm-3 heading-tile">
    <span class="glyphicon glyphicon-eye-open"></span>
    <%= link_to t("sufia.dashboard.view_files"), sufia.dashboard_files_path  %>
  </div>
</div>
