<div class="row">
  <div class="col-md-6" id="required-information">
    <%= render "form_required_information", curation_concern: curation_concern, f: f %>
  </div>

  <%# render 'form_editors', f: f %>

  <div class="col-md-6" id="additional-information">
    <%= render "form_additional_information", curation_concern: curation_concern, f: f %>
  </div>
</div>
