<% if curation_concern.persisted? && curation_concern.generic_files.present? %>
  <div class="row">
    <div class="col-md-12">
      <fieldset id="representative-image">
        <legend>
          Assign a Thumbnail
        </legend>
        <p>Select the file whose thumbnail should represent this <%= curation_concern.human_readable_type %>.</p>
        <%= f.select( :representative, Hash[ curation_concern.generic_files.map {|file| [file.title.first, file.id] } ],{}, { class: 'form-control' } ) %>
      </fieldset>
    </div>
  </div>
<% end %>
