<% unless curation_concern.persisted? %>
  <fieldset id="work-contents">
    <div class="row with-headroom">
      <div class="col-md-12">
        <legend>
          Add Your Content
        </legend>
      </div>
    </div>

    <div class="row">

      <fieldset class="col-md-12">
        <%= f.input :files, as: :file, label: 'Upload a file', hint: 'A PDF is preferred.'%>
      </fieldset>
    </div>
  </fieldset>
<% end %>
