<% if curation_concern.generic_files.present? %>
<div class="panel panel-default related_files">
  <div class="panel-heading">
    <h2>Files</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>File</th>
        <th>Filename</th>
        <th>Date Uploaded</th>
        <th>Visibility</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render curation_concern.generic_files %>
    </tbody>
  </table>
</div>
<% elsif can? :edit, curation_concern %>
  <h2>Files</h2>
  <p class="center"><em>This <%= curation_concern.human_readable_type %> has no files associated with it. You can add one using the "Attach a File" button below.</em></p>
<% end %>
