<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
  <head>
    <title>Unauthorized</title>
  </head>
  <body>
    <div class="columns two-a">
      <div class="column second">
        <h1>Unauthorized</h1>
        <p>
          You are not authorized to view this page. You might be interested in using
          <a href="/contact/">the contact form</a> to report the
          error, or <a href="/help/">the help page</a> for looking up
          solutions.
        </p>
      </div>
  </body>
</html>
