<h1>Not found</h1>
<p>
  <%= application_name %> could not locate the requested resource.  We
  apologize for the inconvenience. You might be interested in using
  <a href="/contact/">the contact form</a> to report the
  error, or <a href="/help/">the help page</a> for looking up
  solutions.
</p>
