#submissionSteps {
  float:left;
  width:75%;
}

li p.bold {
	font-weight: bold;
}

#progressBox {
	text-align: left;
  position:fixed;
	height: 198px;
	right: -1px;
  top:210px;
  overflow:hidden;
  width:225px;
	background-color: #EEF5FB;
	border-width: 1px 0 1px 1px;
	border-color: #79B7E7;
	border-style: solid;
	border-radius: 5px 0 0 5px;
	-moz-border-radius:	5px 0 0 5px;
	-moz-box-shadow: -3px 3px 5px #0F1C38;
	-webkit-box-shadow: -3px 3px 5px #0F1C38;
	box-shadow: -3px 3px 5px #0F1C38;	
	z-index: 15;
}

#progressBoxHeader {
/*  background:transparent url('/images/progressBoxHeader.png') no-repeat top center;*/
/*  height:35px;*/
  width:240px;
/*  text-indent:20px;*/
}

#progressBoxHeader h2 {
 	margin: 8px;
}

#progressBoxContent {
/*  background:#fff url('/images/progressBoxContent.png') repeat-y top center;*/
  color:#333;
  padding:0 17px 20px 17px;
  width:206px;
}

#progressBoxContent ol {
	margin-left: 0;
	margin-top: 0;
}

#progressBoxContent ol li {
	height: 1.3em;
}

#progressBoxContent li, #progressBoxContent p {
  padding:2px 0 2px 20px;
  margin:0;
}

#progressBoxContent li.noIndent, #progressBoxContent p.noIndent {
  padding-left:0;
}

.progressBoxInvisibleStatus {
  font-size:0;
  color:#fff;
  height:1px;
  width:1px;
}

.progressItem {
  list-style-image:url('/plugin_assets/hydra-head/images/chkbox_empty.png');		
/*  background:	#EEF5FB url('/images/chkbox_empty.png') no-repeat center left;*/
}

#progressBoxContentChecked {
  background: #EEF5FB url('/plugin_assets/hydra-head/images/chkbox_checked.png') no-repeat center left;
  padding:2px 0 2px 20px;
}

#progressBoxFooter {
/*  background:transparent url('/images/progressBoxFooter.png') no-repeat top center;*/
  height:25px;
  width:240px;
}

.progressBoxSubmit input {
  margin:1px 0 0 12px;
}

.progressItemChecked {
  list-style-image:url('/plugin_assets/hydra-head/images/chkbox_checked.png');
/*  background-image:url('/images/chkbox_checked.png');*/
}

.progressItemRejected {
  list-style-image:url('/plugin_assets/hydra-head/images/chkbox_cross.png');	
/*  background-image:url('/images/chkbox_cross.png');*/
}

.progressItemUnChecked {
  list-style-image:url('/plugin_assets/hydra-head/images/chkbox_empty.png');	
/*  background-image:url('/images/chkbox_empty.png');*/
}


/* could not find a checked_readonly.png in any of the hydra heads */
.chkbox_readonly {
  background:transparent url('/plugin_assets/hydra-head/images/checked_readonly.png') no-repeat left center;
  padding:0 0 0 20px;
}

.progressInfoBox {
  clear:both;
  padding:0 0 5px 20px;
  color:#555;
  width:170px;
}

.progressCommentBox {
  clear:both;
  padding:5px 0 0 20px;
  color:#666;
  font-style:italic;
  line-height:normal;
  width:170px;
}
