@charset "UTF-8";
/* CSS Document */

h2, h3 {font-weight: normal;}

div.sidebar {margin-top: 1em;}

ol li{ list-style:none outside !important;}


/* suppress search field dropdown */

div#search form label {display: none;}
div#search select#search_field {display: none;}


/* Override Blacklight search contraints/filters block */


#appliedParams h3 {position:relative; padding:0px; margin:0;background-color:#FFFFFF; border: none; overflow:visible; font-weight: normal; display: inline;}
#appliedParams div {
	line-height:22px; 
	padding:1em 0 0 0; 
	background:#FFFFFF;}
.appliedFilter {display:inline; background-color:#ffffff; padding:0px; margin: 0px; border:none;position:relative;}
.appliedFilter .btnRemove{display:inline; position:absolute; right:-30px; top:0; background:url("/plugin_assets/hydra-head/images/remove.png") no-repeat center center; border-left:none;}
.appliedFilter a.btnRemove {border:none;}
#appliedParams a#startOverLink{text-decoration:none; border-bottom: none;}
.queryName, .filterName {padding-right:14px;}



/* Custom bits of data forms */

legend {
	color: #999;
}

fieldset {
		padding: .5em;
		border: 1px solid #eeeeee;
	}

select {
	background-color:#FFFFFF;
	border:1px solid #cccccc;
	font-size:.9em;
}

	/* hide the contributor label so the dropdown can serve as a visual label */
dl.contributor dt label {position: absolute; top: -9999px; left: -9999px;}

select.metadata-dd {width: 8em;}

#document fieldset dl dd p {margin-top: 0; padding-top: 0;}

fieldset ol li  {
	list-style-type: none;
	margin-bottom: .5em;
}

	/* setting specific widths for mutliple-inline fields */
.person li {min-width: 45%;}
.citation li {min-width: 22%;}

fieldset dl dd input {
	padding: 0px;
	margin: -1px 0 0;
	font-weight: normal !important;
	color: #000 !important;
	}

/* Fluid edit control overrides */

.fl-inlineEdit-invitation-text {
  color: #cccccc !important;
  font-style: italic;
}

.editable-text:hover,  .textile-text .text:hover {color: #009900 !important;}

	/* undo-redo - show only the icon until the cursor hovers over, then display the text */
a.flc-undo-redoControl, a.flc-undo-undoControl {
	background-image:url("/plugin_assets/hydra-head/images/icons/undo.png");
	background-position:0 1px;
	background-repeat:no-repeat;
	color: transparent;
	margin-left:5px;
	overflow:hidden;
	padding-left:15px;
	border-bottom: none;
	font-size: .9em;
}
	
a.flc-undo-redoControl {
	background-image:url("/plugin_assets/hydra-head/images/icons/redo.png") !important;
}

a.flc-undo-redoControl:hover, a.flc-undo-undoControl:hover {
	color:#2E4F81;
}

