<h3 id="document-list-heading" class="sr-only">List of items deposited in <%= application_name %> that match your search criteria</h3>
<ol id="documents" class="container-fluid search-results-list" start="<%= document_counter_with_offset(0) %>" aria-labeled-by="document-list-heading">
  <%= render documents, as: :document %>
</ol>

