<%# container for all documents in index view -%>
<div id="search-results">
  <ul class="list-unstyled catalog" start="<%= document_counter_with_offset(0) %>">
    <%= render documents, as: :document %>
  </ul>
</div>
