<p>
  <%=t('curation_concerns.product_name') %> is a secure repository service enabling the
  <%=t('curation_concerns.institution.name') %> community to share its research and scholarly
  work with a worldwide audience. Faculty, staff, and students can use
  <%=t('curation_concerns.product_name') %> to collect their work in one location and create a
  durable and citeable record of their papers, presentations, publications, data
  sets, or other scholarly creations.
</p>
