<div id="results">
	
	<%= render :partial=>'search_form' %>
	
	<div class="home_text">
		<h1>Welcome to HYDRA</h1>
		<p>Edit or override this page (vendor/plugins/hydra-head/views/catalog/_home_text.html.erb)</p>
	</div>

</div>
