<div id="results" class="home-text">
	
  <div class="row">

    <div class="span6 well">
      <h4>Getting Started</h4>
      <%= image_tag('video-still.png', :alt => "ScholarSphere tutorial video", :title => "ScholarSphere tutorial video", :width => 535, :height => 325) %>
    </div><!-- /.well -->

    <div class="span2 well">
      <h4>About The Site</h4>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt mauris a arcu lobortis et pharetra lectus consequat. Sed vulputate felis ut ligula feugiat et fermentum sem molestie. Curabitur vel erat id nunc vulputate laoreet sit amet ut justo. Etiam fermentum adipiscing congue. <br />
      <%= link_to "Read More", catalog_index_path %>
      </p>
    </div>

  </div><!-- /.row -->

</div><!-- /#results -->
