      <% # header bar for doc items in index view -%>
      <div class="documentHeader">
        <h4 class="index_title">
          <% counter = document_counter_with_offset(document_counter) %>
          <%= link_to_document document, document_show_link_field(document), counter: counter %>
        </h4>

      </div>
