<div class="search-results-title-row">
  <h3 class="search-result-title"><%= link_to document.title_or_label, [hyrax, document] %></h3>
  <%= Hyrax::CollectionPresenter.new(document, current_ability).collection_type_badge %>
</div>
