<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="type-tabs">
      <ul class="nav navbar-nav">
        <%= all_type_tab %>
        <%= type_tab 'Works', 'Work' %>
        <%= type_tab 'Collections', 'Collection' %>
      </ul>
    </div>
  </div>
</nav>

