<% msg = 'Login to see your recently added documents' if msg.blank? and current_user.blank? %>
<% msg = 'You have no documents to display. Contribute some of your documents!' if msg.blank? %>
<div>
  <div class='hide'>
    <%= link_to "Recent", sufia.catalog_recent_path, :remote => true, :id => 'recent_doc_link' %>
  </div>
  <% if recent_documents.blank? %>
      <h3>  <%= msg %> </h3>
  <% else %>

      <div id="recent_docs">
        <table class="table table-bordered table-striped"> 
          <%= render :partial => "recent_document", :collection => recent_documents, :locals=>{:display_thumbs=> display_thumbs, :display_access=> display_access} %>
        </table>
      </div>
   <% end %>

</div>
