<% if paginate_params(@response).num_pages > 1 %>
    <div class="pager"> 
      <%= paginate_rsolr_response @response, :outer_window => 2, :theme => 'blacklight', :route_set=> sufia %>
      <div class="clearfix"></div>
    </div><!-- /pager -->
<% end %>
