<div id="search" class="search">
  <% form_tag catalog_index_path, :method => :get do %>
    <h2 class="search"><%= label_tag(:q, "Search ") %></h2>
    <%= text_field_tag :q, params[:q], :class => "q"  %>
    
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt]) %>        
    
    <%= image_submit_tag('search_button.png', :plugin=>"hydra-head", :id => "submit", :alt=>"Search Libra") %>
  <% end %>

  <hr/>
</div>
