<div id="sortAndPerPage" class="clearfix">
  <%= render partial: "paginate_compact", object: @response %>
  <div class="search-widgets pull-right">
    <%= render 'sort_widget' %>
    <%= render 'per_page_widget' %>
    <%= render 'view_type_group' %>
  </div>
</div>

