<% model = document.hydra_model %>
<div class="col-md-2">
  <% if model == Hyrax::PcdmCollection || model < Hyrax::PcdmCollection %>
    <%= document_presenter(document)&.thumbnail&.thumbnail_tag({}, suppress_link: true) %>
  <% else %>
    <div class="list-thumbnail">
      <%= document_presenter(document)&.thumbnail&.thumbnail_tag %>
    </div>
  <% end %>
</div>
