<% model = document.hydra_model %>
<div class="col-md-2">
  <% if model == Hyrax::PcdmCollection || model < Hyrax::PcdmCollection %>
    <%= render_thumbnail_tag document, {}, suppress_link: true %>
  <% else %>
    <div class="list-thumbnail">
      <%= render_thumbnail_tag document %>
    </div>
  <% end %>
</div>
