<ul>
 <li>
  <% display_class = (!params[:home_context] || params[:home_context]=='authors') ? 'class="selected"' : '' %>
   <a <%= display_class %> href="/catalog?home_context=authors">Authors</a>
 </li>
 <li>
  <% display_class = params[:home_context]=='journals' ? 'class="selected"' : '' %>
   <a <%= display_class %> href="/catalog?home_context=journals">Journals</a>
 </li>
</ul>
