	<h1 class="about_head">About Libra: Frequently Asked Questions</h1>
	<div class="about_toc">
		<ul>
			<li><a href="#about_libra">About Libra</a></li>
			<li><a href="#submission">Submission Process</a></li>
			<li><a href="#agreement">Deposit Agreement</a></li>
			<li><a href="#permission">Working with Publishers: Permission</a></li>
			<li><a href="#rights">Working with Publishers: Author's Rights</a></li>
			<li><a href="#embargo">Embargo</a></li>
			<li><a href="#libra_use">Use of Libra</a></li>
		</ul>
	</div>
<div class="about_text">
	<h2 id="about_libra">About Libra</h2>
	<h3>What is Libra?</h3>
	<p>Libra serves as UVa’s digital
	institutional repository.  Among other features, Libra will allow
	scholars to make completed versions of their work—such as preprints
	and published articles—freely available to the general public for
	non-commercial research, scholarship, teaching and learning, and to
	store their work in a central, stable location.  The repository makes
	research more visible to a wider audience and helps assure the
	long-term preservation of UVa scholars’ works.  The repository
	offers a simple interface for uploading publications, and is
	searchable so that UVa publications may be discovered by users from
	inside or outside the university.  
	</p>

	<h3>When and why was Libra developed?</h3>
	<p>The University Library has been working to develop an institutional repository for many years.  The
	Libra portal is a collaboration between the library and ITC to
	provide a service requested in the Faculty Senate Open Access
	Resolution of February 5, 2010.   That resolution encourages each
	faculty member at UVa to “reserve a nonexclusive, irrevocable,
	non-commercial, global license to exercise any and all rights under
	copyright relating to each of her or his scholarly articles, in any
	medium, and to authorize others to do the same.”  The resolution
	also encourages faculty to submit an electronic copy of each article
	to which they have retained rights to the institutional repository.  
	</p>

	<h3>Why should we have an institutional repository, and why should you use it?</h3>
	<p>Many institutions of higher
	education have established repositories such as Libra, and are
	encouraging faculty to retain rights to enable deposit of scholarly
	works in a repository.  These and other open access initiatives (such
	as the emergence of free online peer-reviewed journals) have been
	individually successful and, if they become broadly successful, have
	the potential to transform the scholarly landscape by making research
	and scholarship more accessible to the public.  
	</p>
	<p>For more information about critical
	issues in scholarly communications, libraries, and open access and
	what you can do to help, see the <a href="http://www.arl.org/sparc/">SPARC</a>
	or <a href="http://www.createchange.org/">Create Change</a> websites.
	</p>

	<h3>What other institutions have
	repositories?</h3>
	<p>Institutional repositories have been
	established at MIT, Harvard, the University of Kansas, and many other
	institutions.  Some universities have adopted broad policies
	requiring faculty to deposit in the repository, while others such as
	UVa strongly encourage but do not require deposit.  While policies
	for submission vary from institution to institution, these
	repositories contribute to the common goal of expanding and
	transforming scholarly communications and publishing.  The
	establishment of Libra ensures that UVa has an important tool needed
	to participate in this transformation.</p>

	<h2 id="submission">Submission Process</h2>
	<h3>Who may submit articles to Libra?</h3>
	<p>Any employee of the University  who
	produces scholarly works may deposit items in Libra.  Deposit is
	currently not available for students, but the capability to deposit
	electronic theses and dissertations will be pilot tested in spring
	2011.  
	</p>

	<h3>What may be submitted?</h3>
	<p>While Libra has been developed
	specifically as a repository for peer-reviewed, scholarly articles
	published in journals and conference proceedings, other works such as
	books and book chapters may be deposited as well, as long as
	sufficient rights have been retained by the author or authors.  In
	the near future, scholars will also be able to deposit data sets.  
	</p>
	<p>Articles should be complete and
	ready for distribution.  That is, they should be as close as possible
	to their final, published version.  Libra is intended as a repository
	for completed work in electronic format, analogous to the physical
	library as a repository of completed work in print format.   
	</p>

	<h3>What file formats are accepted?</h3>
	<p>All articles must be submitted in
	PDF format.  PDF offers a reasonable assurance of long-term
	sustainability and access.   Supporting materials in other formats
	(e.g. audio, video, image files) may also be submitted along with a
	PDF, although these supplemental files will not have the same
	assurance of long-term sustainability and access as files submitted
	in PDF format. 
	</p>

	<h2 id="agreement">Deposit Agreement</h2>
	<h3>Why do I have to agree to the
	deposit agreement, and what does it say?</h3>
	<p>In order to deliver written works
	and other copyrighted materials to the public, Libra must have
	consent from the copyright holder.  The deposit agreement asks you,
	the author, to confirm that you are the copyright holder, or have
	permission from the copyright holder (typically a publisher to whom
	you may have transferred the copyright in exchange for publication in
	a journal or book).  Libra is not asking you to transfer your
	copyright to the University, or to give up any rights you have in the
	material to the University.  The Deposit License confirms that you
	wish to make the material available through Libra to the public, to
	allow certain educational, non-commercial, public uses of the
	material, and to allow for preservation by the University. It s a
	LIMITED, NON-EXCLUSIVE agreement, meaning you retain all the rights
	you had before the item was deposited.</p>

	<h3>What rights do I grant the University when I deposit my work in Libra?</h3>
	<p>You grant to the University of Virginia the right to: </p>
	<ul>
		<li>reproduce and/or distribute
		your submission (including the metadata and abstract) worldwide, in
		any format or medium for non-commercial, academic purposes only.</li>
		<li>migrate the submission, without changing the content, to any medium or format, and keep more than
		one copy of your work for purposes of security, back up and
		preservation.</li>
	</ul>
	<p>See the full text of the Deposit
	License for more information. </p>

	<h2 id="permission">Working with Publishers: Permission</h2>
	<h3>How do I know if I have permission to deposit my work?</h3>
	<p>If the article has been previously
	published, you should check the copyright transfer agreement that you
	signed at the time of publication.  The agreement may make explicit
	reference to your right to deposit in your institution’s digital
	repository, along with any specific guidelines to follow.  You can
	also check the publisher’s website.  Many major publishers now have
	clear statements about Author’s Rights on their websites, and many
	are generous in allowing their authors to deposit a pre-print version
	of a work in a repository, sometimes after a short embargo period to
	allow the publisher to get the work out.  
	</p>
	<p>See these links for some examples of
	author’s rights policies from major publishers:</p>
	<ul>
		<li><a href="http://www.springer.com/open+access/authors+rights?SGWID=0-176704-12-683201-0">Springer</a></li>
		<li><a href="http://www.elsevier.com/wps/find/authorsview.authors/copyright">Elsevier</a></li>
		<li><a href="http://olabout.wiley.com/WileyCDA/Section/id-406074.html">Wiley</a></li>
		<li><a href="http://www.sagepub.com/authors/journal/permissions.sp?crossRegion=nAmerica">Sage</a></li>
	</ul>
	<p>The <a href="http://www.sherpa.ac.uk/romeo/">SHERPA/RoMEO
	site</a> also provides a useful compilation of many major publishers’
	policies. 
	</p>

	<h2 id="rights">Working with Publishers: Authors' Rights</h2>
	<h3>How can I deposit in Libra, when
	my agreement with a publisher required me to sign over my rights?</h3>
	<p>You may have signed an agreement
	that turns over all rights to the publisher.  The copyright agreement
	may have contained language transferring “exclusive” or “all”
	rights to the publisher, for example:</p>
	<p class="example_license">The
	undersigned author or authors (‘Author’) of the above article
	(‘Article’) transfers and assigns <strong>exclusively</strong>
	to _________________(‘Publisher’) <strong>all</strong> Author's
	right, title and interest in the Article including, without
	limitation, the copyright therein for the full term of copyright and
	any extensions or renewals of that term, including but not limited to
	the <strong>exclusive</strong> right to publish, republish,
	transmit, sell, distribute and otherwise use the Contribution and the
	material contained therein in electronic and print editions of the
	Journal and in derivative works throughout the world, in all
	languages and in all media of expression now known or later
	developed, and to license or permit others to do so.</p>
	<p>Unless another section of your
	agreement specifically allows it, this type of broad grant prohibits
	you from making the work available to the public through a repository
	like Libra without first requesting permission from the publisher.   
	</p>

	<h3>I’m about to publish, and the
	publisher’s agreement requires me to sign over my rights.  What can
	I do?</h3>
	<p>If your article has not yet been
	published, check the copyright transfer agreement.  If it does not
	allow you to retain rights to deposit in an institutional repository,
	and requires that you transfer “exclusive” or “all” rights to
	the publisher, you may be able to amend the agreement prior to
	signing.  The <a href="http://www.arl.org/sparc/bm~doc/Access-Reuse_Addendum.pdf">SPARC
	addendum</a> provides a useful inventory of the broad rights that an
	author might hope to retain.  However, many publishers are unwilling
	to accept such an addendum.  A simpler statement that you can write
	in or request would be:</p>
	<p class="example_license"><strong>Notwithstanding
	anything in this agreement to the contrary, I reserve the right to
	use this work in my personal teaching and research, and to place an
	electronic copy of this work [or, “my final author’s submitted
	version of the work”] on a publicly accessible web site for
	non-commercial research, teaching, and scholarship.</strong></p>
	<p>Some work may be subject to the
	<a href="http://publicaccess.nih.gov/">National Institutes of Health
	Public Access policy</a>.  For information on retaining author’s
	rights in order to comply with the NIH policy, see the <a href="http://www.hsl.virginia.edu/portal/researcher/public_access.cfm">NIH
	Rules</a> page from the Claude Moore Health Sciences Library website.</p>
	<h3>Where can I get more information
	on Author’s Rights and publishing agreements?</h3>
	<p>The following are good sources of
	additional information:</p>
	<ul>
		<li><a href="http://www.arl.org/sparc/">Association
		of Research Libraries SPARC Initiative</a></li>
		<li><a href="http://blip.tv/file/743274/">Author’s
		Rights</a> video from ACRL, ARL and SPARC</li>
		<li><a href="http://scholars.sciencecommons.org/">Science
		Commons Scholar’s Copyright Addendum Engine</a></li>
		<li><a href="http://www.keepyourcopyrights.org/">
		Keep Your Copyrights </a>from Columbia University</li>
		<li><a href="http://www.library.cornell.edu/scholarlycomm/">Transforming
		Scholarly Communication and Libraries</a> from Cornell University</li>
		<li><a href="/C:\Documents%20and%20Settings\mfw2y\Local%20Settings\Temporary%20Internet%20Files\Content.Outlook\N8AD1VPP\•%09http:\www.lib.berkeley.edu\scholarlycommunication\manage_your_rights.html">Manage
		Your Rights</a> from University of California Berkeley</li>
		<li><a href="http://info-libraries.mit.edu/scholarly/">Scholarly
		Publishing @ MIT Libraries</a> including their <a href="http://info-libraries.mit.edu/scholarly/mit-open-access/open-access-at-mit/mit-amendment-form/">author’s
		addendum form</a></li>
		<li><a href="http://www.lib.umn.edu/scholcom/au-rights.phtml">Managing
		Your Rights as an Author</a> from University of Minnesota ,
		including their excellent <a href="https://umconnect.umn.edu/umauthorsrights/">seven
		minute training video</a></li>
		<li><a href="http://www.policybandwidth.com/doc/20080523-PublishANDPerishFinal.pdf">Publish
		and Perish? Protecting Your Copyrights from Your Publisher</a> by
		Jonathan Band, 
		</li>
		<li><a href="http://www.dlib.org/dlib/february06/vandergraaf/02vandergraaf.html">Copyright
		Issues in Open Access Research Journals: The Authors' Perspective</a>,
		by Esther Hoorn and Maurits van der Graaf</li>
	</ul>

	<h3>Will publishers be willing to
	accept my article if a pre-publication version is already in Libra?</h3>
	<p>Publishers have their own policies
	about this.  You should be careful not to endanger formal publication
	of your work by early deposit in the open access environment of
	Libra.  In our experience, some publishers will only publish work if
	they have first publication/distribution rights.  In other
	disciplines, it is common for pre-publication versions of papers to
	circulate freely and not to be seen as competition for the formal
	publication.  We view this as a discipline-, publisher-, and
	scholar-specific inquiry.  Libra aims to support scholars and
	scholarship, never to stand in the way!</p>

	<h2 id="embargo">Embargo</h2>
	<h3>What is an embargo period?</h3>
	<p>A submitter is able to set an
	embargo period during which his or her submission is saved in the
	repository but not available for public view.   An embargo may be
	used to balance publishers’ interests in exclusive distribution and
	sale of subscriptions to scholarly journals, while also ensuring that
	scholarship is accessible to the public within a reasonable period of
	time.  An embargo period may be set by or negotiated with a
	publisher; check the publisher’s copyright transfer form for an
	embargo period, or see the <a href="http://www.sherpa.ac.uk/romeo/">SHERPA/RoMEO
	site</a> for a useful compilation of many major publishers’
	policies.</p>

	<h2 id="libra_use">Use of Libra</h2>
	<h3>May I delete or change an item
	that I previously submitted to Libra?</h3>
	<p>Because the repository is meant for
	scholarly work that is as close as possible to its final or published
	form, items may not be deleted or changed once they are deposited in
	Libra.  Scholars should only deposit in Libra the version to which
	they intend to provide permanent open access.  
	</p>

	<p>Libra does allow for closely related
	works to be linked-- for example, a conference paper and subsequent
	journal article based on the same.  Faculty may also add links from a
	Libra record to a published version of the article on a publisher’s
	site.  Access through such links may be limited to members of the UVA
	community if the articles are available through paid subscriptions
	held by the University Library.  
	</p>

	<h3>Are there limits on file size and
	number of items I may deposit?  </h3>
	<p>At this time, there are no limits on
	file size or number of items that may be deposited.  
	</p>
	<h3>Are items in Libra guaranteed to
	remain available in perpetuity?</h3>
	<p>The library and ITC are committed to
	the durability and sustainability of scholarship deposited in Libra,
	but it is impossible to make absolute guarantees given constant and
	rapid changes in technology. Any content that meets the deposit
	requirement of a PDF format will be migrated and other formats will
	be considered for migration as technologies make this possible. Libra
	uses standard data management practices, including security and
	backup procedures, to provide a reasonable assurance that files will
	remain retrievable over time.  Since permanent access is not a
	guarantee with any technology, we urge scholars to keep personal
	copies of their files.  
	</p>
	<h3>Who can access Libra to search
	for and download items?  What can users of the repository do with the
	content that I have submitted?</h3>
	<p>Libra is an open access repository,
	meaning that anyone can search, view and download content.  Users are
	required to agree to the <strong>Terms of Use</strong> stated on the Libra site
	before accessing content. Those terms make clear that only
	non-commercial educational uses are permitted, and that unless
	otherwise stated on the work itself, the copyright holder for each
	work retains all rights associated with the works deposited in Libra.
	 As with any other copyrighted work, others may use the work as
	allowed by the &quot;fair use&quot; provisions in U.S. copyright law.</p>
</div>