<div id="content" class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
    <%= render 'search_results' %>
</div>

<div id="sidebar" class="col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8">
  <%= render 'search_sidebar' %>
</div>
