<div class="row mt-4">
  <div id="content" class="order-sm-1 order-md-2 col-md-9 col-sm-12">
    <%= render 'search_results' %>
  </div>

  <div id="sidebar" class="order-sm-2 order-md-1 col-md-3 col-sm-12">
    <%= render 'search_sidebar' %>
  </div>
</div>
