<hr />
<h4>Files (Note: Top 10 versus standard 5 view*)</h4>

<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Total Views</th>
  </tr>
  </thead>
  <tbody>
    <%#= arr.each do |a| %>
      <%#= render partial: 'collection_table', :collection, analytics: a %>
    <%# end %>
  </tbody>
</table>
<%#= add pagination %>
