<%# TODO: Dynamic %>
<h4>Monthly user activity (past 12 months)</h4>
<hr />

<table class="table table-striped">
<%# TODO: Dynamic %>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Sep</th>
    <th>Oct</th>
    <th>Nov</th>
    <th>Dec</th>
    <th>Jan</th>
    <th>Feb</th>
    <th>Mar</th>
    <th>Apr</th>
    <th>May</th>
    <th>Jun</th>
    <th>Jul</th>
    <th>Aug</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Downloads</b></td>
      <td>9</td>
      <td>99</td>
      <td>99</td>
      <td>99</td>
      <td>99</td>
      <td>99</td>
      <td>99</td>
      <td>99</td>
      <td>99</td>
      <td>401</td>
      <td>401</td>
      <td>401</td>
    </tr>
    <tr>
      <td><b>Views</b></td>
      <td>23</td>
      <td>387</td>
      <td>387</td>
      <td>387</td>
      <td>387</td>
      <td>387</td>
      <td>387</td>
      <td>387</td>
      <td>387</td>
      <td>1299</td>
      <td>1299</td>
      <td>1299</td>
    </tr>

  </tbody>
</table>