<% provide :page_title, "Collection Reports" %>

<% provide :page_header do %>
  <h1><span class="fa fa-bar-chart" aria-hidden="true"></span> <%= "Collection Reports" %></h1>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="collection-reports">

      <div class="panel panel-default">
        <%# TODO: Dynamic %>
        <div class="panel-heading">The repository contains <b><%#= AnalyticsCollections.count %> collections</b>, which collectively have had <b><%#= AnalyticsCollectionsViews.count %> views</b> and <b><%#= AnalyticsCollectionsDownloads.count %>  downloads</b>.</div>
        <div class="panel-body">
          <h2>Activity</h2>

          <div class="panel panel-default">
            <div class="panel-heading">Customize Report</div>
            <div class="panel-body">
              <%# TODO: Dynamic %>
              <p>Add the date field pickers here Start and end (default end is current)</p>
              <%#= render "hyrax/admin/analytics/date_form" %>
              <hr />
              <div class="row text-center">
                <div class="nav nav-pills btn-group" role="group">
                  <a button class="btn btn-primary" type="button" href="#summary" class="nav-link active" data-toggle="pill">
                    Summary
                  </a>
                  <a button class="btn btn-default" type="button" href="#monthly" class="nav-link" data-toggle="pill">
                      Monthly
                  </a>
                </div>
              </div>
              <div class="tab-content">
                <h3 class="text-center">Custom Collection Report</h3>
                <div class="tab-pane active" id="summary">
                  <%= render "summary" %>
                </div>
                <div class="tab-pane" id="monthly">
                  <h4 class="text-center">Month-by-month status for last 12 months through August 2017</h4>
                  <%= render "monthly" %>
                </div>
              </div>

            </div>

          </div>
          <p class="text-center">This report was generated on <b><%= Time.current %></b>.</p>

        </div>

      </div>

    </div>
  </div>
</div>