//%embed{:src=>"http://localhost:8080/fedora/objects/changeme:219/datastreams/DS1/content", :width=>"200", :height=>"240", :href=>"http://localhost:8080/fedora/objects/changeme:219/datastreams/DS1/content", :autohref=>"true"}
=render :partial=>"file_assets/jw_player", :locals=>{:type=>"sound", :height=>"50"}
-#=image_tag("/images/player_placeholder.png")