<% button_class ||= "btn"                       %>
<% modal_id       = "#{collectible.noid}-modal" %>
<% modal_title_id = "#{modal_id}-title"         %>

<div class="modal fade" id="<%= modal_id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="<% modal_title_id %>class="modal-title">Add <%= "#{collectible}" %> to one of your collections:</h4>
      </div>
      <div class="unpadded modal-body">
        <%= render partial: 'curate/collections/form_to_add_member', locals: { collectible: collectible, fieldset_class: 'with-side-padding with-top-padding', select_label_id: modal_title_id } %>
      </div>
    </div>
  </div>
</div>

<%= link_to add_member_form_collections_path(collectible_id: collectible.id), data: { toggle: "modal", target: ('#' + modal_id) }, method: :get, class: "add-to-collection #{button_class}", remote: true, title: "Add #{collectible.human_readable_type} to Collection"  do %>
  <span class="glyphicon glyphicon-folder-open"></span> Add to a Collection
<% end %>

