<li data-behavior="batch-edit-select-page" data-state="off">
  <a href="#"><%= t("hyrax.dashboard.my.action.select_all") %></a>
</li>
<li data-behavior="batch-edit-select-none" data-state="on">
  <a href="#"><%= t("hyrax.dashboard.my.action.select_none") %></a>
</li>
