<%# there has got to be a hipster ruby way to do this better %>
<% if params[:f] %>
  <% params[:f].each do |k,v| %>
    <% v.each do |selected_facet| %>
      <% link_options = remove_facet_params(k, selected_facet, params).merge(action: :index) %>
      <div class="alert alert-warning">
        <%= link_to "X", hyrax.url_for(link_options), { class: "close", data: { dismiss: "alert" } } %>
        <i class="glyphicon glyphicon-ok"></i> <strong><%= selected_facet %></strong>
      </div>
    <% end %>
  <% end %>
<% end %>
