<% if !subfacet ||= false %>
  <ul class="dropdown-menu pivot-facet list-unstyled" id="<%= facet_field.field.parameterize + '-dropdown-options' %>">
<% end %>

  <% display_facet.items.each do |item| -%>
    <li>
      <span class="facet-values">
        <% # This prevents model Collection from being shown as a second filter along with the collection type. %>
        <% item.fq= {} if subfacet %>

        <% # The unless prevents Collection from being included in the select list for the Collection Type filter. %>
        <%= render_facet_item(item.field, item) unless subfacet != true && item.value == "Collection" %>
      </span>

      <% unless item.items.blank? %>
        <%= render partial: 'facet_pivot', locals: { subfacet: true,
                                                     display_facet: item,
                                                     field_name: field_name,
                                                     solr_field: field_name } %>
      <% end %>
    </li>
  <% end %>

<% if !subfacet %>
  </ul>
<% end %>
