/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require dataTables.bootstrap4
 *= require_self
 */

/* ------------------------
 *  FOOTER
 * ------------------------ */

.blue-footer {
    background-color: #394176;
    padding: 1em;
    padding-left: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-left: 0;
    margin-right: 0;
    color: white;
    width: 100%;
}

a.footer-link {
    color: white;
}

.version {
    padding-left: 20px;
}

#copyright {
    color: #ffffff;
    /*line-height: 150%;*/
    /*margin-top: 3.5%;*/
}
