<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h2>Manage Your Work</h2>
<% end%>
<%#= curation_concern.to_json %>
<%= render 'versioning' %>
