<% unless flash.blank? %>
  <div class="container flash-message">
    <div class="row">
      <div class="col-md-12">
        <% [[:notice, 'alert-success'],[:error, 'alert-danger'],[:alert, 'alert-info']].each do |type, flash_dom_class| %>
          <% if flash[type] %>
            <div class="alert <%= flash_dom_class %> ui-corner-all <%= type.to_s %>">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <%= sanitize(flash[type]) %>
            </div>
            <% flash.delete(type) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
