<footer id="footer" class="container">
  <div class="row">
    <div class="footer-text col-md-12">
      <p>
        Powered by <a href="https://github.com/projecthydra-labs/curation_concerns">CurationConcerns</a>.<br />
        Made possible by the <a href="http://projecthydra.org">Hydra</a> project.
      </p>
    </div>
  </div>
</footer>
