<div class="alert alert-info hide" id="success">
  You have successfully uploaded some of your files.  Either continue to upload or edit use the links below to abandon the rest of your added files.
  <p>
  <%= link_to 'Add Descriptions', GenericFilesController.upload_complete_path(@batch_id), class: 'btn' %>
  </p>
</div>

<div class="alert hide" id="fail">
  There was a problem during upload. Please click the &quot;Start Upload&quot; button or <%= link_to 'start over', sufia.new_generic_file_path %>
</div>

<div class="alert hide" id="partial_fail">
  One or more files did not upload successfully. To continue using the files uploaded use one of the links below.<br />
  <%= link_to 'Add Descriptions', GenericFilesController.upload_complete_path(@batch_id), class: 'btn' %>
</div>

<div class="alert hide" id="errmsg"> </div>
