<%= form_for(@generic_file, url: sufia.generic_files_path, html: { multipart: true, id: 'fileupload' }) do |f| %>
  <% unless current_user.can_make_deposits_for.empty? %>
    <div class="controls">
      <%= label_tag :on_behalf_of, 'On Behalf of' %>
      <%= select_tag :on_behalf_of, options_for_select(current_user.can_make_deposits_for), prompt: "Yourself" %>
    </div>
  <% end %>
  <div class="well">
    <%= render partial: 'generic_files/upload/form_fields' %>
  </div>
<% end %>
