<%= form_for(@generic_file, :url => sufia.generic_files_path, :html => {:multipart => true, :id => 'fileupload'}) do |f| %>
  <div class="well">
    <%= render partial: 'generic_files/upload/form_fields' %>
  </div>
<% end %>

