                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                      <%= render "admin_menu", configuration: @configuration %>
                    </li>
                </ul>
