                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                      <%= render "/curation_concerns/admin/admin_menu", configuration: @configuration %>
                    </li>
                </ul>
