<div class="viewer-wrapper">
  <iframe aria-label="image view" 
    src="<%= universal_viewer_base_url %>#?manifest=<%= main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil } %>&config=<%= universal_viewer_config_url %>" 
    allowfullscreen="true" 
    frameborder="0" 
  ></iframe>
</div>
