<%= PulUvRails::UniversalViewer.script_tag %>
<div class="viewer-wrapper">
  <div class="uv viewer" data-uri="<%= main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil } %>"></div>
</div>
