<h1>Export to Zotero</h1>
<p>
Exporting to Zotero is supported via embedded metadata.  If Zotero
does not automatically pick up metadata for deposited files, please
report the issue via the  <%= link_to 'Contact Form', sufia.contact_form_index_path %>.
</p>
