html {
  background-color: white;
	overflow-y: scroll;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
	background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #121212;
}

#document h1 {
    display: none;
}

body td, body ul, body p, body ol {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}


#hd ul {
	margin: 5px;
	padding: 5px;
}

#hd ul li {
	list-style-type: none;
	display: inline;
	color: blue;
	cursor: pointer;
	margin-left: 10px;
}

button.ui-button-icon-only {
    height: 2.5em;
    margin-top: 4px;
}

.select-edit {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#re-run-action, #re-run-add-contributor-action {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: blue
}

.edit-browse .active {
    font-weight: bold;
    color: #999;
}

#cover_container {
    padding: 10px;
}

#cover_container h1 {
    font-size: 26px;
    margin-bottom: 8px;
    color: #5B4418;
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
	line-height: 1.2em;
	width: 600px;
}

#cover_container .multipleEdit h1 {
	margin-left: 90px;
}

.msg.error, .msg.notice {
    margin: 0;
    width: 907px;
  	font-size: 14px;
}

#abstract-text {
    color: #CCC;
    font-style: italic;
}

#abstract-text:hover {
    color: #090;
}

#abstract-text p {
    padding-top: 0;
    color: #333;
    font-style: normal;
}

.editable-text:hover, .textile-text .text:hover {
    color: #E7C584 !important;
}

a:hover.addval, #uvalicense_read_all:hover {
    color: blue
}

a.addval {
    margin-top: 0px;
}

a.destructive {
    background-image: none;
    width: 40px;
}

a.destructive:hover {
    background-image: none;
    width: 40px;
}

th {
    font-weight: bold;
}

dl dd {
    margin-left: 0;
}

.home_text {
	color: #222;
	float: left;
	font-size: 18px;
	margin-top: 30px;
	padding: 0 25px;
	width: 495px;
}

.home_text h1 {
	color: blue
	font-size: 24px;
	margin: 0;
}

.home_text h2 {
	color: #777;
	font-size: 20px;
	text-transform: none;
	margin: 0 0 0.67em 0;
}

li.computing_id {
    display: block;
    width: 100%;
}

.organization label {
    font-weight: normal;
    font-size: 11px;
    color: #999;
    display: block;
}

.topic_tag li {
    line-height: 160%;
}


div #add-contributor-box {
    margin-bottom: 20px;
}

table#file_assets {
    margin-bottom: 0;
    width: 735px;
}

#keywords {
/*	margin-top: -20px;*/
}

#keywords dt {
    margin-left: 15px;
}


#container_login {
    margin-top: 8px;
    float: right;
}

#container_login a {
    color: #E7C584;
}

#hd {
  overflow: visible; /* override blacklight */
}


#submitForRelease {
	background: #DFEFFC;
	color: #336;
	border: 3px solid #627BB0;
    font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	height: 37px;
	width: 100px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius:    4px 4px 4px 4px;
	border-radius:         4px 4px 4px 4px;
	cursor: pointer;
}

#submitForRelease[disabled] {
	background: #DDD;
	border: 3px solid #BBB;
	color: #AAA;
	cursor: default;
}

#deleteAsset {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 0px;
}

#login {
    text-align: left;
}

#facets {
	padding: 0;
}

#facets div h3 {
    font-size: 13px;
    font-weight: bold;
}

#facets div h3:hover {
    cursor: default;
}

#facets div ul {
	border-bottom: none;
}

#facets li span.selected {
	color: black;
}


body .ui-widget {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#content {
    width: 720px;
    float: right;
    margin-top: -640px;
}

#content, .document, #results {
    min-height: 638px;
    background-color: white;
    text-align: left;
}

#documents tr.document {
	min-height: 1em;
}

#authors {
    float: left;
    display: block;
	clear: both;
	margin-top: 20px;
	padding: 0 25px;
	width: 495px;
}

tr.document {
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    border-right: none;
    border-left: none;
}

.pagination {
    background-color: white;
		border-color: white;
		border-style: solid;
		border-width: 0;
		border-radius: 0;
    width: 100%;
		line-height: 2em;
		padding: 0;
		position: inherit;
}

.prev_next_links {
    width: 100%;
    text-align: center;
}

.prev_next_links .disabled {
    display: none;
}

.prev_next_links .current {
    background-color: black;
    color: white;
}

.prev_next_links a {
    border-right: 1px solid #666;
    padding: 0 7px;
    margin: 0;
}

.prev_next_links .next_page, .prev_next_links .prev_page {
    font-weight: bold;
}

.prev_next_links .next_page {
    border-right: none;
}

.prev_next_links a:hover {
    background-color: #D1DFFD;
}


#documents {
	width: 700px;
    margin: 0 10px 0;
    padding: 0;
}

#documents tr.even {
	background: #F0F0F0;
}

#documents h3 {
    margin-bottom: 5px;
}

#documents table th, table#file_assets tr th {
    border: none;
	font-size: 13px;
    font-weight: bold;
}

.document_title {
	width: 300px;
}

.document_author {
	width: 150px;
}

.document_work {
	width: 120px;
}

.document_date {
	width: 100px;
}

.document_files {
	width: 30px;
}

.edit-browse {
	float: right;
}

#showUtils {
	margin: 0 10px;
	height: 1em;
	margin-bottom: 1em;
}

#showUtils #previousNextDocument {
	float: right;
	margin: 0;
}

#results {
	border: 1px solid #C8C8C8;
}

.document_show #cover_container h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.document_show #contributors_list {
	margin-top: 0;
	margin-bottom: 2em;	
}

#contributors_list ol {
	color: #444;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

#contributors_list .contributor_role {
	display: none;
}

.document_show fieldset {
	border: none;
	width: 600px;
	padding: 0.5em 0;
}

.document_show fieldset legend {
	background-color: #EEF3FE;
	border-top: 2px solid #627BB0;
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding: 0.33em;
	width: 600px;
}

.document_show .browse_value {
	margin: 0;
	padding: 0;
}

#footer {
	width: 100%;
	background-color: white;
}

#footer .contact_info {
	float: left;
	margin-bottom: 1.5em;
	text-align: left;
}

#footer .aux_links {
	float: right;
	text-align: right;
}

#footer_notices {
	clear: both;
	padding-top: 1.5em;
	width: 100%;
}


/* FOOTER */ 
#footer p{margin:0;}
#footer .col{float:right;width:600px;text-align:right;}
#footer .first{float:left;width:360px;text-align:left;}
#footerHomeLink{font-size:114%;font-weight:bold;line-height:2.2em;color:#FFF;}
#copyrightLink{font-size:120%;line-height:1em;font-weight:bold;}

#footer a:link,
#footer a:visited{font-weight:bold;color:#E6E8F5;border-bottom:1px solid #839DBF;text-decoration:none;}
#footer a:hover,
#footer a:hover{border-bottom:1px solid #FFF;text-decoration:none;background:none;}


div .author_browse_row {
    display: block;
    margin-bottom: 1.54em;
    margin: 0px auto 1.54em;
    padding: 0;
    height: 170px;
}

div .author_browse_image {
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 3.5em;
    vertical-align: baseline;
    padding: 6px;
    width: 102px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius:    4px 4px 4px 4px;
	border-radius:         4px 4px 4px 4px;
	-webkit-background-clip: padding-box;
}

.author_browse_image a.facet_image {
	display: block;
	width: 100px;
	max-height: 100px;
	overflow: hidden;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius:    2px 2px 2px 2px;
	border-radius:         2px 2px 2px 2px;
	-webkit-background-clip: padding-box;
}

.author_browse_image img {
	width: 100px;
	min-height: 100px;
}

div #actions {
    width: 100%;
    height: 80px;
}

div #primary_action {
    width: 25%;
    margin: auto;
    float: left;
}

div #secondary_action {
    width: 40%;
    margin: auto;
    float: left;
}

div #tertiary_action {
    text-align: left;
    padding: 2px 20px;
}

li div .license {
    width: 100%;
}

table#file_assets td {
	border: 1px solid #CCC;
}

a.destroy_contributor {
    top: 2px;
    right: -15px;
}

table#file_assets tr.file_asset td {
	border: none;
	border-bottom: 1px dotted #CCC;
}

.browse_value {
    margin: 0 30px 10px 10px;
    line-height: 18px;
}

#uploader {
    width: 350px;
	float: left;
	margin-right: 20px;
}

#delete_dialog_container {
    margin: 10px;
    height: 75px;
	background: #FFF6BF;
	color: #514721;
	padding: 0.8em;
	margin-bottom: 1em;
	border: 2px solid #FFD324;
    text-align: center;
    margin: 10px 0 10px 90px;
	width: 40%;
}

.msg.error, .msg.alert, .msg.notice, .msg.success, .msg.info {padding:0.8em;margin:0 auto 1em;border:2px solid #ddd;width: 50%;}
.msg.error, .msg.alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.msg.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.msg.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.msg.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.msg.error a, .msg.alert a {color:#8a1f11;}
.msg.notice a {color:#514721;}
.msg.success a {color:#264409;}
.msg.info a {color:#205791;}

div#delete_dialog div {
    display: block;
	padding-bottom: 1em;
}

div#delete_dialog div.button {
	margin-right: 10px;
}

div#delete_dialog div.button input {
	font-size: 13px;
}

div#deletable_assets ul li {
    list-style-type: none;
}

div#delete_dialog div span {
    font-size: 12px;
    font-weight: bold;
}

div#delete_dialog div.button {
    display: inline;
    margin-bottom: 10px;
    margin-top: 10px;
}

#cover_container ul {
    margin-top: 5px;
}

#title_fieldset input.edit {
	margin-top: 20px;
}

ul.step {
    margin-left: 0;
}

ul.step > li {
    list-style: none;
    margin-left: 90px;
	margin-bottom: 2em;
}

ul .progressItem {
	background-image: url('/images/chkbox_empty.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
    color: #576BA1;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

/* Hiding validation indicators */
#bd ul .progressItem {
	background-image: none !important;
	margin-left: 0;
}

ul .progressItem small {
    display: block;
    color: #999;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

li fieldset {
    margin: 0 0 15px 0;
    padding-left: 0;
    border: none;
    width: 450px;
}

li fieldset legend {
    font-weight: bold;
    font-size: 14px;
    color: #222;
    line-height: 20px;
    width: 600px;
    background-color: #eef3fe;
    border-top: 2px solid #627BB0;
    padding: 4px;
}

fieldset#citation_fieldset ul li fieldset legend {
    font-weight: normal;
    border-top: none;
    background-color: white;
	padding-bottom: 0;
	line-height: 0.8em;
} 

.step dl {
	overflow: visible;
}

.step dl dd {
	float: none;
	width:auto;
	margin-top: 0;
}

.step dl dd li {
	width: auto;
}

.step #peer_reviewed {
	margin-left: 5px;
	margin-top: 15px;
}

.step #availability_fieldset input {
	margin-top: 15px;
}

.step #availability_fieldset input {
	margin-left: 5px;
}

.step #peer_reviewed_fieldset label,
.step #availability_fieldset label {
	font-size: 14px;
	margin-right: 1em;
}

.step #availability_fieldset legend label {
	font-size: 13px;
}

#keywords_fieldset ol {
	margin-top: 15px;
}

#embargo_fieldset .datepicker {
	margin-top: 15px;
}

legend small {
    float: right;
    color: red;
    font-size: 12px;
    font-weight: normal;
    margin-top: 1px;
    padding-top: 0;
	padding-right: 10px;
    display: inline;
    text-align: right;
}

fieldset#citation_fieldset legend small {
    background-color: white;
}

legend label {
    white-space: normal;
    display: block;
    width: 600px;
}

li fieldset label {
    padding-top: 4px;
    font-weight: normal;
    font-size: 13px;
	line-height: 1.1em;
}

.step dl dd li.computing_id {
	width: 100%;
}

li fieldset .field_wrapper label {
    display: block;
}

li fieldset .field_wrapper {
    width: 175px;
    float: left;
    margin-bottom: 5px;
}

li fieldset a {
    margin-top: 5px;
    font-style: italic;
    display: block;
}

.person li {
    min-width: 170px;
}

.document_edit #person_1, .document_edit #person_2, .document_edit #person_3, 
.document_edit #person_4, .document_edit #person_5, .document_edit #person_6, 
.document_edit #person_7, .document_edit #person_8, .document_edit #person_9, 
.document_edit #person_10, .document_edit #person_11, .document_edit #person_12 {
	border-top: 1px dotted #CCC;
	margin-top: 20px;
}

a#add_author {
	clear: both;
}

.multi_inline li label,
#citation_fieldset li legend {
    color: #222;
    background-color: white;
    padding: 1em 0 0.25em 0;
	font-size: 13px;
	position: static;
	display: block;
}

input.edit {
	padding: 4px 5px;
	font-size: 13px;
	margin-right: 30px;
}

textarea.edit {
	padding: 4px 5px;
	font-size: 13px;
	margin-top: 15px;
	width: 508px;
	height: 10em;
}

.multi_inline ul li, .multi_inline ol li {
    height: auto;
}

div#add-contributor-box {
    margin-top: -10px;
    margin-left: 0px;
}

#uploads table {
    position: relative;
}

.fl-inlineEdit-invitation-text {
    display: none;
}

input#title_info_main_title,
ul.step input.editable-edit.edit {
    width: 340px;
}

dd.citation li {
    min-width: 50px;
    width: 60px;
}

dd.citation ul input.editable-edit.edit {
    width: 45px;
}

dd.person ul input.editable-edit.edit {
    width: 240px;
}

#citation_fieldset > ul {
    margin-left: 0;
}

#citation_fieldset > ul > li {
    list-style: none;
}

#citation_fieldset > ul > li > fieldset {
    margin-bottom: 0px;
}

#citation_fieldset > ul > li > fieldset > label {
    color: #999;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    background-color: white;
}

input.textile-edit {
    width: 350px;
    height: 220px;
}

li.editable-container.field {
    width: 90%;
}

ul.optional {
    background: #CECECE;
    margin-left: -10px;
    padding: 20px;
}

ul.optional li {
    list-style-image: none;
    list-style: none;
}

ul.fulfilled {
    background: white;
    margin-left: inherit;
    padding: 0;
}

#note-text > form > textarea, #note-text > textarea,
#abstract-text > form > textarea, #abstract-text > textarea {
    height: 200px;
    width: 340px;
    padding: 0.1em;
}

fieldset#title_fieldset label,
fieldset#keywords_fieldset label,
fieldset#notes_fieldset label,
fieldset#abstract_fieldset label {
    display: none;
}

fieldset#embargo_fieldset label,
fieldset#publication_fieldset label {
    display: block;
}

.fl-uploader-footer-buttons {
    width: 200px;
}

.login .button {
    min-width: 135px;
    padding: 2px 10px 2px 10px;
    margin-bottom: 2px;
    color: #264C84;
    font-weight: bold;
    border: 1px solid #DBE8FA;
    background: #A5BDE4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgb(248, 250, 255)), color-stop(0.5, rgb(205, 226, 255)), color-stop(0.49, rgb(176, 209, 251)), color-stop(0, rgb(185, 214, 255)));
    background: -moz-linear-gradient(top, #f8faff, #cde2e1 49%, #b0d1fb 50%, #b9d6ff);
}

.login {
    overflow: hidden;
}

.login .button a,
.login .button a:hover,
.login .button span {
    display: block;
    min-width: 135px;
    color: #264C84;
}

.login .button span {
    padding-right: 30px;
    background: url(/images/uva/admin_dropdown.gif) no-repeat right center;
}

.login .button a:hover {
    color: #002B59;
}

.login ul {
    display: none; /*shown on hover*/
    background: #132951;
    border: 1px solid #11264C;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 1px 1px 2px #333;
    -moz-box-shadow: 1px 1px 2px #333;
    -webkit-box-shadow: 1px 1px 2px #333;
}

.login ul li {
    min-width: 155px;
    padding: 0;
}

.login ul li, .login li {
    text-align: left;
}

.login ul {
    margin: 0;
}

#main_text {
    background: #FFF;
    padding: 1em;
}
