.more_facets_link {
text-align: right;
}

.ui-dialog {
position:absolute;
width:300px;
overflow:hidden;
padding:.2em;
}

.ui-widget {
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:13px;
}

.ui-widget-header {
border:1px solid #4c84c6;
background:#558fd0 url(images/ui-bg_gloss-wave_35_558fd0_500x100.png) 50% 50% repeat-x;
color:#fff;
font-weight:700;
}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary {
font-weight:700;
}

.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary {
opacity:.7;
filter:Alpha(Opacity=70);
font-weight:400;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
border:1px solid #4c84c6;
background:#fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
font-weight:400;
color:#2e4f81;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
border:1px solid #ccc;
background:#f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
font-weight:400;
color:#2e4f81;
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled {
opacity:.35;
filter:Alpha(Opacity=35);
background-image:none;
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error {
border:1px solid #cd0a0a;
background:#b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
color:#fff;
}

ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {
color:#363636;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
border:1px solid #fed22f;
background:#ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
color:#363636;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
border:1px solid #fbcb09;
background:#fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
font-weight:400;
color:#2e4f81;
}

.ui-widget-content {
border:1px solid #ddd;
background:#eee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
color:#333;
}

.ui-widget-content .ui-icon {
background-image:url(images/ui-icons_222222_256x240.png);
}

.ui-widget-content a {
color:#333;
}

.ui-widget-header a,.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text {
color:#fff;
}

.ui-corner-all {
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}

.ui-draggable .ui-dialog-titlebar {
cursor:move;
}

.ui-dialog .ui-dialog-titlebar {
position:relative;
padding:.5em 1em .3em;
}

.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary {
font-weight:700;
}

.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary {
opacity:.7;
filter:Alpha(Opacity=70);
font-weight:400;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
border:1px solid #4c84c6;
background:#fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
font-weight:400;
color:#2e4f81;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
border:1px solid #ccc;
background:#f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
font-weight:400;
color:#2e4f81;
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled {
opacity:.35;
filter:Alpha(Opacity=35);
background-image:none;
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error {
border:1px solid #cd0a0a;
background:#b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
color:#fff;
}

.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {
color:#363636;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
border:1px solid #fed22f;
background:#ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
color:#363636;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
border:1px solid #fbcb09;
background:#fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
font-weight:400;
color:#2e4f81;
}

.ui-helper-clearfix {
display:block;
}

.ui-dialog .ui-dialog-content {
border:0;
background:none;
overflow:auto;
zoom:1px;
padding:.5em 1em;
}
#facets li.more_facets_link,.facet_extended_list .sort_options {
text-align:right;
}

.facet_extended_list .next_page,.facet_extended_list .sort_options .numeric {
-webkit-border-radius:0 4px 4px 0;
-moz-border-radius:0 4px 4px 0;
-ms-border-radius:0 4px 4px 0;
-o-border-radius:0 4px 4px 0;
border-radius:0 4px 4px 0;
}

.facet_extended_list .prev_next_links .disabled {
background:none;
color:gray;
font-weight:400;
}

.facet_extended_list .prev_page,.facet_extended_list .sort_options .az {
-webkit-border-radius:4px 0 0 4px;
-moz-border-radius:4px 0 0 4px;
-ms-border-radius:4px 0 0 4px;
-o-border-radius:4px 0 0 4px;
border-radius:4px 0 0 4px;
}

.facet_extended_list .sort_options .az,.facet_extended_list .sort_options .numeric,.facet_extended_list .next_page,.facet_extended_list .prev_page {
background:#f6f6f6;
border:1px solid #ccc;
display:inline-block;
font-weight:700;
padding:0.2em 1em;
}

.facet_extended_list .sort_options .disabled {
background-color:#e2edfe;
border:1px solid #c4dafe;
}

.facet_extended_list .sort_options a:hover,.facet_extended_list .facet_extended_list .prev_next_links a:hover {
background:#dadada;
border:1px solid #999;
color:#212121;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-multi .ui-datepicker-group,.ui-datepicker-rtl .ui-datepicker-buttonpane button,#marc_view .tag_ind,.facet_extended_list .prev_next_links {
float:left;
}

ul.facet_extended_list {
clear:both;
margin:1.5em 0;
}

ul.facet_extended_list li {
list-style:none;
margin:0.5em 0;
}

.pagination span.disabled {
color:#999;
}
.ui-helper-hidden,.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle,.hide,#search h2,.pagination h2,#results_text,.page_links .next_page,.page_links .prev_page,ul.folderTools li.refworks form input.submit {
display:none;
}
.ui-state-disabled {
cursor:default !important;
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled {
opacity:.35;
filter:Alpha(Opacity=35);
background-image:none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a {
cursor:text;
}

.ui-dialog .ui-resizable-se {
width:14px;
height:14px;
right:3px;
bottom:3px;
}

.ui-helper-hidden,.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle,.hide,#search h2,.pagination h2,#results_text,.page_links .next_page,.page_links .prev_page,ul.folderTools li.refworks form input.submit {
display:none;
}

.ui-resizable {
position:relative;
}

.ui-resizable-e {
cursor:e-resize;
width:7px;
right:-5px;
top:0;
height:100%;
}

.ui-resizable-handle {
position:absolute;
font-size:0.1px;
z-index:99999;
display:block;
}

.ui-resizable-n {
cursor:n-resize;
height:7px;
width:100%;
top:-5px;
left:0;
}

.ui-resizable-ne {
cursor:ne-resize;
width:9px;
height:9px;
right:-5px;
top:-5px;
}

.ui-resizable-nw {
cursor:nw-resize;
width:9px;
height:9px;
left:-5px;
top:-5px;
}

.ui-resizable-s {
cursor:s-resize;
height:7px;
width:100%;
bottom:-5px;
left:0;
}

.ui-resizable-se {
cursor:se-resize;
width:12px;
height:12px;
right:1px;
bottom:1px;
}

.ui-resizable-sw {
cursor:sw-resize;
width:9px;
height:9px;
left:-5px;
bottom:-5px;
}

.ui-resizable-w {
cursor:w-resize;
width:7px;
left:-5px;
top:0;
height:100%;
}

.ui-dialog .ui-resizable-se {
width:14px;
height:14px;
right:3px;
bottom:3px;
}

.ui-icon {
display:block;
text-indent:-99999px;
overflow:hidden;
background-repeat:no-repeat;
width:16px;
height:16px;
background-image:url(images/ui-icons_222222_256x240.png);
}

.ui-accordion .ui-accordion-header .ui-icon {
position:absolute;
left:.5em;
top:50%;
margin-top:-8px;
}
.ui-button-icon-only .ui-icon {
left:50%;
margin-left:-8px;
}

.ui-button-icon-only .ui-icon,.ui-button-text-icon .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon {
position:absolute;
top:50%;
margin-top:-8px;
}
.ui-state-default .ui-icon,.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-state-active .ui-icon {
background-image:url(images/ui-icons_2e4f81_256x240.png);
}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon {
background-image:url(images/ui-icons_ffd27a_256x240.png);
}

.ui-state-highlight .ui-icon {
background-image:url(images/ui-icons_228ef1_256x240.png);
}
.ui-widget-content .ui-icon {
background-image:url(images/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
background-image:url(images/ui-icons_ffffff_256x240.png);
}
.ui-icon-gripsmall-diagonal-se {
background-position:-64px -224px;
}
.ui-icon-grip-diagonal-se {
background-position:-80px -224px;
}
.ui-widget-overlay {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:#666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
opacity:.50;
filter:Alpha(Opacity=50);
}
.ui-dialog .ui-dialog-title {
/* float:left; */
margin:.1em 16px .2em 0;
}
.ui-dialog .ui-dialog-titlebar-close {
position:absolute;
right:.3em;
top:50%;
width:19px;
height:18px;
margin:-10px 0 0;
padding:1px;
}

.ui-dialog .ui-dialog-titlebar-close span {
display:block;
margin:1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus,#documents .documentHeader {
padding:0;
}

.ui-icon-closethick {
background-position:-96px -128px;
}
