.collection_description {
  color: #333;
  font-family: 'Lato', Verdana, Arail, Helvetica, sans-serif;
  font-size: 1.15em;
  font-weight: 300;
  line-height: 1.25em;
  letter-spacing: .10em;
}

.metadata-collections dt {
  float: left;
  margin-right: 1em;
}

.collection-icon, .collection-icon-search, .collection-icon-small {
  font-size: 12vw;
  color: #fab801;
  padding: 15px 0 0 10px;
}

.collection-icon-search {
  font-size: 10vw;
}

.thumbnail {
  text-align: center;
}

.collection-icon-small {
  font-size: 2vw;
}


.actions-controls-collections {
  display: block;
  margin: 1em 0 0 1em;
}

.actions-controls-collections a:link,
.actions-controls-collections a:visited,
.actions-controls-collections a:hover {
  color: #FFF;
  text-align: center;
}