.collection-list-container{
  visibility: hidden;
  z-index: 40001;
}
.collection-list-container li{
  list-style: none;
  padding-top: 8px;
}
.collection-list-container label{
  display: inline;
  padding-left: 5px;
}

.collection-list-container .collection-add{
  position: relative;
 /*float: right; 
  margin-right: 190px;*/
  margin-left: 300px;
  margin-top: -46px;
}

.vertical-offset{
  position: fixed;
  top: 30%;
  width: 100%;
  z-index: 40002;
}

.collection-list-box{
  width: 450px;
  position: relative;
  margin-left: 100px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #666;
}

#modalClose{
  font-size: 25px;
  float: right;
}

#cog-drop{
  overflow-x: hidden;
  width: 180px;
}

