#home_header {
  margin: 0 -15px;
}

#home_header  {
  background-image: image-url('old_main_tulips.jpg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 8px solid #E1E1E1;
  border-bottom: 8px solid #E1E1E1;
}

.home_share_work {
  background: rgb(255,255,255) transparent;
  background: rgba(255,255,255,0.8);
  margin: 1em 0;
  padding: 1em;
}

.home_share_work p {
  background-color: #FFF;
  width: 40%;
  margin: .25em auto;
}

.home_marketing_text {
  background: rgb(0,0,0) transparent;
  background: rgba(0,0,0,0.65);
  color: #FFF;
  margin: 1em 0;
  padding-bottom: 1em;
  text-shadow: black 2px 2px ;
}

.home_marketing_text h2 {
  letter-spacing: .1em;
}

.home_marketing_text p {
  letter-spacing: .1em;
}

#content-header {
  padding-top: 1.5em;
}

#home_content {
  padding: 2em 0;
}

// When we put a hidden label before the main search field, bootstrap stops
// displaying rounded corners. This puts them back in.
#search-field-header {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
