/* --- General Formatting --- */
* {
	margin: 0;
	padding: 0;
}
body {
	font: 13px/1.4em Arial, sans-serif;
	background: #fff url(/site_images/bg_body.png) left top repeat;
}
p, address, ul, ol, li, dt, dd, td, th, div, blockquote {
	color: #000;
}
th, b, strong {
	font-weight: bold;
}
i, em, cite {
	font-style: italic;
}
sup, sub {
	font-size: 50%;
	line-height: 12px;
}


/* Links */
a {
	text-decoration: none;
	color: #0a4764;
	outline: none;
}
a:hover, a:active {
	text-decoration: underline;
}

/* Paragraphs */
p {
	margin: 0 0 16px;
	font-weight: normal;
}

/* Images */
a img {
	border-style: none;
}
.image-wrap {
	position: relative;
}
img.left, .image-wrap.left {
	float: left;
	margin: 0 15px 15px 0;
}
img.right, .image-wrap.right {
	float: right;
	margin: 0 0 15px 15px;
}
.border1 {
	border: 1px solid #123a72;
}
.drop {

}
/* Lists */
ul, ol {
	margin: 0 0 10px 30px;
}
ul.slide-list {
  float: left;
  clear: left;
}
li {
	margin: 7px 0;
}
.column.first ul {
	margin: 0 0 25px 0;
}
.column.first li {
	font-size: 11px;
	line-height: 15px;
	list-style: none;
}
p + ul {
	margin-top: -11px;
}

/* Headings */
h1, h2, h3, h4, h5 {
	color: #5d5d5d;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
}
h1, h2.heading1 {
	font-size: 30px;
	line-height: 34px;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}
.lower {
	text-transform: none;
}
.non {
	font-family: Arial, sans-serif;
}
h2 {
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	text-transform: uppercase;
}
h2.non {
	font-weight: bold;
}
h3 {
	font-size: 17px;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	line-height: 21px;
}
h3.expandable {
  float: left;
  clear: left;
	/* display: inline-block; */
	padding-right: 15px;
	background: url(/site_images/icon_arrow3_right.png) right 7px no-repeat;
	cursor: pointer;
}
h3.expandable.open {
	background: url(/site_images/icon_arrow3_down.png) right 7px no-repeat;
}
.column.first h3 {
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
h4 {
	font-size: 15px;
	margin: 0 0 5px;
	padding: 0 0 5px;
	line-height: 19px;
}
h5 {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

/* Layout */
#wrapper {
	background: url(/site_images/bg_masthead.png) center top no-repeat;
}
#container {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
#masthead {
	position: relative;
	height: 165px;
	background: url(/site_images/bg_search_header.png) center 80px no-repeat;
	width: 940px;
	margin: 0 auto;
}
#content-wrapper {
	padding: 0 19px 0 21px;
	background: url(/site_images/bg_content2.png) 0 0 no-repeat;
}
#content {
	clear: both;
	position: relative;
	padding: 20px;
	background: #fff;
	min-height: 525px;
}
.columns {
	clear: both;
}
.columns:after {/* Clear after floats */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.column {
	float: left;
}
.one .column {
	width: 840px;
	float: none;
	padding: 30px;
}
.two-a .column.first {
	width: 145px;
	margin: 0 15px 0 0;
	padding: 0 0 25px 0;
}
.two-a .column.second {
	width: 740px;
	padding: 0 0 25px 0;
	margin: 0;
}
.two-b .column.first {
	width: 340px;
	margin: 0 15px 0 0;
	padding: 0 0 25px 0;
}
.two-b .column.second {
	width: 545px;
	padding: 0 0 25px 0;
	margin: 0;
}
.three-a .column.first {
	width: 145px;
	margin: 0 15px 0 0;
	padding: 0 0 25px 0;
}
.three-a .column.second {
	width: 450px;
	padding: 0 0 25px 0;
	margin: 0 15px 0 0;
}
.three-a .column.third {
	width: 275px;
	padding: 0 0 25px 0;
	margin: 0;
}
.three .column {
	width: 31%;
	padding: 0 1%;
}
/* Modules */
.item {
	margin: 0 0 20px;
}
.item h3 {
	font-size: 13px;
	line-height: 17px;
	font-family: Arial, sans-serif;
	margin: 0 0 5px;
	padding: 0;
	font-weight: bold;
}
.item-type, .item-author {
	color: #555;
	display: block;
}
/* Pages */
#logo {
	float: left;
	margin: 15px 0 0 0;
}
#primary-menu {
	margin: 15px 0 0 0;
	float: right;
	text-align: right;
}
#primary-menu li {
	padding: 0 15px 0 0;
	float: left;
	list-style: none;
	position: relative;
}
#primary-menu li.signin {
	z-index: 5;
	padding: 0;
}
#primary-menu a {
	display: block;
	color: #929292;
	font-size: 14px;
	line-height: 18px;
	padding: 6px 12px;
	font-weight: bold;
}
#primary-menu a:hover, #primary-menu a.active {
	color: #fff;
	text-decoration: none;
}
#primary-menu .signin a {
	background: #7881a2 url(/site_images/bg_signin.png) 0 0 repeat-x;
	color: #232b4b;
	padding: 6px 12px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-top: 1px solid #a1a8bd;
	border-right: 1px solid #5e6376;
	border-bottom: 1px solid #333643;
	border-left: 1px solid #a1a8bd;
	text-align: left;
	-webkit-box-shadow: 0px 0px 5px 1px #444;
	box-shadow: 0px 0px 5px 1px #444;
}
#primary-menu li .dropdown {
	display: none;
	margin: 0;
	padding: 6px;
	background: #cfd3e0;
	z-index: -1;
	position: absolute;
	top: 30px;
	left: 0;
	-webkit-box-shadow: 0px 0px 5px 1px #444;
	box-shadow: 0px 0px 5px 1px #444;
}
#primary-menu li .dropdown li {
	float: none;
	padding: 0;
	margin: 2px 0;
}
#primary-menu .signin .dropdown a {
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:none;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: none;
	text-align: left;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.batch-info {
	float: right;
	margin: 20px 0;
	font-size: 11px;
}
.batch-data {
	margin: 0 15px 0 0;
}
#ingest-tool {
	background: #f0f0f0;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#ingest-tool .choosefiles {
	border-bottom: 1px solid #ddd;
}
#ingest-tool .assign {
	margin: 0 0 0 210px;
	border-left: 1px solid #ddd;
	padding: 10px;
}
#ingest-tool h2 {
	padding: 10px 0 20px 10px;
	float: left;
	width: 200px;
	text-transform: none;
	color: #404040;
	font-weight: 900;
}
.describefiles {
	clear: both;
}
.result-filter {
	position: relative;
	padding: 10px;
	background: #eee;
}
#search-results {
	clear: both;
	border-top: 1px dotted #ababab;
	padding: 10px 0;
}
#search-results a {
	color: #2e508f;
}
#search-results li {
	font-weight: bold;
	border-bottom: 1px dotted #ababab;
	margin: 0 0 20px;
	padding: 0 0 20px;
}
#search-results h2 {
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 19px;
	text-transform: none;
}
#search-results h2 a {
	border-bottom: 1px dotted #ababab;
}
#search-results h2 a:hover {
	text-decoration: none;
}
#search-results table {
	font-weight: normal;
	margin: 0;
}
#search-results table.verticalheadings th {
	color: #808990;
	text-align: right;
	width: 100px;
	font-weight: normal;
	border: none;
	padding: 3px;
}
#search-results table td {
	border: none;
	padding: 3px;
}

/* Misc */
.breadcrumbs {
	padding: 5px 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff url(/site_images/bg_breadcrumbs.png) left bottom repeat-x;
	color: #838383;
	margin: 0 0 20px;
}
.breadcrumbs a.active {
	color: #838383;
}
.hidden {
	display: none;
}
.clear {
  clear: both;
}
hr {
	height: 1px;
	background: #ddd;
	border: none;
}
table {
	border: none;
	border-collapse: collapse;
}
table.recent {
    border-bottom: 1px solid #DDDDDD;
    border-collapse: collapse;
    border-spacing: 0; 
    padding: 1px 3px 1px;
    width: 90%
}
table.recent td {
    padding: 0 3px 0;
    border-bottom: none;
    color: #404040;
    
}
table.expanded-details {
	width: 75%;
	margin: 0 auto;
}
table td {
	padding: 10px 5px;
	border-bottom: 1px solid #ddd;
	color: #404040;
}
table .zebra td {
	background: #f9f9f9;
}
table th {
	padding: 10px 5px;
	background: #efefef;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	text-align: left;
	color: #404040;
}
table.verticalheadings th {
	background: none;
	border-top: none;
}
table.verticalheadings .zebra th {
	background: #f9f9f9;
}
table.verticalheadings {
	width: 100%;
	margin: 0 0 25px;
}
.clearfix {
	clear: both;
}
.forward, .back {
	display: block;
	padding: 3px;
	font-size: 11px;
	font-family: "Lucida Grande", Arial, sans-serif;
}
.forward {
	text-align: right;
}
.date {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: 0 0 5px 0;
}
.caption {
	display: block;
	margin: 5px 0 0 0;
	font-size: 11px;
	line-height: 14px;
	color: #999;
	font-weight: bold;
	font-family: "Lucida Grande", sans-serif;
}
.you-searched-wrap {
	padding: 0 0 10px;
	background: url(/site_images/carrot_yellow.png) 10px bottom no-repeat;
}
.you-searched {
	background: #fff7e2;
	border: 1px solid #dfd9c9;
	font-size: 14px;
	margin: 0 0 5px;
	padding: 5px;
}
.your-keywords-wrap {
	padding: 0 0 10px;
	background: url(/site_images/carrot_blue.png) 10px bottom no-repeat;
}
.your-keywords {
	background: #e2edff;
	border: 1px solid #c3d9ff;
	margin: 0 0 5px;
	padding: 5px;
	position: relative;
}
.clearkeywords {
	position: absolute;
	top: 0;
	right: 0;
	width: 22px;
	height: 22px;
	padding: 6px 0 0 12px;
	border-left: 1px solid #c3d9ff;
	cursor: pointer;
}

/* Pager */
.pager {
	float: right;
	margin: 25px 0;
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.pager a {
	display: block;
	float: left;
	color: #0d69d6;
	padding: 8px 16px;
	border-right: 1px solid #d9d9d9;
}
.pager a.disabled {
	color: #bfbfbf;
}
.pager a.active {
	background: #c7eefd;
}
.pager a:hover {
	text-decoration: none;
	background: #c7eefd;
}

/* Icons */
.itemicon {margin:0 5px 0 0;display: inline-block;text-indent: -9999px;background: url(/site_images/icons_sprite.png) 0 0;}
.itemexpand {width:12px;height:12px;background-position: -2px -1px;}
.itemhide {width:12px;height:12px;background-position: -46px -48px;}
.itemcode {width:19px;height: 13px;background-position: -22px -1px;}
.itemedit {width:20px;height:20px;background-position: -3px -23px;}
.itemdownload {width:18px;height:21px;background-position: -32px -23px;}
.itemprivate {width:17px;height: 11px;background-position: -49px -2px;}
.itempublic {width:18px;height:18px;background-position: -76px -3px;}
.itemok {width:23px;height:17px;background-position: -60px -24px;}
.itemsearch {width:16px;height:15px;background-position: -1px -48px;}
.itemcheck {width:14px;height:14px;background-position: -25px -47px;}

/* Footer */
#footer-wrapper {
	background: #404040 url(/site_images/bg_footer.png) 0 0 repeat-x;
}
#footer {
	width: 920px;
	margin: 0 auto;
	padding: 20px;
}
.footer-logo {
	float: left;
	width: 185px;
}
.footer-text {
	float: right;
	text-align: right;
	margin: 20px 0 0 0;
}
.footer-text ul {
	list-style: none;
	font-size: 11px;
	line-height: 15px;
	color: #c6c6c6;
	margin: 0;
}
.footer-text li {
	display: inline;
	margin: 0 0 0 20px;
}
#footer p {
	margin: 0 0 10px;
	font-size: 11px;
	line-height: 15px;
	color: #c6c6c6;
}
#footer .footer-logo p {
	margin: 0;
}
#footer a {
	color: #c6c6c6;
}

/* Forms */
.form-line {
	margin: 15px 0;
	clear: both;
}
#search-form-header {
	position: absolute;
	bottom: 25px;
	right: 20px;
}
#search-field-header {
	padding: 5px 40px 10px 20px;
	background: url(/site_images/bg_search_field.png) 0 0 no-repeat;
	border: none;
	width: 485px;
}
.textinput {
	font-size: 13px;
	color: #808080;
	padding: 7px;
	border: 1px solid #ddd;
	-moz-box-shadow: inset 0px 0px 2px 1px #ddd;
	-webkit-box-shadow: inset 0px 0px 2px 1px #ddd;
	box-shadow: inset 0px 0px 2px 1px #ddd;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 230px;
}
#ingest-tool select {
	font-size: 13px;
	background: #efefef;
	color: #808080;
	margin: 0 10px 0 0;
}
#search-submit-header {
	position: absolute;
	top: 0;
	right: 10px;
	background: transparent;
	border: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 15px;
	line-height: 19px;
	padding: 2px 18px;
}
.button1 {
	font-size: 20px;
	line-height: 22px;
	font-weight: 400;
	font-family: "lato";
	margin: 15px auto 25px auto;
	padding: 15px 30px;
	text-align: center;
	background: #2d408a url(/site_images/bg_button1.png) 0 0 repeat-x;
	border-right: 1px solid #131a38;
	border-bottom: 1px solid #131a38;
	color: #cecece;
	cursor: pointer;
	-moz-box-shadow: 0px 0px 2px 1px #999;
	-webkit-box-shadow: 0px 0px 2px 1px #999;
	box-shadow: 0px 0px 2px 1px #999;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
}
.button2 {
	font-size: 12px;
	line-height: 16px;
	font-weight: 900;
	font-family: "lato";
	margin: 15px auto 15px auto;
	padding: 5px 10px;
	background: #fff url(/site_images/bg_button2.png) left bottom repeat-x;
	color: #3c536b;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid #ddd;
}
.button3 {
	font-size: 13px;
	line-height: 17px;
	font-weight: 400;
	font-family: Arial, sans-serif;
	margin: 15px 0;
	padding: 5px 10px;
	background: #0098e0 url(/site_images/bg_button3.png) left bottom repeat-x;
	color: #fff;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid #0163d5;
}
.result-filter .button3 {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 0;
}
#ingestsubmit {
	font-size: 17px;
	line-height: 21px;
	margin: 25px 0 0 225px;
}
.required {
	margin: 0 0 0 10px;
	color: #6b2102;
}
.hint {
	font-size: 11px;
	color: #999;
	font-family: "Lucida Grande", sans-serif;
}
.notice {
	padding: 10px;
	background: #bb5432;
	color: #fff;
	font-size: 14px;
}
.formHelpContainer {
  width: 250px;
  position: relative;
}
.formHelper {
  display: none; 
  border: 1px #ffeedd solid;
  background: #fcfeda;
  font-size: 11px;
  width: 250px; 
  position: absolute;
  padding: 3px;
  z-index: 10;
}
.theme-default.horizontal #slider {
    width:779px; /* Make sure your images are the same size */
    height:525px; /* Make sure your images are the same size */
}

ol.catalog li { 
  display:block; 
} 

