/* ...
 *= require_self
 *= require generic_files
 *= require video-js
 *= require jquery-ui
 *= require sufia-audio-overrides
 *= require home-page
 *= require tagcloud
 *= require featured
 *= require usage-stats
 *= require nestable
*/

@import 'bootstrap';
@import 'blacklight/blacklight';
@import "browse_everything";

// Use import here instead of require so we can use the Sass variables defined in Bootstrap and Blacklight
// TODO: Probably should use import throughout and move all of Sufia's stylesheets into a single named directory.
@import 'settings';
@import 'header';
@import 'styles';
@import 'file-listing';

#browse-everything {
  top:10%;
  background-color: initial;
}

/* use if a label should be hidden from view but available to screen readers */
/* we could switch to .sr-only instead */
.accessible-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

#content {
  padding-top: 10px;
}