/* ...
 *= require_self
 *= require generic_files
 *= require video-js
 *= require jquery-ui
 *= require sufia-audio-overrides
 *= require styles
 *= require header
 *= require home-page
 *= require tagcloud
 *= require featured
 *= require dashboard
 *= require usage-stats
 *= require nestable
*/

@import 'bootstrap';

@import 'blacklight/blacklight';
@import "browse_everything";

#browse-everything {
  top:10%;
  background-color: initial;
}

/* use if a label should be hidden from view but available to screen readers */
/* we could switch to .sr-only instead */
.accessible-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

#content {
  padding-top: 10px;
}