/* ...
 *= require_self
 *= require generic_files
 *= require video-js
 *= require jquery-ui
 *= require sufia-audio-overrides
 *= require home-page
 *= require tagcloud
 *= require featured
 *= require usage-stats
 *= require nestable
 *= require catalog
*/

@import 'bootstrap';
@import 'blacklight/blacklight';
@import "browse_everything";

// Use import here instead of require so we can use the Sass variables defined in Bootstrap and Blacklight
// TODO: Probably should use import throughout and move all of Sufia's stylesheets into a single named directory.
@import 'settings';
@import 'header';
@import 'styles';
@import 'file-listing';
@import 'collections';
@import 'batch-edit';

#browse-everything {
  top:10%;
  background-color: initial;
}

/* use if a label should be hidden from view but available to screen readers */
/* we could switch to .sr-only instead */
.accessible-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

#content {
  padding-top: 10px;
}

/* This class is to workaround an issue in which Bootstrap requires a div to display a tooltip
 * on a disabled button. Using a span instead of a div would be ideal but unfortunately it does
 * not render the tooltip correctly in all browsers (e.g. in Chrome the tooltip is detected in
 * the wrong position). This class forces the div to render inline, just like a span.
 *
 * More info:
 *    http://getbootstrap.com/css/#responsive-utilities-classes
 *    http://stackoverflow.com/a/19938049/446681
 */
.visible-all-inline-block {
  display: inline-block;
}

.button_to-inline {
  display: inline-block;
}
