/* ...
 *= require_self
 *= require bootstrap.min
 *= require scholarsphere-bootstrap
 *= require trophy
 *= require blacklight_more_facets
 *= require batch_edit
 *= require generic_files
 *= require video-js
 *= require jquery-ui
*/

@import 'font-awesome';

