/* ...
 *= require_self
 *= require generic_files
 *= require video-js
 *= require jquery-ui
 *= require sufia-audio-overrides
 *= require styles
 *= require tagcloud
*/

@import "browse_everything";
#browse-everything { 
  top:10%; 
  background-color: initial; 
}
