/* ...
 *= require_self
 *= require bootstrap.min
 *= require application-bootstrap
 *= require trophy
 *= require blacklight_more_facets
 *= require batch_edit
 *= require generic_files
 *= require video-js
 *= require audio-js
 *= require dashboard
 *= require jquery-ui
 *= require sufia-audio-overrides
*/

@import 'font-awesome';
@import "browse_everything";
#browse-everything { 
  top:10%; 
  background-color: initial; 
}
