<%# TODO: Dynamic %>
<h4>Monthly user activity (past 12 months)</h4>
<hr />

<% if @last_twelve_months %>
<table class="table table-striped">
<%# TODO: Dynamic %>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <% @last_twelve_months.reverse_each do |month| %>
        <th><%= month[0] %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Downloads</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Views</b></td>
      <% @last_twelve_months.reverse_each do |month| %>
        <td><%= month[1] %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>