<h4>Work Activity Summary</h4>
<hr />
<table class="table table-striped">
<%# TODO: Dynamic %>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Today</th>
    <th>This week</th>
    <th>This month</th>
    <th>This year</th>
    <th>All time</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Downloads</b></td>
      <td><%#= today %></td>
      <td><%#= this_week %></td>
      <td><%#= this_month %></td>
      <td><%#= this_year %></td>
      <td><%#= all_time %></td>
    </tr>
    <tr>
      <td><b>Views</b></td>
      <td><%#= today %></td>
      <td><%#= this_week %></td>
      <td><%#= this_month %></td>
      <td><%#= this_year %></td>
      <td><%#= all_time %></td>
    </tr>
    <tr>
      <td><b>Unique Visitors</b></td>
      <td><%#= today %></td>
      <td><%#= this_week %></td>
      <td><%#= this_month %></td>
      <td><%#= this_year %></td>
      <td><%#= all_time %></td>
    </tr>

  </tbody>
</table>