<h4 class="text-center">January 1, 2017 through September 18, 2017</h4>

<h4>Summary of user activity</h4>
<hr />

<table class="table table-striped">
<%# TODO: Dynamic %>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Today</th>
    <th>This week</th>
    <th>This month</th>
    <th>This year</th>
    <th>All time</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Downloads</b></td>
      <td>7</td>
      <td>94</td>
      <td>401</td>
      <td>9,537</td>
      <td>47,391</td>
    </tr>
    <tr>
      <td><b>Page Views</b></td>
      <td><%= Hyrax::Analytics.pageviews("day") %></td>
      <td><%= Hyrax::Analytics.pageviews("week") %></td>
      <td><%= Hyrax::Analytics.pageviews("month") %></td>
      <td><%= Hyrax::Analytics.pageviews("year") %></td>
      <td>To-Do</td>
    </tr>

  </tbody>
</table>

<h4>Repository Works by User Activity</h4>
<hr />

<table class="table table-striped">
<%# TODO: Dynamic %>
  <thead>
  <tr>
    <th>Work Title</th>
    <th>Views</th>
    <th>Downloads</th>
    <th>Unique visitors</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Term monitoring of Harbor Seals on the West Beach of...</td>
      <td>982</td>
      <td>164</td>
      <td>658</td>
    </tr>
    <tr>
      <td>Butterfly Research</td>
      <td>1905</td>
      <td>230</td>
      <td>1654</td>
    </tr>
    <tr>
      <td>Old-Timey Baseball Photographs</td>
      <td>441</td>
      <td>230</td>
      <td>306</td>
    </tr>
  </tbody>
</table>