<br>
<hr />
<h4>Files</h4>

<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Total downloads (YTD)</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

   <% @files.each do |file| %>
    <% @file_sizes = [] %>
    <% f = SolrDocument.find(file) %>
    <% if f %>
      <% @file_sizes.push(f.file_size) %>
      <tr>
        <td><%= f %></td>
        <td><%= Hyrax::Analytics.downloads_for_file(f.id) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= paginate @files %>
</div>
<br>
<br>





