<div class="row">
  <div class="col-xs-12 work-counts">
    <div class="work-count-border col-sm-2 col-sm-offset-3 pull-left text-center">
      <h4 class="work-count-title">1.2MB</p>
      <p>total size</p>
    </div>
    <div class="work-count-border col-sm-2 pull-left text-center">
      <h4 class="work-count-title">2</p>
      <p>child works</p>
    </div>
    <div class="work-count-border col-sm-2 pull-left text-center">
      <h4 class="work-count-title">4</p>
      <p>files</p>
    </div>
  </div>
</div>