<%= render 'hyrax/users/user', user: @user %>

<br />
<a class="btn btn-primary" href="<%= hyrax.users_path %>"><i class="glyphicon glyphicon-globe" aria-hidden="true"></i><%= t('.view_users') %></a>
