<ul class="nav nav-tabs" id="myTab">
  <li class="nav-item">
    <a class="nav-link active" href="#contributions">
      <span class="fa fa-star"></span> <%= I18n.t('hyrax.user_profile.tab_highlighted') %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#activity_log">
      <span class="fa fa-calendar"></span> <%= I18n.t('hyrax.user_profile.tab_activity') %>
    </a>
  </li>
</ul>

<div class="tab-content card-body">
  <%= render 'contributions', presenter: presenter %>
  <%= render 'activity', presenter: presenter %>
</div> <!-- /tab-content -->
