      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#contributions"><span class="glyphicon glyphicon-star"></span> <%= I18n.t('hyrax.user_profile.tab_highlighted') %></a></li>
        <li><a href="#activity_log"><span class="glyphicon glyphicon-calendar"></span> <%= I18n.t('hyrax.user_profile.tab_activity') %></a></li>
      </ul>

      <div class="tab-content panel-body">
        <%= render 'contributions', presenter: presenter %>
        <%= render 'activity', presenter: presenter %>
      </div> <!-- /tab-content -->
