<div class="tab-pane" id="proxies">
  <h2><%= t('.proxies') %></h2>
  <ul>
    <% @user.can_receive_deposits_from.each do |depositor| %>
      <li><%= link_to_profile depositor.user_key %></li>
    <% end %>
  </ul>

</div> <!-- /profile -->
