<div class="row profile">
  <div class="col-3">
    <%= render 'left_sidebar' %>
  </div>
  <!-- right col -->
  <div class="col-9">
    <%= render 'profile_tabs', presenter: @presenter %>
  </div>
</div>
