<% # container for all documents in index list view -%>
<table class="documents-<%= document_index_view_type %> table table-striped">
  <thead>
    <tr>
      <th colspan="2">Title</th>
      <th>Date created</th>
      <th>Language</th>
      <th>Works</th>
    </tr>
  </thead>
  <tbody>
    <%= render documents, as: :document %>
  </tbody>
</table>
