<% # container for all documents in index list view and the members in the show view -%>
<% if action_name == 'index' %>
  <table class="documents-<%= document_index_view_type %> table table-striped admin-set-list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date created</th>
        <th>Language</th>
        <th>Works</th>
      </tr>
    </thead>
    <tbody>
      <%= render documents, as: :document %>
    </tbody>
  </table>
<% else %>
  <% # This is for the member list # %>
  <table class="documents-<%= document_index_view_type %> table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date created</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'member_document', collection: documents %>
    </tbody>
  </table>
<% end %>
