<h4>Monthly user activity (past 12 months)</h4>
<hr />

<% if @pageviews_last_twelve_months %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <% @pageviews_last_twelve_months.reverse_each do |month| %>
        <th><%= month[0] %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% if @downloads_last_twelve_months %>
    <tr>
      <td><b>Downloads</b></td>
      <% @downloads_last_twelve_months.reverse_each do |month| %>
        <td><%= month %></td>
      <% end %>
    </tr>
    <% end %>
    <tr>
      <td><b>Views</b></td>
      <% @pageviews_last_twelve_months.reverse_each do |month| %>
        <td><%= month[1] %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>