<section class="item-title">

  <% presenter.title.each_with_index do |title, index| %>
    <% if index == 0 %>
      <div class="title-with-badges">
        <h2><%= title %></h2>
        <%= presenter.permission_badge %>
        <%= presenter.collection_type_badge %>
      </div>
    <% else %>
      <h2><%= title %></h2>
    <% end %>
  <% end %>

</section>

