<% @all_checked = false %>
<% @user = current_user %>
<% if documents.nil? || documents.empty? %>
  <div class="alert alert-warning" role="alert"><%= t('hyrax.collection.document_list.no_visible_works') %></div>
<% else %>
  <% @document_list = documents %>
  <% @disable_select_all = (@document_list.count <= 1) %>
  <%= render 'show_document_list', documents: documents %>
<% end %>
