<h2 class="sr-only"><%= t('hyrax.collection.actions.header') %></h2>
<div class="actions-controls-collections">
  <%= link_to t('hyrax.collection.actions.add_existing_works.label'),
              hyrax.my_works_path(add_works_to_collection: @form.id),
              title: t('hyrax.collection.actions.add_existing_works.desc'),
              class: 'btn btn-default' %>
</div>
