<div class="modal fade" id="parent-collection-to-remove-deny-modal" tabindex="-1" role="dialog" aria-labelledby="remove-parent-collection-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="delete-collection-form">
        <div class="modal-body">
          <p><%= t('hyrax.dashboard.collections.form_relationships.modals.remove_parent_collection_deny') %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('helpers.action.close') %></button>
        </div>
      </form>
    </div>
  </div>
</div>
