<div class="modal fade" id="collection-remove-subcollection" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="delete-collection-form">
        <div class="modal-body">
          <p><%= t('hyrax.dashboard.collections.form_relationships.modals.remove_this_sub_collection_description') %></p>
        </div>
        <div class="modal-footer">
          <%= form_tag dashboard_remove_child_relationship_under_path(parent_id, child_id) do |f| %>
            <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('helpers.action.cancel') %></button>
            <%= submit_tag t('helpers.action.remove'), class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
