<li>
	<div class="flex-wrapper">
		<div class="collections-list-title">
			<%= link_to document, [hyrax, :dashboard, document], id: "src_copy_link_#{document.id}" %>
		</div>
		<button class="btn btn-xs btn-danger remove-from-collection-button" <%= "disabled" unless can? :edit, document.id %>><%= t('hyrax.collections.show.buttons.remove_from_collection') %></button>
	</div>

	<%= render 'modal_remove_from_collection', child_id: id, parent_id: document.id %>
</li>
