<h2 class="sr-only"><%= t('.descriptions') %></h2>
<dl class="dl-horizontal metadata-collections">
  <% @presenter.terms_with_values.each do |field_name| %>
    <dt><%= collection_metadata_label(@presenter, field_name) %></dt>
    <dd><%= collection_metadata_value(@presenter, field_name) %></dd>
  <% end %>
</dl>
