<h2 class="sr-only"><%= t('hyrax.collection.actions.header') %></h2>
<div class="actions-controls-collections">
  <% if can? :edit, presenter.solr_document # TODO: Shouldn't this be :deposit -- dependency on participants %>
    <%= link_to t('hyrax.collection.actions.add_existing_works.label'),
                hyrax.my_works_path(add_works_to_collection: presenter.id),
                title: t('hyrax.collection.actions.add_existing_works.desc'),
                class: 'btn btn-default pull-right',
                data: { turbolinks: false } %>
    <%= link_to t('hyrax.collection.actions.add_new_work.label'),
                '#',
                title: t('hyrax.collection.actions.add_new_work.desc'),
                data: { behavior: "select-work", target: "#worktypes-to-create", 'create-type' => 'single', add_works_to_collection: presenter.id },
                class: 'btn btn-default  pull-right'  %>
  <% end %>
</div>
