<% if can? :edit, presenter.solr_document %>
  <div class="sr-only">Add a nested collection</div>
  <div class="actions-controls-collections">
    <%= link_to t('hyrax.collection.actions.nest_collections.label'),
                hyrax.dashboard_new_nest_collection_within_path(child_id: presenter.id),
                title: t('hyrax.collection.actions.nest_collections.desc'),
                class: 'btn btn-default pull-right' %>
  </div>
<% end %>
