<span class="sr-only h2"><%= t('hyrax.collection.actions.header') %></span>
<% if can? :destroy, presenter.solr_document %>
    <%= link_to t('hyrax.collection.actions.delete.label'),
                hyrax.dashboard_collection_path(presenter),
                title: t('hyrax.collection.actions.delete.desc'),
                class: 'btn btn-danger pull-right',
                data: { confirm: t('hyrax.collection.actions.delete.confirmation'),
                        method: :delete } %>
<% end %>
<% if can? :edit, presenter.solr_document %>
    <%= link_to t('hyrax.collection.actions.edit.label'),
                hyrax.edit_dashboard_collection_path(presenter),
                title: t('hyrax.collection.actions.edit.desc'),
                class: 'btn btn-default pull-right' %>
<% end %>
