<% type_title = collection_type_label_for(collection: @collection) %>

<% provide :page_title, construct_page_title( t('.header', type_title: type_title, title: @form.title.first) ) %>

<% provide :page_header do %>
  <h1><span class="fa fa-edit" aria-hidden="true"></span><%= t('.header', type_title: type_title, title: @form.title.first) %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render 'flash_msg' %>
    <%= render 'form' %>
  </div>
</div>
