<%- form_tag(url_for(:controller=>"submission_workflow",:action=>"contributor")) do -%>
  <fieldset id="contributors_fields">
		<legend>Authors</legend>
	  <p class="legend-caption">An individual or organizational author of work.</p>	
		<%= render "contributors/index" %>
		<%= hidden_field_tag("id",params[:id]) %>
		<%= submit_tag("Add Another Author", :name=>"add_another_author") %>
		<%= submit_tag("Continue", :name=>"continue") %>
	</fieldset>
<%- end -%>
