.dropdown-menu {
  .item-with-options {
    display: block;
    padding:3px 20px;
    line-height: $line-height-base;
    color: $dropdown-link-color;
  }

  .item-options{
    margin:0;
    padding:0;
    list-style-type:none;

    // Links within the dropdown menu
    > li > a {
      display: block;
      padding: 3px 20px 3px 30px;
      clear: both;
      font-weight: normal;
      line-height: $line-height-base;
      color: $dropdown-link-color;
      white-space: nowrap; // prevent links from randomly breaking onto new lines
    }
  }

  .item-option:hover,
  .item-option:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }

  .menu-heading {
    font-weight:bold;
  }

  .link-to-full-list {
    font-style:italic;
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .navbar-inverse {
    .item-with-options {
      color: $navbar-inverse-link-color;
    }
    .item-options {
      > li > a {
        color: $navbar-inverse-link-color;
        &:hover,
        &:focus {
          color: $navbar-inverse-link-hover-color;
          background-color: $navbar-inverse-link-hover-bg;
        }
      }
    }
  }
}