<div id="select-item-box">
  <a class="add-new-asset" href="#">Add a New Asset</a>
  <ul id="select-item-list">
    <li>
      <%= link_to_create_asset 'Add a Basic MODS Asset', 'mods_asset' %>
    </li>
    <li>
      <%= link_to_create_asset 'Add an Image', 'generic_image' %>
    </li>
    <li>
      <%= link_to_create_asset 'Add Generic Content', 'generic_content' %>
    </li>
  </ul>
</div>      