<div id="brown_box">
<form action="/catalog" method="get" id="side_search">
	<label for="q">Search Libra</label>
  	<input class="q" id="q" name="q" type="text" />
  	<input type="submit" value="Submit" />
</form>

<ul>
	<li><a href="/">Return to Libra</a></li>
	<li><a href="/open_access_self_deposit_policies.html">Libra Policies</a></li>
	<li><a href="/open_access_self_deposit_policies.html">Help & FAQs</a></li>
	<li><a href="http://search.lib.virginia.edu">VIRGO Library Catalog</a></li>			
	<li><a href="http://www.lib.virginia.edu">UVa Library Home</a></li>				
</ul>
</div>