<div id="footer-wrapper" class="container-fluid">
  <div class="row">
  <div class="col-xs-12" id="footer">
    <div class="col-xs-12 col-sm-3">
      <p class="pull-left">A service of Project Hydra.</p>
      <p>v.<%= Sufia::VERSION %></p>
    </div>
    <div class="col-xs-12 col-sm-9">
      <p><strong>Copyright &copy; 2013 Project Hydra</strong> Licensed under the Apache License, Version 2.0</p>
      <ul class="list-inline">
        <li><a href="">One</a></li>
        <li><a href="">Two</a></li>
        <li><a href="">Three</a></li>
        <li><a href="">Four</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div><!-- /footer -->
  </div><!-- /.row -->
</div><!-- /footer-wrapper -->

