<footer class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p>A service of <a href="http://projecthydra.org/" class="navbar-link" target="_blank">Project Hydra</a>.</p>
        <p>Sufia v<%= Sufia::VERSION %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><%= t('sufia.footer.copyright_html') %></p>
        <p><%= t('sufia.background_attribution') %></p>
      </div>
    </div>
  </div>
</footer>
