<div id="footer" class="container-fluid">
  <div class="row">
  <div class="col-xs-12 col-sm-5">
      <p class="pull-left">A service of <a href="http://projecthydra.org/" target="_blank">Project Hydra</a>.</p>
      <p>v.<%= Sufia::VERSION %></p>
  </div>
    <div class="col-xs-12 col-sm-7">
      <p><%= t('sufia.footer.copyright_html') %></p>
      <p><%= t('sufia.background_attribution') %></p>
    </div>
  </div><!-- /footer -->
  </div><!-- /.row -->
</div><!-- /footer -->

