<header aria-label="header">
  <nav id="masthead" class="navbar navbar-inverse navbar-static-top" role="navigation" aria-label="masthead">
    <h1 class="sr-only"><%= application_name %></h1>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= render '/logo' %>
      </div>

      <div class="collapse navbar-collapse" id="top-navbar-collapse">
        <%= render '/user_util_links' %>
      </div>
    </div>
  </nav>
</header>

