<header aria-label="header">
  <nav id="masthead" class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation" aria-label="masthead">
    <h1 class="sr-only"><%= application_name %></h1>
    <%= render '/logo' %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="top-navbar-collapse">
      <%= render '/user_util_links' %>
    </div>
  </nav>
</header>

