%form#new_contributor{:action=>"http://localhost:3000/assets/#{params[:asset_id]}/contributors", :method=>"post"}
  %input.content_type{:type=>"hidden", :name=>"content_type", :value=>params[:content_type]} 
  %label{:for=>"contributor_type"} Contributor Type
  %select#contributor_type{:name=>"contributor_type"}
    %option{:value=>"person"} Person
    %option{:value=>"organization"} Organization
    %option{:value=>"conference"} Conference
  %input{:type=>"submit", :value=>"Add Contributor"}