<% conference = show_conference %>
<% conference_counter = show_conference_counter %>
<% conference_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:conference=>conference_counter}, :namePart]).first %>
<% base_id = "conference_#{conference_counter}" %>
<% unless get_values_from_datastream(@document_fedora,"descMetadata", [{:conference=>conference_counter}, :namePart]).first.empty? %>
  <li id="<%= base_id %>">
    <span class="contributor_role">
      <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:conference=>conference_counter}, :role, :text]) %>
    </span>
    <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:conference=>conference_counter}, :namePart]).first %>        
  </li>
<% end %>