<%# See code comments on ContributorsController.new to understand what this view does %>
<%- if params.has_key?(:contributor_type) %>
  <%- ct = params[:contributor_type] %>
  <%# Calculating the new index so all field values (ie first name & last name) will be added to one contributor with that index %>
  <%- new_contributor_index = @document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(ct.to_sym).length %>
  <form id="add_contributor" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"mods_asset", :id=>params[:asset_id]) %>" method="post" data-resourceType="mods_asset" accept-charset="utf-8">
      <input name="_method" type="hidden" value="put" />  
      <%= render :partial=>"contributors/edit_#{ct}.html", :locals=>{"edit_#{ct}".to_sym =>{}, "edit_#{ct}_counter".to_sym =>new_contributor_index}  %>
      <%= submit_tag "Add #{ct.capitalize}", {:id => "addContributor"} %> 
  </form>
<%- else %>
  <%= render :partial=>"contributors/new.html"  %>
<%- end %>