%h2 Metadata

#system_create_date.field
  %label
    Date Created:
  =@solr_result["system_create_date"]
#system_modified_date.field
  %label
    Date Last Modified
  =@solr_result["system_modified_date"]

=render :partial=>"shared/metadata_datastream", :collection => @file_asset.metadata_streams, :locals=>{:record => @file_asset}
