%h2 Metadata

=editable_single_value_field(@file_asset, "DC", :title, :label => "Title")
#owner.field
  %label
    Owner
  =@file_asset.owner_id
#system_create_date.field
  %label
    Date Created:
  =@solr_result["system_create_date"]
#system_modified_date.field
  %label
    Date Last Modified
  =@solr_result["system_modified_date"]

=metadata_field(@file_asset, "DC", :format, :label => "Format(s)")
=metadata_field(@file_asset, "DC", :date, :label => "Date(s) Recorded")