<%- field_tag_options = defined?(uploader_options) ? uploader_options : {} %>
<div class="uploader-contents">
  <p>Browse to upload a file.</p>
  <!-- <input name="Filedata-orig" type="file" /> -->
  <%= file_field_tag "Filedata_#{counter}", field_tag_options %>
</div>