%tr[result]
  %td
    =link_to result[solr_name("title", :text)], file_asset_path(result["id"])
  %td
    =result[solr_name("description", :text)]
  %td
    =result[solr_name("extent", :text)]
  %td
    - dt = DateTime.parse(result[ solr_name("system_create", :date)] )
    = dt.strftime("%Y-%m-%d %I:%M%p UTC")
