<tr class="file_asset" id = "<% h(result["id"]) %> " >  
  <td>
    <%= link_to result[solr_name("title", :text)], file_asset_path(result["id"]) %>
  </td>
  <td>
   <% if editor? %>
    	<% if @container.nil? %>
    		<% file_asset_url = file_asset_path(result["id"]) %>
    	<% else %>
    		<% file_asset_url = asset_file_asset_path(@container.pid, result["id"]) %>
    	<% end %>
      <a class="destroy_file_asset" href="<%= file_asset_url %>" title="Remove file">Delete</a>
   <% end %>
  </td>
</tr>
