-@page_explanation = "This is a listing of all of the File Assets in your Fedora Repository including Audio, Video, and Image assets as well as generic (unidentified) File Assets."
#actions
  =link_to("New File Asset", new_file_asset_path)

%h2 File Assets

%table#assets
  %col{:width=>"25%"}/
  %col{:width=>"15%"}/
  %col{:width=>"15%"}/
  %col{:width=>"55%"}/
  
  %th Title (or pid)
  %th Date Created
  %th Date Last Modified 
  %th Model(s) 
  =render :partial=>'result', :collection=>@solr_result.hits

%h2 Uploader
=render :partial => "file_assets/new"