%h2 File Assets

%table#assets
  %col{:width=>"25%"}/
  %col{:width=>"15%"}/
  %col{:width=>"15%"}/
  %col{:width=>"55%"}/
  
  %th Title (or pid)
  %th Date Created
  %th Date Last Modified 
  %th Model(s) 
  =render :partial=>'result', :collection=>@solr_result.hits

- if editor?
  %h2 Uploader
  =render :partial => "file_assets/new"