-unless params[:deletable] == "true"
  - if params[:layout] == "false"
    
  - else

    - extra_head_content << capture do 
      
- unless @solr_result.hits.empty?
  -if params[:deletable] == "true"
    %ul
      =render :partial=>'deletable_result', :collection=>@solr_result.hits
  -else
    %table#file_assets.multipleEdit
      %tr
        %th File
        %th   
      =render :partial=>'result', :collection=>@solr_result.hits

- if !@document.nil? && editor?
  %div#uploader
    = render :partial=>"new", :layout=>false
