=render :partial=>"fluid_infusion/uploader"
=render :partial=>"fluid_infusion/uploader_js"

-#=link_to_if(params[:container_id].nil?, "Finished", :controller=>:file_assets, :action=>:index) {link_to("Finished", :controller=>:file_assets, :action=>:index, :id=>params[:container_id])}
