-@page_explanation = "You are viewing the File Asset with id #{@file_asset.pid}."
=stylesheet_link_tag 'file_assets.css', :plugin=>"fedora_assets"
%h1 
  =edit_in_place_for(@file_asset, "DC","title") 
#preview
  %h2 Preview
  =render :partial=>"preview_common"
.span-10
  =render :file=>"datastreams/index"
  =render :partial=>"file_assets/metadata"

