<h2>Statistics By Date</h2>
<h3>Statistics in this section are filtered by the dates entered in the form below.
  The data is unfiltered unless the date form has been filled in. Start date is required and the deafult end is now.
</h3>
<%= render "admin/stats/date_form" %>
<%= render "admin/stats/files" %>
<%= render "admin/stats/new_users" %>
<%= render "admin/stats/deposits" %>
