<h2 class="heading1">Contribute</h2>
<%= link_to "<i class=\"icon-file\"></i> #{t('sufia.share_button')}".html_safe, sufia.new_generic_file_path, :class => "btn btn-primary btn-large", :id => "contribute_link" %>
<div class="row center"> <a href="/terms/">Terms of Use</a></div><br />
<h2 class="heading1">Explore</h2> 
<div class="row">
  <ul class="tagcloud" data-facet="desc_metadata__tag_sim"></ul>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <h2 class="heading1">My Latest</h2>
  <%= render :partial=>'/catalog/recents', :locals => {:recent_documents=>@recent_user_documents, :display_thumbs=>false, :display_access=>true} %>
</row>