<h2 class="heading1">Contribute</h2>
<%= link_to "<i class=\"icon-file\"></i> #{t('sufia.share_button')}".html_safe, sufia.new_generic_file_path, :class => "btn btn-primary btn-large", :id => "contribute_link" %>
<div class="row center"> <a href="/terms/">Terms of Use</a></div><br />
<%- if blacklight_config.respond_to?(:tag_cloud_field_name) && blacklight_config.tag_cloud_field_name %>
  <div class="row">
    <h2 class="heading1 pull-left">Explore</h2>
    <%= render partial:'catalog/tagcloud', locals:{tag_cloud_field_name:blacklight_config.tag_cloud_field_name}%>
  </div>
<%- end %>
<div class="row">&nbsp;</div>
<div class="row">
  <h2 class="heading1">My Latest</h2>
  <%= render :partial=>'/catalog/recents', :locals => {:recent_documents=>@recent_user_documents, :display_thumbs=>false, :display_access=>true} %>
</row>