.action-button {
  padding-top: 1em;
  padding-bottom: 1em;
}

.multi_value .listing .input-group {
  margin-bottom: .35em;
}

.input-group-btn:last-child > .btn {
  margin-left: 0;
}

.field-controls {
  .add,
  .remove {
    width: 7em;
    text-align: center;
  }

  .add {
    @extend .btn-primary;
  }
}

span.appliedFilter .remove {
  @extend .btn-danger;
}

.button_to-inline {
  display: inline-block;
}

.additional-fields {
  margin-bottom: 1.5em;
}
