// makes it so images don't bleed into the content on the right
.catalog img {
  max-width: 100%;
  height: auto;
}

.document-thumbnail {
  img {
    width: 100%;
  }
}

.search-result-wrapper {
  .list-thumbnail {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    @media (max-width: 768px) {
      img {
        max-height: 200px;
      }
    }
  }

  .search-results-title-row {
    .badge {
      margin-bottom: 6px;
    }

    .search-result-title {
      margin-right: 16px;
    }
  }

  .collection-icon-search {
    padding-bottom: 20px;
  }

  .metadata {
    width: 100%;
  }

  .collection-counts-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 992px) {
      justify-content: flex-start;
    }

    .collection-counts-item {
      background-color: #f5f5f5;
      color: #666;
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin-left: 10px;
      padding: 8px;
      text-align: center;

      &:first-child {
        margin-left: 0;
      }

      span {
        display: block;
        font-size: 18px;
        font-weight: normal;
        line-height: 1;
      }
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 20px;

    > div {
      padding-bottom: 10px;
    }
  }
}

.badge {
  color: #fff;
}

.dark-text {
  color: #000
}

.view-type-group a {
  > span.caption {
    display: none;
  }
}

.search-widgets {
  .view-type {
    display: inline-block;
  }
}

@media (max-width: 1199px) {
  .sort-pagination {
    display: block !important;
  }
}

#search-results .search-result-wrapper .metadata a,
#documents .document-metadata a {
  word-break: break-all;
}
