.collection {
  .representative-media {
    width: 100%;
  }
}

header {
  .collection_description,
  .fileset_description,
  .work_description {
    color: #333;
    font-family: $headings-font-family;
    font-size: 1.15em;
    font-weight: 300;
    line-height: 1.25em;
    letter-spacing: .10em;
  }
}


.collection-icon,
.collection-icon-search {
  display: block;
  width: 100%;
}

.collection-icon {
  padding: 15px 0 0;
}

.collection-icon-search {
  font-size: $collection-icon-search-lg;
  padding: 0;
}

.collection-icon-small {
  padding-top: 0.2em;
  width: 1.5em;
}

.thumbnail {
  text-align: center;
}

.actions-controls-collections {
  display: block;
  margin: 1em 0 0 1em;
}

.label-default a:link,
.label-default a:visited,
.label-default a:hover {
  color: #fff;
  text-align: center;
}

.dropdown-menu .edit_collection {
  margin-top: 2 * $padding-large-vertical;
}

div.view-type {
  padding-left: 0;
}

form.per_page {
  fieldset {
    margin-bottom: 1em;
    padding-left: 0;
  }
}

input.branding-logo-input,
input.branding-banner-input {
  width: 250px;
}

div.branding-logo-input,
div.branding-banner-input {
  text-align: right;
}

div.branding-logo-row,
div.branding-banner-row {
  border-top: solid 1px #dddddd;
  padding-top: 10px;
}

div.branding-logo-progress,
div.branding-banner-progress {
  margin-top: -25px;
}

button.branding-logo-remove,
button.branding-logo-remove:hover,
button.branding-banner-remove,
button.branding-banner-remove:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: $brand-danger;
  font-weight: normal;
  text-decoration: underline;
}

.dashboard .collections-wrapper {
  .panel {
    .panel-title {
      font-weight: 300;
    }
  }
}

// Styles wrapped in a selector class initially intended
// for the Collections index list page
.collections-wrapper {
  padding-top: 20px;

  #documents {
    .collections-list-table {
      td {
        vertical-align: top;
      }
    }
  }

  .collections-list-table {

    th,
    td {
      text-align: center;
      vertical-align: top;

      &:nth-child(2) {
        text-align: left;
      }
    }
  }

  // Datatable overwrites
  .dataTable {

    thead {
      .sorting::after,
      .sorting_asc::after,
      .sorting_desc::after {
        right: 0;
      }
    }
  }

  .create-collection-button {
    margin-bottom: 10px;
  }

  .delete-collections-button {
    margin-bottom: 20px;
  }

  .inline-dropdowns {
    select {
      margin-left: 10px;
    }
  }

  .thumbnail-title-wrapper {
    align-items: normal;
    display: flex;

    .thumbnail-wrapper {
      width: 50px;

      > img {
        height: 30px;
        width: auto;
      }
    }

    .glyphicon {
      margin: 4px 0 0 4px;
    }
  }

  .tabs-row {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .nav-tabs {
      margin-top: 0;
    }
  }

  .expanded-details {
    display: none;
    padding-top: 10px;
  }

  .modal {
    .select-collectiontype-label {
      float: right;
      margin-left: 15px;

      p {
        font-weight: normal;
      }
    }

    .collection-type-title {
      margin-top: 0;
    }
  }
}

// Selector for Collections forms
.collections-forms {

  // Relationships tab
  &.relationships {

    table {
      border-top: 1px solid #ddd;
    }

    th,
    td {

      &:nth-child(1) {
        width: 70%;
      }

      &:nth-child(2) {
        text-align: center;
      }
    }

    .collection-list-wrapper {
      margin: 30px 0;
    }

    .select-wrapper {
      margin-bottom: 20px;
    }
  }
}

// Issue 1428 Styles (DT)

.hyc-header {
  margin-bottom: 2em;
}

.hyc-body {
  margin-bottom: 2em;
}

.hyc-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 270px;
  border-radius: 1em;
  .hyc-title {
    padding: 1em;
    h1 {
      font-size: 2.5em;
      color: #fff;
      margin: 0;
      padding: 0;
      text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
      display: inline-block;
    }
    .label {
      margin-left:0.5em;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
      border: 1px solid rgba(255,255,255,0.5);
      vertical-align: 100%;
    }
  }
  .hyc-logos {
    padding: 0 1em;
    a {
      display: inline-block;
      text-decoration: none;
    }
    img {
      display: inline-block;
      padding: 0 1em 1em 0;
      width: auto;
      height: 50px;
    }
  }
  .hyc-bugs {
    div {
      padding: 1em;
      position: absolute;
      font-size: 1em;
      color: #fff;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    }
    .hyc-item-count {
      top: 0;
      right: 0;
      background: rgba(255,255,255,0.75);
      text-align: center;
      margin: 1em;
      border-radius: 0.5em;
      color: #333;
      text-shadow: none;
      padding: 0.5em 1em;
    }
    .hyc-created-by {
      bottom: 0;
      left: 0;
    }
    .hyc-last-updated {
      bottom: 0;
      right: 0;
    }
  }
}

.hyc-generic {
  .hyc-title {
    h1 {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      display: inline-block;
    }
    .label {
      margin-left: 0.5em;
      vertical-align: 100%;
    }
  }
  .hyc-logos {
    padding: 0;
    a {
      display: inline-block;
      text-decoration: none;
    }
    img {
      display: inline-block;
      padding: 1em 1em 1em 0;
      width: auto;
      height: 60px;
    }
  }
  .hyc-bugs {
    display: flex;
    div {
      padding: 0;
      margin: 0;
      font-size: 0.9em;
    }
    .hyc-item-count {
    }
    .hyc-item-count::after {
      content: "\00a0\00a0•\00a0\00a0";
    }
    .hyc-created-by {
    }
    .hyc-created-by::after {
      content: "\00a0\00a0•\00a0\00a0";
    }
    .hyc-last-updated {
    }
  }
}

.hyc-description {
  padding: 0 1em 0 2em;
  text-align: justify;
  text-justify: kashida;
}

.hyc-metadata {
  padding: 0 2em 0 1em;
  h2 {
    margin: 0 0 0.5em 0;
    font-size: 1.25em;
  }
  dl {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid #ddd;
  }
  div {
    display: flex;
    padding: 3px;
    border-bottom: 1px solid #ddd;
    dt{
      font-weight: bold;
      flex-basis: 115px;
    }
    dd {
      flex-basis: auto;
    }
  }
}

.hyc-blacklight {
  padding: 0 1em;
}

.hyc-bl-title {
  h2 {
    margin: 0 0 0.5em;
    font-size: 1.5em;
  }
}

.hyc-bl-sort {
  margin-bottom: 1em;
  margin-top: 1em;
  form {
    fieldset {
      margin: 0;
    }
  }
  .view-type {
    margin-left: 1em;
  }
  label {
    font-weight: normal;
  }
}

.hyc-bl-results {
  .alert {
    margin: 0;
  }
  th {
    white-space: nowrap;
  }
}

.hyc-bl-pager {
  margin-bottom: 2em;
  .pager {
    margin: 0;
    padding: 0;
  }
  .pagination {
    display: block;
    margin: 0;
    padding: 0;
    li a,
    .active span {
      border-radius: 3px;
      margin-right: 3px;
    }
  }
}

.tiny-nudge {
  margin-left: 0.5em;
}
