#facet-panel-collapse {
    display: inline-block !important; 
    width: 100%;
}

.navbar-toggler-icon {
    display: none;
}

.facet-label .facet_select, .selected, .facet-label .remove {
    margin-right: 0.5rem;
}