#facet-panel-collapse {
    display: inline-block !important;
    width: 100%;
}

.facet-field-heading button.collapsed::after {
    transition: transform 0.25s ease;
}

.facet-field-heading button::after {
    transition: transform 0.25s ease;
}

.collapsing {
    transition: height 0.25s ease;
}

.facets-header > .navbar-toggler {
    display: none;
}

.facet-label .facet_select, .selected, .facet-label .remove {
    margin-right: 0.5rem;
}

.facet-label .remove {
    margin-left: 0.75rem;
}

ul.facet-values.list-unstyled {
    display: table;
    table-layout: fixed;
    width: 100%;

    > li {
        display: table-row;

        > .facet-label {
            display: table-cell;
            hyphens: auto;
            padding: 0 0.875rem 0.375rem 0.875rem;
            text-indent: -0.938rem;

            > a.facet_select { margin-right: unset;}
        }

        > .facet-count {
            display: table-cell;
            text-align: right;
        }
    }
}

.filter-name:after {
    content: "\f105";
    font-family: "FontAwesome";
    padding-left: 0.5rem;
}
