// Styles below keep footer at bottom of viewport
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: calc(#{$footer-height} + #{$footer-top-margin});

  &.dashboard {
    margin-bottom: 0;
  }
}


.site-footer {
  margin-top: $footer-top-margin;
  padding: 10px;

  // Styles below keep footer at bottom of viewport
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  // make more room in the footer for mobile devices
  body {
    margin-bottom: calc(#{2 * $footer-height} + #{$footer-top-margin});
  }
  .site-footer {
    height: 2 * $footer-height;
  }
}
