@media (min-width: map-get($grid-breakpoints, "sm")) {
  .fixedsticky {
    margin-top: 1em;
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .fixedsticky {
    margin-top: 0;
    top: 0; /* Required to get consistent results in Safari and Chrome */
  }

  .fixedsticky-withoutfixedfixed .fixedsticky-on,
  .fixed-supported .fixedsticky-on {
    left: $save-viz-widget-left;
    /* Required so that the widget doesn't pop back to top when public desc long */
    bottom: $save-viz-widget-bottom;
  }
}

.legend-save-work {
  border: none;
  font-size: $save-viz-widget-legend-font;
  margin-bottom: $save-viz-widget-legend-margin;
}

.requirements, .visibility {
  list-style-type: none;
  padding-left: 8px;
}

// FIXME: There should be a better way to implement these with FontAwesome direct in the markup?
aside.form-progress {
  .incomplete::before {
    content: "\e101";
    color: $brand-danger;
    font-family: 'Glyphicons Halflings';
    padding-right: 5px;
  }

  .complete::before {
    content: "\e013";
    color: $brand-success;
    font-family: 'Glyphicons Halflings';
    padding-right: 5px;
  }
}

.progress-bar-complete {
  width: 100%;
}


