#search-form-header {
  margin-top: $search-bar-margin-top;
}

.searchbar-right {
  margin-right: 0;
}

// We need these ancestor selectors to override Bootstrap and push
// The bell icon right next to the user util links dropdown.
.nav > li > .notify-number {
  padding-right: 0;
}

.dropdown-toggle:focus {
  outline: 2px auto Highlight; // FireFox
  outline: 5px auto -webkit-focus-ring-color; // Chrome, Safari
  outline: -2px;
}
