.form-actions > form.button_to {
  // make sure a rails button_to form renders inline when it's in a bootstrap .form-actions line.
  display: inline-block;
  margin-bottom:0;
}

.main-header {
  margin-bottom: 30px;
  margin-top: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid $gray-lighter;
}

.representative-media {
  display: block;
  padding: 0.5em 0;
}

.workflow-affix {
  position: fixed;
  bottom: 0;
  background: #FFF;
  z-index: 2;
  left: 0;
  right: 0;
  max-width: 1140px;
  margin: 0 auto;
}
