.form-actions > form.button_to {
  // make sure a rails button_to form renders inline when it's in a bootstrap .form-actions line.
  display: inline-block;
  margin-bottom:0;
}

.main-header {
  margin-bottom: 30px;
  h1 {
    margin-top: 0;
  }
}

.representative-media {
  display: block;
  padding: 0.5em 0;
}

.panel-workflow {
  background: #FFF;
  border-color: #e0e0e0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 1140px;
  right: 0;
  z-index: 2;
}
