.recent_uploads {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.recent-item {
  border-top: 1px solid #ddd;
  font-size: 0.9em;
  min-height: 100px;
  padding: 8px;

  h3 {
    font-size: 1.1em;
    margin-top: 0;
  }

  img {
    width: 90px;
  }

  .recent-label {
    color: $gray;
    font-weight: bold;
  }
}
