// Settings
//
// Variables, colors, etc. that are used in Hyrax.
// Some are unique or override other variables from Bootstrap.

$classic-white: #FFF !default;
$vermilion: #F30 !default;

// Nav and Search Bar
$search-bar-margin-top: 0.50em;

// Dashboard
$dashboard-border-color: $gray-lighter !default;

$icon-background-color: $vermilion !default;
$icon-border-color: $classic-white !default;
$icon-font-color: $classic-white !default;
$icon-link-color: $gray-light !default;
$icon-link-hover-color: $gray-base !default;
$icon-background-color-hover: $classic-white !default;
$icon-border-color-hover: $gray-base !default;
$icon-font-color-hover: $gray-base !default;

// Collection Icon
$collection-icon-search-lg: 8em !default;

// File Show Page
$file-show-term-color: $gray-dark !default;
$file-listing-link-color: $brand-primary !default;
$heading-border-color: $gray-light !default;

// Work Show Page
$related-files-thumbnail-width: 150px;

// Save Visibility Widget
$save-viz-widget-bottom: 8.57em;
$save-viz-widget-left: 66.66666667%;
$save-viz-widget-legend-font: 1.15em;
$save-viz-widget-legend-margin: 0.5em;
