// Styles for the user index and show page

.views-downloads-dashboard {
  padding-left: $padding-large-horizontal;
}

.panel-user {
  word-break: break-word;
}

#user_info {
  dt {
    margin-top: $padding-small-vertical;
  }
}

.activity-display {
  max-height: 100%;
  overflow: scroll;
  padding-bottom: 300px;
  position: fixed;

  .activity-date {
    padding-right: 130px;
  }
}
