$masthead-image-blur: 1px !default;

$navbar-transparent-color: $gray !default;
$navbar-transparent-bg: rgba(0, 0, 0, 0.25) !default;
$navbar-transparent-border: $gray !default;
$navbar-transparent-link-color: $gray-lighter !default;
$navbar-transparent-link-hover-color: $gray-lighter !default;
$navbar-transparent-link-hover-bg: rgba(255, 255, 255, 0.15) !default;
$navbar-transparent-link-active-color: $gray-lighter !default;
$navbar-transparent-link-active-bg: rgba(255, 255, 255, 0.2) !default;

$title-height: 75px !default;
$marketing-text-color: $gray-darker !important;
$marketing-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) !important;

$footer-top-margin: 3 * $padding-small-vertical !default;
$footer-height: 118px !default;
