.related-files {
  .thumbnail {
    width: $related-files-thumbnail-width;
  }
}

.no-preview, .social-media {
  padding: $panel-body-padding;
}

header > h1 .label {
  font-size: $font-size-base;
  vertical-align: middle;
}

.citations {
  padding: $panel-body-padding;
  .citations-header {
    font-weight: bold;
  }
  .citations-list {
    margin-left: 2em;
  }
}

.relationships, .attributes {
  tbody th {
    width: 20%;
  }
  ul.tabular {
    padding-left: 0px;
  }
}

ul.tabular {
  list-style: none;
}

.show-actions {
  padding: $panel-body-padding;
  // text-align: center;
}
