.related-files {
  .thumbnail {
    width: $related-files-thumbnail-width;
  }
}

.no-preview, .social-media {
  padding: $panel-body-padding;
}

header > h1 .label {
  font-size: $font-size-base;
  vertical-align: middle;
}

.citations {
  padding: $panel-body-padding;
}

.relationships, .attributes {
  tbody th {
    width: 20%;
  }
  ul.tabular {
    padding-left: 0px;
  }
}

ul.tabular {
  list-style: none;
}

.show-actions {
  padding: $panel-body-padding;
  // text-align: center;
}

.table.table-borderless {
  th,
  td {
    border: 0;
    padding: 8px;
    vertical-align: top;
  }

  th {
    text-align: right;
  }
}

.work-type-tag {
  color: #808080;
}

.work-type {
  margin-bottom: 18px;
  margin-top: -8px;
}

.panel-workflow {
  border-color: #e0e0e0;

  .panel-heading {
    background-color: #E6AB5F;
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }

  .panel-body {
    background-color: #F2F1EB;
  }
}

.workflow-actions {
  background-color: #F8F8F8;
}
