/* These styles are very specific to override the thumbnails from blacklight gallery */

.documents-slideshow {
  .grid {
    .document {
      .thumbnail {
        padding: 0;

        > img {
          left: 0;
          max-width: 100%;
          top: 0;
        }
      }
    }
  }
}

.documents-gallery li div.search-result-wrapper {
    margin: 0.25rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;

    > .document-thumbnail {
      margin: 0 auto 0.5rem auto;
    }

    > header {
      margin: 0.5rem auto;
      text-align: center;
      width: 100%;
      height: fit-content;
    }

    > .document-metadata {
      margin: unset;
    }
}