      <div class="form-group radio_buttons member_resource_options">
        <span class="form-check">
          <%= radio_button_tag "thumbnail_id", node.id, @form.thumbnail_id == node.id, id: "thumbnail_id_#{node.id}", class: "form-check-input radio_buttons" %>
          <%= label_tag "thumbnail_id_#{node.id}", t('.thumbnail'), class: 'form-check-label' %>
        </span>
        <span class="form-check">
          <%= radio_button_tag "representative_id", node.id, @form.representative_id == node.id, id: "representative_id_#{node.id}", class: "form-check-input radio_buttons" %>
          <%= label_tag "representative_id_#{node.id}", t('.representative_media'), class: 'form-check-label' %>
        </span>
      </div>
