  <div class="row">
    <div class="col-md-12">
      <fieldset id="representative-image">
        <legend>
          <%= t("hyrax.base.form_thumbnail.legend_html") %>
        </legend>
        <p><%= t("hyrax.base.form_thumbnail.help_html") %></p>
        <%= f.select :thumbnail_id, @form.select_files, {}, { class: 'form-control' } %>
      </fieldset>
    </div>
  </div>
