  <div class="row">
    <div class="col-md-12">
      <fieldset id="representative-media">
        <legend>
          Representative Media
        </legend>
        <p>Select the file with media that represents this <%= f.object.human_readable_type %>.</p>
        <%= f.select :representative_id, @form.select_files, {}, { class: 'form-control' } %>
      </fieldset>
    </div>
  </div>

