<div class="row">
  <div class="col-md-12">
    <fieldset id="representative-media">
      <legend>
        <%= t("hyrax.base.form_rendering.legend_html") %>
      </legend>
      <div class="form-group">
        <span class="help-block"><%= t("hyrax.base.form_rendering.help_html") %></span>
        <%= f.select :rendering_ids,
                    form_file_set_select_for(parent: f.object),
                    { include_blank: true },
                    { class: 'form-control', multiple: true } %>
      </div>
    </fieldset>
  </div>
</div>
