<h2><%= t("hyrax.works.form.in_collections") %></h2>
<div id="collection-widget">
  <%= f.input :member_of_collection_ids,
              as: :select,
              collection: f.object.collections_for_select,
              selected: f.object.member_of_collections(params[:add_works_to_collection]),
              input_html: { class: 'form-control', multiple: true } %>
</div>
