<% if presenter.representative_id.present? && presenter.representative_presenter.present? %>
  <% if defined?(viewer) && viewer %>
    <%= PulUvRails::UniversalViewer.script_tag %>
    <div class="viewer-wrapper">
      <div class="uv viewer" data-uri="<%= main_app.polymorphic_path [main_app, :manifest, presenter], { locale: nil } %>"></div>
    </div>
  <% else %>
    <%= media_display presenter.representative_presenter %>
  <% end %>
<% else %>
  <%= image_tag 'default.png', class: "canonical-image" %>
<% end %>
