<p><%= t('.share_with_html', account_name: t('hyrax.account_name')) %></p>
<%= render 'hyrax/file_sets/groups_description' %>
<h5><b><%= t('.definition_heading') %></b></h5>
<p>
  <%= t('.definitions_html', application_name: application_name, institution_name: institution_name) %>
</p>
