<h3 class="work-type-tag">
  <% if Hyrax.config.display_work_icon? %>
    <span class="<%= t("hyrax.icons.#{presenter.model}") %>" aria-hidden="true"></span>
  <% end %>
   <%= presenter.human_readable_type %>
</h3>
