<div class="work-title-wrapper">
  <% presenter.title.each_with_index do |title, index| %>
    <% if index == 0 %>
      <div class="title-with-badges">
        <h1><%= title %></h1>
        <%= presenter.permission_badge %>
        <%= presenter.workflow.badge %>
      </div>
    <% else %>
      <h1><%= title %></h1>
    <% end %>
  <% end %>
</div>
