<% provide :page_title, curation_concern_page_title(@change_set) %>
<% provide :page_header do %>
  <h1><span class="fa fa-edit"></span><%= t("hyrax.works.update.header") %></h1>
<% end %>

<%= render 'form' %>
