<% provide :page_title, title_presenter(curation_concern).page_title %>
<% provide :page_header do %>
  <h1><%= t("hyrax.works.create.header", type: curation_concern.human_readable_type) %></h1>
<% end %>

<%= render 'form' %>
