<% provide :page_title, curation_concern_page_title(@change_set) %>
<% provide :page_header do %>
  <h1><%= t("hyrax.works.create.header", type: @change_set.human_readable_type) %></h1>
<% end %>

<%= render 'form' %>
