<h1><%= t('.unauthorized') %></h1>
<% if respond_to?(:curation_concern) && curation_concern %>
  <p><%= t('.is_private', type: curation_concern.human_readable_type.downcase ) %><p>
  <p><%= t('.id', id: curation_concern.id) %>
<% else %>
  <p><%= t('.page_is_private') %><p>
<% end %>
